{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends '@App/base.html.twig' %}

{% block main %}
    <div id="main-content" class="container">
        <div class="error-page">
            <span class="icon">&nbsp;</span>

            <h2>{{ 'error.500.title' | trans | raw }}</h2>

            <p>{{ 'error.500.body' | trans | raw }}</p>

            <a href="{{ path('homepage') }}">{{ 'error.500.linkText' | trans | raw }}</a>
        </div>
    </div>
{% endblock %}
{% block undermain %}
{% endblock %}