<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="1;url={{ absoluteurl }}" />
        <link rel="alternate" href="{{ baseurl }}" hreflang="x-default" />
        <title>Redirecting to {{ absoluteurl }}</title>
    </head>
    <body>
        Redirecting to <a href="{{ absoluteurl }}">{{ absoluteurl }}</a>.
    </body>
</html>