{% import "AppBundle:frontend/macro:macro.html.twig" as macro %}

<!DOCTYPE html>
<html lang="{{ app.request.locale |slice(0, 2) | lower }}">
    <head>
    	<meta http-equiv="content-language" content="{{ app.request.locale |slice(0, 2) | lower }}-{{ app.request.locale |slice(3, 5) | lower }}" />
	    <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, maximum-scale=1" />
        <meta charset="UTF-8" />
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_lang_alternates() }}
        {{ sonata_seo_link_canonical() }}
				
		
		{% if app.request.pathinfo | length == 7 or app.request.pathinfo | length == 9  %}
		
			<link rel="alternate" hreflang="x-default" href="https://oilproducts.eni.com/it_IT/" />
			
			<link rel="alternate" hreflang="it"     href="https://oilproducts.eni.com/it_IT/" />
      		<link rel="alternate" hreflang="en"     href="https://oilproducts.eni.com/en_GB/" />
      		<link rel="alternate" hreflang="de"     href="https://oilproducts.eni.com/de_DE/" />
      		<link rel="alternate" hreflang="nl"     href="https://oilproducts.eni.com/nl_BX/" />
      		<link rel="alternate" hreflang="fr"     href="https://oilproducts.eni.com/fr_BX/" />
      		<link rel="alternate" hreflang="th"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="vi"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="ms"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="zh"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="ja"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="ko"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="tl"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="km"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="es"     href="https://oilproducts.eni.com/es_ES/" />
      		<link rel="alternate" hreflang="pt"     href="https://oilproducts.eni.com/pt_PT/" />
    		<link rel="alternate" hreflang="it-it"     href="https://oilproducts.eni.com/it_IT/" />
      		<link rel="alternate" hreflang="en-it"     href="https://oilproducts.eni.com/en_GB/" />
      		<link rel="alternate" hreflang="de-de"     href="https://oilproducts.eni.com/de_DE/" />
      		<link rel="alternate" hreflang="en-de"     href="https://oilproducts.eni.com/en_DE/" />      		
			<link rel="alternate" hreflang="nl-be"     href="https://oilproducts.eni.com/nl_BX/" />
      		<link rel="alternate" hreflang="fr-be"     href="https://oilproducts.eni.com/fr_BX/" />
      		<link rel="alternate" hreflang="en-be"     href="https://oilproducts.eni.com/en_BX/" />      		
      		<link rel="alternate" hreflang="nl-nl"     href="https://oilproducts.eni.com/nl_BX/" />
      		<link rel="alternate" hreflang="en-nl"     href="https://oilproducts.eni.com/en_BX/" />      		
      		<link rel="alternate" hreflang="nl-lu"     href="https://oilproducts.eni.com/nl_BX/" />
      		<link rel="alternate" hreflang="fr-lu"     href="https://oilproducts.eni.com/fr_BX/" />
      		<link rel="alternate" hreflang="en-lu"     href="https://oilproducts.eni.com/en_BX/" />
      		<link rel="alternate" hreflang="en-bd"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-mm"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-la"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-th"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-kh"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-vn"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-my"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-sg"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-tw"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-ph"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-kp"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-kr"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-jp"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-bn"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-nz"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="en-au"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="th-th"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="vi-vn"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="ms-my"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="ms-sg"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="ms-bn"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="zh-tw"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="ja-jp"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="ko-kp"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="ko-kr"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="tl-ph"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="km-kh"     href="https://oilproducts.eni.com/en_APAC/" />
      		<link rel="alternate" hreflang="es-es"     href="https://oilproducts.eni.com/es_ES/" />
      		<link rel="alternate" hreflang="pt-pt"     href="https://oilproducts.eni.com/pt_PT/" />
      		
		{% endif%}
		
        {% if app.environment == 'prod' %}
			<meta name="google-site-verification" content="X9AnoL8V3L6we4-A8PR4oQwseGXox5o7LW_4VXfbPvc" />
			
			<!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-T9VHRJ9');</script>
            <!-- End Google Tag Manager -->
	
            		
		{% endif%}
		

        {% block stylesheets %}
            {% stylesheets filter="lessphp" output="css/app.css"
                "@AppBundle/Resources/assets/vendor/css/*.css"
                "@AppBundle/Resources/assets/less/*.less"
                "@AppBundle/Resources/assets/vendor/css/icheck/grey.css"
                "@AppBundle/Resources/assets/vendor/css/select2.min.css"
				"@AppBundle/Resources/countryModal/less/countryModal.less"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,600,400,300,400italic' rel='stylesheet' type='text/css' />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block headjavascripts %}
             {% if app.environment == 'prod' %}
                    {% javascripts
                        '@AppBundle/Resources/public/js/webtrends/webtrends.load.js' %}
                        <script type="text/javascript" src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                {% endif%}
        {% endblock %}

    </head>

    <body>
		
		{% if app.environment == 'prod' %}
    		<!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9VHRJ9"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->

		{% endif%}
		
		
        {% block header %}
            <header>
				{% block header1 %}
					{% include "AppBundle:frontend/partial:header1.html.twig" %}
				{% endblock %}

				{% block header2 %}
				    {% include "AppBundle:frontend/partial:header2.html.twig" %}
				{% endblock %}

				{% block breadcrumb %}
                    {% include "AppBundle:frontend/partial:breadcrumb.html.twig" %}
				{% endblock %}

            </header>
        {% endblock %}

        {% block uppermain %}{% endblock %}

		<section class="bg-white">
	        {% block main %}{% endblock %}
		</section>

        {% block undermain %}
            {% if classificationBranch is defined and classificationBranch.firstStep.contactGroup != null %}
                {% set slug =  classificationBranch.firstStep.contactGroup.slug %}
            {% else %}
                {% set slug =  '' %}
            {% endif %}
            {{ include("AppBundle:frontend/partial:undermain.html.twig", { 'slug': slug }) }}
        {% endblock %}

        {% block cookiebar %}
			{% include "AppBundle:frontend/partial:cookie_bar.html.twig" %}
        {% endblock %}

        {% block footer %}
			{% include "AppBundle:frontend/partial:footer.html.twig" %}
        {% endblock %}
		
		{% block countryModal %}
			{% include "AppBundle:frontend/partial:countryModal.html.twig" %}
		{% endblock %}
		
		<div id="cookiesBlock"></div>
		
        {% block javascripts %}
            {% javascripts filter="?jsqueeze" output="js/app.js"
                "@AppBundle/Resources/assets/vendor/js/jquery.js"
                "@AppBundle/Resources/assets/vendor/js/ie10-viewport-bug-workaround.js"
                "@AppBundle/Resources/assets/vendor/js/bootstrap.js"
                "@AppBundle/Resources/assets/vendor/js/js.cookie.js"
                "@AppBundle/Resources/assets/vendor/js/icheck.js"
                "@AppBundle/Resources/assets/vendor/js/select2.min.js"
                "@AppBundle/Resources/assets/vendor/js/validator.min.js"
                "@AppBundle/Resources/assets/js/custom.js"
                "@AppBundle/Resources/assets/js/search.js"
                "@AppBundle/Resources/assets/js/gplcontact.js"				
            %}
                <script src="{{ asset_url }}"></script>
				<script> 
					$('#disabled-cookies').on('click',function(){
						if(this.checked){
							window.open("https://tools.google.com/dlpage/gaoptout?hl=en", "_blank");
						}
					});
				</script>
            {% endjavascripts %}
        {% endblock %}
		
    </body>
</html>
