{% extends '@App/base.html.twig' %}

{% block main %}

	{% if contactGroup.bannerImage %}
	<section class="banner backgroundSize" style='background-image: url("{% path contactGroup.bannerImage, 'reference' %}")'>
	{% else %} 
	<section class="banner backgroundSize" style='background-image: url("{{ asset('bundles/app/img/banner-default.jpg') }}")'>
	{% endif %}
    </section>

    <div id="main-content" class="container">
        <section class="content-listing contact-us level-2 container-fluid">
            <div class="text-intro {{contactGroup.iconName}}">
                <span class="contact-division"><span class="icon">&nbsp;</span></span>

                <h2>{{contactGroup.title}}</h2>

                <p>{{contactGroup.subtitle| raw}}</p>
            </div>

            {% if contactGroup.email %}
            <div class="row">
                <div class="email">
                <span class="icon-container">
                    <span class="icon">&nbsp;</span>
                </span>

                    <span class="text">{{ 'contact.detail.email_text' | trans | raw}}</span>
                    <a class="btn-ylw" title="" href="mailto:{{ contactGroup.email}}">{{ contactGroup.email}}</a>
                </div>
            </div>
            {% endif %}
            {% if countriesClass %}
                <div class="readinglist-container">
                    <div id="readinglist"></div>
                </div>
                {% set officersClass = '' %}
            {% else %}
                {% set officersClass = 'officers' %}
            {% endif %}
            <ul class="row {{ countriesClass }} {{ officersClass }}">
                {% for subgroupName,subgroup in contactsSubGroupTitleMap %}
                    <li>
                        {% if subgroup.subGroupObj.iconName %}
                        
                            <h3 class="col col-md-4 col-sm-4 col-xs-12 col-no-offset-left country {{ subgroup.subGroupObj.iconName }}">
                                {{ subgroupName }}
                                <span>&nbsp;</span>
                            </h3>
                        {% else %}
                            <h3 class="col col-md-4 col-sm-4 col-xs-12 col-no-offset-left">
                                {{ subgroupName }}
                                <span class="icon-wrapper">
                                    <span class="icon">&nbsp;</span>
                                </span>
                            </h3>
                        {% endif %}
                        <ul class="col col-md-8 col-sm-8 col-xs-12 col-no-offset-right">
                            {% for title,contacts in subgroup.byTitle %}
                                <li class="col col-md-6 col-sm-6 col-xs-12 col-no-offset-{{ cycle(['left', 'right'],loop.index0) }}">
                                    <h4>{{ title }}</h4>
                                    {% for contact in contacts %}

                                        <div class="content-wrapper">
                                            <span>{{ contact.name }}</span>

                                            <div class="contacts">
                                                {% if contact.company %}
                                                    <p>{{ 'contact.detail.company' | trans | raw }}: <span>{{ contact.company }}</span></p>
                                                {% endif %}
                                                {% if contact.intoplane %}
                                                    <p>{{ 'contact.detail.intoplane' | trans | raw }}: <span>{{ contact.intoplane }}</a></span></p>
                                                {% endif %}
                                                {% if contact.dayworkschedule %}
                                                    <p class="working-hours"><span class="icon">&nbsp;</span> {{ 'contact.detail.dayworkschedule' | trans | raw }}: <span>{{ contact.dayworkschedule }}</a></span></p>
                                                {% endif %}
                                                {% if contact.airportManager %}
                                                    <p class="manager"><span class="icon">&nbsp;</span> {{ 'contact.detail.airport_manager' | trans | raw }}:{{ contact.airportManager }}</p>
                                                {% endif %}
                                                {% if contact.phone %}
                                                    <p class="phone"><span class="icon">&nbsp;</span> {{ 'contact.detail.phonefax_label' | trans | raw }}: <span><a href="tel:{{ contact.phone }}" title="">{{ contact.phone }}</a></span></p>
                                                {% endif %}
                                                {% if contact.phone2 %}
                                                    <p class="phone"><span class="icon">&nbsp;</span> {{ 'contact.detail.phonefax_label' | trans | raw }}: <span><a href="tel:{{ contact.phone2 }}" title="">{{ contact.phone2 }}</a></span></p>
                                                {% endif %}
                                                {% if contact.fax %}
                                                    <p class="phone"><span class="icon">&nbsp;</span> {{ 'contact.detail.fax_label' | trans | raw }}: <span><a href="tel:{{ contact.fax }}" title="">{{ contact.fax }}</a></span></p>
                                                {% endif %}
                                                {% if contact.fax2 %}
                                                    <p class="phone"><span class="icon">&nbsp;</span> {{ 'contact.detail.fax_label' | trans | raw }}: <span><a href="tel:{{ contact.fax2 }}" title="">{{ contact.fax2 }}</a></span></p>
                                                {% endif %}
                                                {% if contact.mobile %}
                                                    <p class="mobile"><span class="icon">&nbsp;</span> {{ 'contact.detail.mobile_label' | trans | raw }}: <span><a href="tel:{{ contact.mobile }}" title="">{{ contact.mobile }}</a></span></p>
                                                {% endif %}
                                                {% if contact.mobile2 %}
                                                    <p class="mobile"><span class="icon">&nbsp;</span> {{ 'contact.detail.mobile_label' | trans | raw }}: <span><a href="tel:{{ contact.mobile2 }}" title="">{{ contact.mobile2 }}</a></span></p>
                                                {% endif %}
                                                {% if contact.email %}
                                                    <p class="email"><span class="icon">&nbsp;</span> {{ 'contact.detail.email_label' | trans | raw }}: <a href="mailto:{{ contact.email }}" title="">{{ contact.email }}</a></p>
                                                {% endif %}
                                                {% if contact.email2 %}
                                                    <p class="email"><span class="icon">&nbsp;</span> {{ 'contact.detail.email_label' | trans | raw }}: <a href="mailto:{{ contact.email2 }}" title="">{{ contact.email2 }}</a></p>
                                                {% endif %}
                                                {% if contact.address %}
                                                    <p class="address"><span class="icon">&nbsp;</span> {{ 'contact.detail.address_label' | trans | raw }}: <a href="{{ contact.address }}" title="">{{ contact.address }}</a></p>
                                                {% endif %}
                                                {% if contact.address2 %}
                                                    <p class="address"><span class="icon">&nbsp;</span> {{ 'contact.detail.address_label' | trans | raw }}: <a href="{{ contact.address2 }}" title="">{{ contact.address2 }}</a></p>
                                                {% endif %}
                                                {% if contact.site %}
                                                    <p class="site"><span class="icon">&nbsp;</span> {{ 'contact.detail.site_label' | trans | raw }}: <a href="http://{{ contact.site }}" target="_blank" title="">{{ contact.site }}</a></p>
                                                {% endif %}
                                                {% if contact.site2 %}
                                                    <p class="site"><span class="icon">&nbsp;</span> {{ 'contact.detail.site_label' | trans | raw }}: <a href="http://{{ contact.site2 }}" target="_blank" title="">{{ contact.site2 }}</a></p>
                                                {% endif %}
                                               
                                                
                                            </div>
                                        </div>
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% if subgroup.subGroupObj.email  %}
                            <div class="email">
                                        <span class="icon-container">
                                            <span class="icon">&nbsp;</span>
                                        </span>
                                <span class="textmail">{{ 'contact.detail.email_text' | trans | raw}}</span>
                                <a class="btn-ylw" title="" href="mailto:{{ subgroup.subGroupObj.email}}">{{ subgroup.subGroupObj.email}}</a>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
        
        {% if contactGroup.pdf is defined and contactGroup.pdf(app.request.getLocale()) != null%}
            <section class="banner banner-contacts">
                <a class="btn-ylw" title={{ contactGroup.pdf(app.request.getLocale()).name }} href="{{ path('sonata_media_download', {'id': contactGroup.pdf(app.request.getLocale())|sonata_urlsafeid }) }}"><span>{{ 'contact.detail.download' | trans | raw }}</span></a>
            </section>
        {% endif %}
        
        
    </div>
{% endblock %}
