{% extends '@App/base.html.twig' %}

{% block main %}

	<section class="banner backgroundSize" style='height:100px;'>
	&nbsp;
    </section>
		
    <div id="main-content" class="container">
        <section class="content-listing contact-us level-3 container-fluid">
        
         	<div class="text-intro">
                <span class="contact-division"><span class="icon_de">&nbsp;</span></span>

                <h1>{{'contact.de.title' | trans | raw}}</h1>

                <p>{{'contact.list.intro' | trans | raw}}</p>
            </div>
            
             <div class="text-intro">
                <address>{{ 'contact.list.adress' | trans | raw}}</address>
            </div>    
          
            <ul class="row">
                {% for contactGroup in contactGroups %}
                    <li class="col col-md-4 col-sm-6 {{contactGroup.iconName}}">
                        <div class="wrap" style="background-color: #fed300;" >
                            <div class="text {{contactGroup.iconName}}">
                                <h2>{{contactGroup.title}}</h2>

                                <p>{{contactGroup.subtitle| raw}}</p>

                                <span class="contact-division"><span class="icon">&nbsp;</span></span>
                                <a class="link-to-content" title="{{contactGroup.title}}" href="{{ path('contact_detail', { slug: contactGroup.slug }) }}">&nbsp;</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
                        
        </section>
        
        {{ render(controller('AppBundle:Germania:dataSheetBanner')) }}  
            
    </div>
{% endblock %}

{% block undermain %}
  	<section class="banner banner-contacts num-verde" style='background-image: url("{{ asset('bundles/app/img/banner-contacts-num-verde.jpg') }}")'>
      	<div class="contrast">
            <span class="icon">&nbsp;</span>
            <h1>{{ 'contact.list.phoneus' | trans | raw }}</h1>
            <span class="btn-ylw">{{ 'contact.list.freephonenumber' | trans | raw }}</span>
            <a class="btn-ylw" title="{{ 'contact.list.freephonenumber.title' | trans | raw }}" href="tel:{{ 'contact.list.freephonenumber' | trans | raw }}">{{ 'contact.list.freephonenumber' | trans | raw }}</a>
    	</div>
	</section>
{% endblock %}