{% extends '@App/base.html.twig' %}

{% block main %}
	
	<section class="banner backgroundSize" style='height:50px;'>
	&nbsp;
    </section>

    <div id="main-content" class="container">
        <section class="content-listing contact-us level-2 container-fluid">
        
        	<div class="text-intro">
                <h1>{{'contact.de.title' | trans | raw}}</h1>

                <p>{{'contact.list.intro' | trans | raw}}</p>
            </div>
            
          	<hr/>

            <ul class="row"  style="border-bottom: none;">
                {% for subgroupName,subgroup in contactsSubGroupTitleMap %}
                    <li style="border-bottom: none; padding-bottom:0px;">
                       <span class="col col-md-2 col-sm-2 col-xs-12">&nbsp;</span>
                       
                       <h3 class="col col-md-4 col-sm-4 col-xs-12 country {{ subgroup.subGroupObj.iconName }}">
                          <span>&nbsp;</span>
                       </h3>
                     
                        <ul class="col col-md-6 col-sm-6 col-xs-12">
                            {% for title,contacts in subgroup.byTitle %}
                                <li class="col col-md-7 col-sm-7 col-xs-12 col-no-offset-right" >
                                   {% for contact in contacts %}
                                    <h4><span>Area: </span>{{ title }} - {{ subgroupName }}</h4>
                                    
                                        <div class="content-wrapper">
                                            <span style="font-weight: 600;">{{ contact.name }}</span>

                                            <div class="contacts">
                                                {% if contact.phone %}
                                                    <p class="phone"><span class="icon">&nbsp;</span> {{ 'contact.detail.phonefax_label' | trans | raw }}: <span><a href="tel:{{ contact.phone }}" title="">{{ contact.phone }}</a></span></p>
                                                {% endif %}
                                                {% if contact.fax %}
                                                    <p class="phone"><span class="icon">&nbsp;</span> {{ 'contact.detail.fax_label' | trans | raw }}: <span><a href="tel:{{ contact.fax }}" title="">{{ contact.fax }}</a></span></p>
                                                {% endif %}
                                                {% if contact.mobile %}
                                                    <p class="mobile"><span class="icon">&nbsp;</span> {{ 'contact.detail.mobile_label' | trans | raw }}: <span><a href="tel:{{ contact.mobile }}" title="">{{ contact.mobile }}</a></span></p>
                                                {% endif %}
                                                {% if contact.email %}
                                                    <p class="email"><span class="icon">&nbsp;</span> {{ 'contact.detail.email_label' | trans | raw }}: <a href="mailto:{{ contact.email }}" title="">{{ contact.email }}</a></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                        
                      
                      
                    </li>
                {% endfor %}
            </ul>
        </section>
        
      {{ render(controller('AppBundle:Germania:dataSheetBanner')) }}          
        
    </div>
{% endblock %}

{% block undermain %} {#per la country DE non è previsto questa sezione del footer#} {% endblock %}
