/****  Bootstrap Carousel Styles ****/

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;

    /* Flip around the padding for proper display in narrow viewports */
    > .container {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar {
        padding-right: 15px;
        padding-left: 15px;

        .container {
            width: auto;
        }
    }
}



/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;

    /* Declare heights because of positioning of img element */
    .item {
        height: 500px;
        background-color: #777;
        background-position: top;
        background-size: cover;
    }
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

.carousel-inner > .item > img {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 500px;
}



@media (min-width: 768px) {
    .navbar-wrapper {
        margin-top: 20px;

        .container {
            padding-right: 15px;
            padding-left: 15px;
        }

        .navbar {
            padding-right: 0;
            padding-left: 0;
            border-radius: 4px;
        }
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}