// Variables

@import "paths.less";
@import "variables.less";


// Animations
@keyframes readinglist_slide_in {
    from {
        width: 47px;
    }

    to {
        width: 100px;
    }
}

@keyframes readinglist_show_text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html{
	overflow-x: hidden;
}

// Reset
body, section, article, header, footer, nav, menu, aside, div, .row, p, h1, h2, h3, h4, h5, h6, table, thead, tfoot, tbody, dl, dt, dd, ul, ol, li, a, span, em, strong, address {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 0 none;
}



body {
    font-weight: 400;
    font-size: @baseFontSize;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: scrollbar;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: @baseBoldFontWeight;
}

em {
    font-style: italic;
}



// Grid Overrides START

.container {
    width: 1240px;
    max-width: 100%;
}

.col .col {
    padding-right: 7px;
    padding-left: 7px;
}

.col-no-offset-left,
.col .col-no-offset-left,
.container > .row .col.col-no-offset-left,
.container-fluid > .row .col.col-no-offset-left {
    padding-left: 0;
}

.col-no-offset-right,
.col .col-no-offset-right,
.container > .row .col.col-no-offset-right,
.container-fluid > .row .col.col-no-offset-right {
    padding-right: 0;
}

.container > .row,
.container-fluid > .row {
    margin-left: -30px;
    margin-right: -30px;
}

.container > .row .container > .row,
.container-fluid > .row .container-fluid > .row,
.container-fluid > .container-fluid {
    margin-right: -15px;
    margin-left: -15px;
}

.container > .row .col,
.container-fluid > .row .col {
    padding-right: 15px;
    padding-left: 15px;
}

// Grid Overrides END



// Global Elements START

.ylw {
    color: @ylw;
}

.btn-ylw {
    display: inline-block;
    background-color: @ylw;
    font-style: normal;
    font-weight: @baseBoldFontWeight;
    font-size: @baseFontSize;
    color: @blkTabNotActive;
    padding: 8px 10px;
    border: 0 none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        color: @blkTabNotActive;
        background-color: @ylw;
    }
}

.form-group {
    margin-bottom: 0;
}

a.download {
    display: inline-block;
    line-height: 23px;
    margin-top: 40px;
    color: @dloadBlk;
    font-size: 16px;

    span {
        display: inline-block;

        &:first-child {
            display: block;
            float: left;
            width: 44px;
            height: 52px;
            margin-right: 10px;
            background: url('@{spriteMainPath}') no-repeat -57px top;
        }

        strong {
            font-weight: 600;
        }
    }

    &:hover span {
        text-decoration: underline;

        &:first-child {
            text-decoration: none;
        }
    }

    &.custom-icon {

	    span {

	        &:first-child {
	            line-height: 52px;
	            background: none;
	            width: auto;

	            img {
		            display: inline-block;
	            	max-height: 52px;
	            	vertical-align: text-bottom;
	        	}

	        }

	    }

    }

}


.icon_marker,
.icon_marker_big,
div.icon_marker,
div.icon_marker_big {
    cursor:pointer;
}

div.email {
    min-height: 78px;
    clear: left;
    overflow: hidden;
    position: relative;
    padding-left: 105px;
    margin-bottom: 40px;
    background-color: @greyLight;
    font-style: italic;
    font-size: 18px;
    color: @wh;

    .icon-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 85px;
        height: 100%;
        background-color: @ylw;

        .icon {
            height: 26px;
            width: 40px;
            margin: 25px auto 0;
            background-position: -60px -51px;
        }
    }

    .text, .textmail  {
        display: inline-block;
        width: 62%;
        padding-top: 25px;
    }

    .btn-ylw {
        float: right;
        margin: 19px 20px 0;
    }
}

em.tipo-highlight {
    font-style: normal;
    font-weight: @baseBoldFontWeight;
    font-size: 10px;
    color: @wh;
    text-transform: uppercase;
    padding: 3px 10px;
    text-shadow: none;
    letter-spacing: 1px;
}

em.services {
    background-color: @serviziLabelBg;
}

em.event {
    background-color: @eventoLabelBg;
}

em.news {
    background-color: @newsLabelBg;
}

.when,
.text-intro .when {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px dotted @greyDark;
    border-bottom: 1px dotted @greyDark;
    margin: 15px 0;
    font-weight: @baseBoldFontWeight;
    font-size: @baseFontSize;
    color: @greyDark;
    text-transform: uppercase;
}

.icon {
    display: block;
    background: url('@{spriteMainPath}') no-repeat;
}

.icon-triangle {
    width: 19px;
    height: 11px;
    position: absolute;
    right: 40px;
    top: -9px;
    background-position: -108px -77px;
    cursor: auto;
    text-decoration: none;
}

.backgroundSize {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
}

.contact-division {
    height: 138px;
    width: 138px;
    position: absolute;
    top: -69px;
    border: 3px solid @wh;
    margin: 0;
    border-radius: 80px;
    background-color: #EEECEC;
    left: 50%;
    margin-left: -69px;
    .icon {
        height: 74px;
        width: 74px;
        margin: 25px auto 0;
        background: url('@{spriteContactsPath}') no-repeat -34px top;

        .aviazione & {
            background-position: -107px 1px;
        }

        .agricoltura & {
            height: 65px;
            margin-top: 34px;
            background-position: -34px -72px;
        }

        .bitumi & {
            width: 84px;
            height: 68px;
            background-position: -108px -72px;
        }

        .grassi & {
            width: 63px;
            margin-top: 29px;
            background-position: -34px -139px;
        }

        .carburanti & {
            position: relative;
            background-position: -113px -140px;
        }

        .additivi & {
            background-position: -196px -140px;
        }

        .gpl & {
            width: 78px;
            background-position: -199px -66px;
        }
        
        .sales_area_manager & {
            width: 78px;
           background: url('@{iconSalesManagerPath}') no-repeat 2px;
        }        
        
        .inside_sales & {
            width: 78px;
            background: url('@{iconInsideSalesPath}') no-repeat 9px 15px;
        }        
        
        .technical_service & {
            width: 78px;
            height: 90px;
            background: url('@{iconTechnicalServicePath}') no-repeat;
        }                
    }
    
   /* .icon_de {
    	position: absolute;
        height: 74px;
        width: 74px;
        margin: 32px 0px 0px -25px;
        background: url('@{iconContactPath}') no-repeat;
     }*/
}

.readinglist-container {
    position: relative;
}

#readinglist {
    width: 47px;
    height: 140px;
    position: absolute;
    right: -75px;
    top: 0;
    z-index: 9;
    background-color: @ylw;
    color: @blkTab;
    font-weight: 700;

    > span {
        display: block;
        cursor: pointer;

        .bullet {
            display: block;
            width: 10px;
            height: 10px;
            position: relative;
            margin: 20px 20px 0 auto;
            background-color: #B19300;
            border-radius: 10px;

            span {
                line-height: 8px;
                position: absolute;
                right: 20px;
                top: 0;
                opacity: 0;
            }
        }

        &:hover, &.active {
            .bullet {
                background-color: #4C3F00;
            }
        }
    }

    &:hover {
        animation-duration: 500ms;
        animation-name: readinglist_slide_in;
        animation-fill-mode: forwards;

        .bullet span {
            animation-duration: 500ms;
            animation-name: readinglist_show_text;
            animation-fill-mode: forwards;
        }
    }
}

.back-to-top {
    margin-top: 18px;
    color: @greyLight;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    .icon {
        background-position: -91px -94px;
        height: 48px;
        width: 49px;
        margin: 0 auto 5px;
        cursor: pointer;
    }
}

.dropdown {
    &:hover {
        background-color: @greyDark;

        button {
            color: @wh;
        }
    }

    button {
        background-color: transparent;
        padding-left: 15px;
        border: 0 none;
        border-right: 1px solid @greyDark;
        border-radius: 0;
        font-weight: @baseBoldFontWeight;
        line-height: 22px;
        color: @greyLight;

        &:hover {
            background-color: transparent;
            border-color: @greyDark;
        }
    }

    &.open {
        background-color: @greyDark;

        // Bootstrap pseudo-selectors ovverrides
        button,
        button:active,
        button:focus,
        button:active:focus,
        .btn-default:active,
        .btn-default:focus,
        .btn-default:active:focus,
        > .dropdown-toggle.btn.btn-default,
        > .dropdown-toggle.btn.btn-default:active,
        > .dropdown-toggle.btn.btn-default:focus,
        > .dropdown-toggle.btn.btn-default:active:focus {
            background-color: transparent;
            border-color: @greyDark;
            color: @wh;

            .caret {
                border-top: 0 none;
                border-bottom-width: 4px;
                border-bottom-style: dashed;
            }
        }
    }

    &.other-sites {
        width: 85%;

        button {
            width: 100%;
            padding-left: 12px;
            border: 1px solid @greyLight;
            text-align: left;
            font-weight: 400;
            color: @wh;
        }

        &:hover, &.open {
            background-color: transparent;

            button {
                background-color: @greyDark;
            }
        }
    }

    &.select-option {
        height: 60px;
        font-size: 18px;
        color: @greyLight;
        border: 1px solid @greyLight;
        background-color: @wh;

        button, &.open button {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0;
            border: 0 none;
            text-align: left;
            font-weight: 400;
            color: @greyLight;

            .caret {
                border-left-width: 6px;
                border-right-width: 6px;
                border-top-width: 8px;
                display: block;
                float: right;
                margin-top: 8px;
            }
        }

        &.open button .caret {
            border-width: 4px 6px 8px;
        }

        .dropdown-menu {
            min-width: auto;
            width: 100%;
            border: 1px solid @greyLight;
            border-top-width: 0;
            background-color: @wh;

            li {
                border: 0 none;

                a {
                    min-width: 100%;
                    max-width: 100%;
                    font-size: 18px;
                    color: @greyLight;
                }
            }
        }
    }

    .dropdown-menu {
        float: none;
        min-width: 0;
        z-index: 3;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        border: 0 none;
        margin: 0;
        background-color: @greyDark;

        li {
            display: block;
            border-top: 1px solid #858585;
            margin-left: 0;

            a {
                max-width: 150px;
                min-width: 100px;
                line-height: 30px;
                padding-left: 15px;
                color: @wh;

                &:hover {
                    color: @greyDark;
                }
            }

            > span:first-child {
                display: block;
                background-color: #F5F5F5;
                color: @greyDark;
                font-style: italic;
                font-weight: @baseBoldFontWeight;
                text-align: center;
                text-decoration: underline;
            }
        }
    }
}

.caret,
.btn .caret {
    margin-left: 4px;
}

.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0 none;
}

// Global Elements END



// Header START
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 21;
    background-color: @wh;
    border-bottom: 1px solid #D6D6D6;
    color: @greyDark;

    .row {
        padding: 0 15px;
        border-top: 1px solid #D6D6D6;
        background-color: transparent;
        border-radius: 0;

        &.upper {
            padding: 0 15px 0 0;
            border-top: 0 none;
            line-height: 44px;
        }

        &.middle {
            font-size: 16px;
        }

        &.lower {
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }

    .breadcrumb {
        li a {
            color: @greyDark;

            &.active {
                color: @blkTab;
            }
        }

        > li + li:before {
            color: @greyDark;
        }
    }

    nav {
        float: right;
        font-weight: @baseBoldFontWeight;

        ul li a:hover,
        ul li a.active {
            color: @totalBlk;
        }

        &.main {
            line-height: 90px;

            ul li {
                font-weight: 600;
                margin-left: 15px;
                position: relative;

                a {
                    color: @greyDark;
                }

                span {
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    &.icon-triangle:hover {
                        text-decoration: none;
                        cursor: auto;
                    }
                }

                .products-menu-wrapper {
                    display: none;
                    position: absolute;
                    right: -15px;
                    top: 96px;
                    z-index: 6;

                    .products-menu {
                        width: 380px;
                        height: 100%;
                        overflow: auto;
                        line-height: 50px;
                        background-color: @blkTab;

                        div,
                        ul li {
                            display: block;
                            border-bottom: 1px solid @greyDarkest;
                            margin-left: 0;

                            .icon {
                                width: 9px;
                                height: 14px;
                                position: absolute;
                                right: 18px;
                                top: 18px;
                                cursor: auto;
                                background-position: -92px -78px;
                            }
                        }

                        .link,
                        ul li div {
                            height: 50px;
                            padding: 0 15px;

                            a {
                                color: @wh;
                                font-weight: 600;
                                font-size: 10px;
                                text-transform: uppercase;
                                outline: 0 none;

                                &:hover {
                                    text-decoration: none;
                                    color: @ylw;
                                }
                            }
                        }

                        .link a {
                            color: @ylw;
                        }

                        .back {
                            display: none;
                            position: relative;
                            padding-left: 44px;
                            line-height: 48px;
                            background-color: @greyDarkest;

                            .icon {
                                left: 18px;
                                right: auto;
                                background-position: -81px -78px;
                                text-decoration: none;
                            }

                            a {
                                position: relative;
                                left: -44px;
                                padding-left: 44px;
                            }
                        }

                        ul li {
                            div {
                                padding-right: 44px;
                            }

                            ul {
                                display: none;

                                li,
                                li div {
                                    border: 0 none;
                                }
                            }

                            &.no-border {
                                border-width: 0;
                            }
                        }

                        > ul > li > div:first-child {
                            display: none;

                            a {
                                color: @ylw;
                            }
                        }
                    }
                }
            }
        }

        &.secondary ul li {
            margin-left: 20px;

            a {
                color: @greyLight;
                font-weight: 600;

                &.ylw {
                    color: @ylw;
                }
            }
        }

        &.main ul li:first-child,
        &.secondary ul li:first-child {
            margin-left: 0;
        }

        // Mobile/Tablet
        &.main-mobile {
            display: none;
            float: none;
            position: fixed;
            top: 61px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 5;
            font-size: 11px;
            font-weight: 600;
            line-height: 50px;
            text-transform: uppercase;
            background-color: @blkTab;

            .icon-triangle {
                right: 22px;
            }

            ul {
                overflow: auto;
                height: 100%;

                li {
                    display: list-item;
                    padding: 0 18px;
                    border-bottom: 1px solid @greyDarkest;

                    a {
                        display: block;
                        color: @wh;
                        letter-spacing: 2px;
                        outline: 0 none;

                        &.ylw {
                            color: @ylw;
                        }

                        em {
                            font-style: normal;
                            color: @ylw;
                        }

                        .icon {
                            float: right;
                            width: 9px;
                            height: 14px;
                            margin-top: 18px;
                            background-position: -92px -78px;
                        }
                    }

                    .products-menu-wrapper {
                        display: none;

                        .products-menu {
                            padding-left: 18px;
                            padding-right: 18px;
                            overflow: visible;

                            ul {
                                height: auto;
                                overflow: visible;
                            }

                            div, ul li {
                                a {
                                    outline: 0 none;
                                }

                                &.link {
                                    a {
                                        color: @ylw;
                                    }

                                    &.back {
                                        display: none;
                                        position: relative;

                                        a {
                                            color: @wh;
                                        }

                                        .icon {
                                            float: none;
                                            position: absolute;
                                            left: -18px;
                                            top: 0;
                                        }
                                    }
                                }
                            }

                            ul li ul,
                            > ul > li > div:first-child {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    ul li {
        display: inline-block;
    }

    em strong {
        font-style: normal;
        font-weight: 600;

        a, a:hover {
            color: @greyDark;
            text-decoration: underline;
        }
    }
}

#show-mobile-menu {
    display: none;
    float: right;
    height: 20px;
    width: 23px;
    margin-top: 20px;
    margin-right: 4px;
    cursor: pointer;
    background-position: -127px 2px;
}

#country-select {
    display: inline-block;
    margin-right: 10px;

    button {
        font-weight: 600;
        border-right-color: #BDBDBD;
    }

    .dropdown-menu li a {
        max-width: 200px;
        min-width: 170px;
    }
}

#language-select button {
    border-left: 1px solid @greyDark;
    font-weight: 600;
}

h5.logoh1 {
    height: 90px;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 666px;
    overflow: hidden;
    background: url('@{imgPath}/logo-header.png') no-repeat left center;

    a {
        line-height: 18px;
        display: block;
        padding: 26px 0 0 285px;

        &:hover {
            text-decoration: none;
        }

        span {
            display: block;
            padding-left: 14px;
            border-left: 1px solid #E2E6F0;
            color: @greyDark;
        }
    }
}
// Header END



// Carousels START

// Carousels Reset START

.carousel {
    margin-bottom: 0;
    z-index: 1;

    .carousel-indicators {
        z-index: 3;
        bottom: 122px;
        border: 0 none;

        li, li.active {
            width: 12px;
            height: 12px;
            margin: 0 7px 0 0;
        }
    }

    .carousel-caption {
        z-index: 1;
        left: 12%;
        right: 12%;
    }

    .carousel-control {
        z-index: 2;
        top: 40%;
        bottom: 50%;
        width: 35px;
        opacity: 1;
        filter:alpha(opacity=100);
        text-shadow: none;

        &.left, &.right {
            background-image: none;
        }
    }

    .carousel-inner > .item {
        width: 100%;
        background-color: transparent;

        > img {
            position: static;
            height: auto;
            max-height: 100%;
            min-width: 10%;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// Carousels Reset END


#carousel-main, #carousel-main-alt {
    height: 500px;

    .item {
        height: 500px;
    }

    .carousel-caption {
        bottom: auto;
        top: 30%;
        padding: 0;

        h2,h1 {
            span {
                display: block;
                font-size: 40px;
                color: @ylw;

                &:first-child {
                    color: @wh;
                }

                strong {
                    color: @ylw;
                }
            }
        }
    }
}

#carousel-main .item,
#carousel-main-alt {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.carousel-container.blocked-background {
    background-color: #1D4964;

    #carousel-main-alt {
        background-size: auto 100%;
        background-position: 92% center;
        max-width: 1240px;
        margin: 0 auto;
    }
}


#carousel-main-alt {
    background-color: #1D4964;
    background-size: 45% auto;
    background-position: 92% center;

    .carousel-caption {
        width: 50%;
        left: 2%;
        right: auto;
        top: 25%;
        text-align: left;
    }
}


#carousel-highlights {
    height: auto;
    background-size: cover;
    background-position: center;
    .carousel-indicators {
        width: auto;
        left: 20px;
        bottom: 5px;
        margin: 0;
        position: absolute;;

        li {
            background-color: #A8A8A8;
            &.active {
                background-color: #484848;
            }
        }
    }
    .item {
        height: auto;
        &:before {
            content: "";
            display: block;
            padding-top: 56.25%;
        }
        .carousel-caption {
            max-height: 80%;
            left: 20px;
            top: 7px;
            right: 50%;
            padding: 0;
            text-align: left;
            text-shadow: none;

            h2,h1 {
                font-size: 24px;
                color: @greyDarkest;
                margin: 10px 0 15px;
            }

            p.content {
                font-size: 14px;
                color: @greyDark;
                margin-bottom: 20px;
            }
        }
    }
}



#carousel-events {
    .item img {
        display: inline;
        max-width: 24%;
        margin: 0 0 0 1%;

        &:first-child {
            margin-left: 0;
        }
    }

    .carousel-indicators {
        position: relative;
        left: auto;
        bottom: auto;
        width: 100%;
        margin: 20px auto 0;
    }
}


#carousel-business {
    width: 44%;
    height: 300px;
    float: left;
    margin: 0 20px 38px 0;

    .item {
        height: 300px;
    }
}

// Carousels END



// Content START

// Search START

#main-content {
    margin-bottom: 40px;

    .carousel-container + & {
        position: relative;
        z-index: 4;
    }
}

#prod-search {
    position: relative;
    z-index: 2;
    margin-top: -107px;
    margin-bottom: 40px;
    background-color: @ylw;
    color: @blkTab;

    .nav-tabs {
        border: 0 none;

        li {
            padding: 0;
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: @baseBoldFontWeight;

            a {
                border-color: @ylwTabNotActiveBorder;
                border-top-width: 0;
                color: @blkTabNotActive;
                outline: 0 none;
                margin: 0;
                border-radius: 0;
                background-color: @ylwTabNotActive;
            }

            &.active a {
                background-color: @ylw;
                border: 0 none;
                color: @blkTab;
            }
        }
    }

    .tab-content {
        font-size: 26px;
        padding: 30px 20px 20px;

        .tab-pane {
            .row {
                &:first-child {
                    font-weight: 300;

                    strong {
                        font-weight: 600;
                        font-size: 30px;
                    }

                    a {
                        font-style: italic;
                        font-weight: @baseBoldFontWeight;
                        font-size: 16px;
                        line-height: 40px;
                        color: @greyDark;
                        float: right;
                    }
                }

                &.input-row {
                    margin-top: 20px;

                    form {
                        select,
                        .dropdown {
                            height: 60px;
                            margin: 0 2%;
                            font-size: 18px;
                            color: @greyLight;

                            &:first-child {
                                margin: 0;
                            }
                        }

                        input[type="text"] {
                            height: 60px;
                            margin: 0 2%;
                            font-size: 18px;
                            color: @greyLight;
                        }

                        input[type="submit"] {
                            width: auto;
                            height: 60px;
                            padding: 0 5px 0 0;
                            border: 0 none;
                            font-size: 18px;
                            color: @wh;
                            text-align: center;
                            text-indent: 30px;
                            background: #987F00 url('@{spriteContactsPath}') no-repeat -292px 18px;
                            min-width: 11%;
							max-width: 16%;
                        }
                    }
                }
            }
        }
    }

    &.tabs-disabled {
        margin-top: -86px;

        .nav-tabs {
            display: none;
        }
    }
}

// Search END

#lubricantDataSheet-search {
    position: relative;
    z-index: 2;
    background-color: @ylw;
    color: @blkTab;
    margin-top: 15px;
    
    .iconBarile {
		background-image: url('@{iconBarilePath}');
		background-repeat: no-repeat;
		padding: 10px 0px 15px 50px;
		margin-left: 50px;
        text-align: center;
        text-indent: 67px;
        font-size: 24px;
	}
	
    .tab-content {
        font-size: 26px;
        padding: 0px 20px 20px 20px;

        .tab-pane {
            .row {
                &.input-row {
                    margin-top: 20px;

                    form {
                       input[type="submit"] {
                            width: 150px;
                            height: 40px;
                            padding: 0;
                            border: 0 none;
                            font-size: 18px;
                            color: #d2c78f;
                            text-align: center;
                            background: #987F00;
                        }
                    }
                }
            }
        }
    }
}

// lubDatasheet END



// Highlights START

.highlights {
    article {
        background: none;
        color: @greyDark;

        img {
            max-width: 100%;
            display: block;
            margin: 0 auto 20px;
        }

        h2, h2 a ,h1 , h1 a{
            font-size: 16px;
            color: @blkTab;
        }

        &.highlight {
            position: relative;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            em.tipo-highlight {
                position: absolute;
                left: 20px;
                top: 20px;
                z-index: 1;
            }

            .img-overlay {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #000000;
                opacity: 0.5;
                filter:alpha(opacity=50);
            }

            h2, h2 a ,h1, h1 a{
                font-size: 20px;
            }

            .btn-ylw {
                margin-top: 30px;
                display: none;
            }
        }
    }

    ul.articles {
        padding-top: 15px;
        padding-bottom: 10px;
        border-top: 1px solid #E5E5E5;

        li {
            padding: 10px 10px 0 0;
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }

            article {
                h2,h1 {
                    margin: 8px 0;
                }

                    .when {
                        padding-top: 0;
                        border-top-width: 0;
                        border-bottom: 1px solid #E5E5E5;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    // Highlights END



    // Listing a blocchi orizzontali + Dettaglio prodotti START

    .content-nav-sidebar,
    .content-nav-tabs {
        padding-top: 12px;

        ul li {
            font-size: @baseFontSize;
            line-height: 48px;
            border-bottom: 1px dotted @blkTab;

            a, a:hover {
                color: @blkTab;
                outline: 0 none;
            }

            &.active a,
            a.active {
                font-weight: @baseBoldFontWeight;
            }

            ul {
                display: none;

                &.page-tabs {
                    display: block;
                }

                li {
                    padding-left: 10px;
                    border-top: 1px dotted @blkTab;
                    border-bottom-width: 0;

                    &.active a,
                    a.active,
                    a:hover {
                        color: @greyLight;
                    }
                }
            }
        }
    }


    .contrast {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        background: rgba(254,254,254,0);
        background: -moz-linear-gradient(top, rgba(254,254,254,0) 0%, rgba(0,0,0,0.64) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,0)), color-stop(100%, rgba(0,0,0,0.64)));
        background: -webkit-linear-gradient(top, rgba(254,254,254,0) 0%, rgba(0,0,0,0.64) 100%);
        background: -o-linear-gradient(top, rgba(254,254,254,0) 0%, rgba(0,0,0,0.64) 100%);
        background: -ms-linear-gradient(top, rgba(254,254,254,0) 0%, rgba(0,0,0,0.64) 100%);
        background: linear-gradient(to bottom, rgba(254,254,254,0) 0%, rgba(0,0,0,0.64) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#000000', GradientType=0 );

    h2,h1 {
            position: relative;
            z-index: 2;
        }

        .banner-contacts & {
            height: auto;
            width: auto;
            position: static;
            padding: 40px;
            margin: -40px;
        }
    }


    section.carousel-container {
        &.fixed {
            position: fixed;
            top: 60px;
            right: 0;
            left: 0;
        z-index: 0;
        }

        + section {
            margin-top: 500px;
        }
    }

    section.bg-white {
        background-color: @wh;
        padding-bottom: 1px;
    position: relative;
    }

    section.content-listing {
        ul li {
            position: relative;
            margin-bottom: 25px;
            text-align: center;

            .overlay-wrapper {
                position: relative;

                .overlay {
                    display: none;
                    opacity: 0.6;
                    filter:alpha(opacity=60);
                    background-color: #FFD328;
                    z-index: 1;

                    &.icon {
                        opacity: 1;
                        filter:alpha(opacity=100);
                        background: transparent url('@{imgPath}/link-to-content.png') no-repeat center;
                        z-index: 2;
                    }
                }
            }

            &:hover .overlay {
                display: block;
            }

            img {
                max-width: 100%;
                max-height: 100%;
            width: 100%;
            }

        h2 ,h1{
                font-size: 20px;
                color: @blkTab;
                margin-top: 20px;
            }

            a.link-to-content{
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                z-index: 3;
                text-decoration: none;
            }

            .overlay {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: 3;
                text-decoration: none;
            }
        }

        .text:first-child {
            padding: 55px 0 40px;
            border-bottom: 1px solid @greyLight;
            margin-bottom: 40px;
            font-size: 16px;
            color: @greyDark;
        }

        .product-family {
            &:first-child {
                padding-top: 40px;
            }

        > h2,
        > h1 {
                font-size: 30px;
                color: #0885AE;
                padding-top: 50px;
                padding-bottom: 10px;
                border-top: 1px solid @greyLight;
            }

        &:first-child  > h2,
        &:first-child  > h1 {
                padding-top: 10px;
                border: 0 none;
            }

	    p {
    		font-size: 16px;
    		color: @greyDark;
	    }

            ul {
                padding-bottom: 30px;

                li {
                    min-height: 85px;
                    text-align: left;
                    margin: 30px 0 0;

                    &:first-child,
                    &:first-child + li {
                        .wrap {
                            padding-top: 0;
                        }
                    }

                    .wrap {
                        padding-top: 30px;
                        border-top: 1px dotted @greyLight;
                        position: relative;

                        img {
                            float: left;
                            max-height: 100%;
                            max-width: 85px;
                            margin-right: 20px;
                        }

                        h3 {
                            font-size: 18px;
                            line-height: 32px;
                            color: @blkTab;
                        }
                    &:hover{
                        h3 {
                            color: #ffd328;
                            text-decoration: underline;
                        }
                    }

                    }

                    &:first-child {
                        .wrap,
                        + li .wrap {
                            border-top: 0 none;
                        }
                    }
                }
            }
        }

    &.products.level-3 .text:first-child + section.product-family h2,
    &.products.level-3 .text:first-child + section.product-family h1{
            padding-top: 10px;
            border: 0 none;
        }
    }


    section.product-detail {
        overflow: hidden;
        padding: 50px 0 20px;
        border-bottom: 1px solid @greyLight;
        margin-bottom: 42px;

        img {
            float: left;
            max-width: 30%;
            margin-right: 55px;
        }

        .text {
            font-size: 16px;
            color: @greyDark;
        }
    }


    section.brochure-download {
        clear: left;
        padding-bottom: 42px;
        border-bottom: 1px solid @greyLight;
        margin-bottom: 42px;

    h2, h1 {
            font-weight: 600;
            font-size: 26px;
            color: @dloadBlk;
        }
    }



    // Accordion dettaglio prodotti START

    section.avail-products {
    h2, h1 {
            font-weight: 600;
            font-size: 26px;
            color: @dloadBlk;
        }

        .panel-group {
            margin-top: 34px;
        }

        .accordion-item {
            border-radius: 0;
            box-shadow: none;
            border: 0 none;
            margin: 0 auto 2px;

            + .accordion-item {
                margin: 0 auto 2px;
            }

            .panel-heading {
                padding: 0 18px;
                border-radius: 0;
                background-color: #F1F1F1;

                &.active {
                    background-color: @ylw;
                }

                .panel-title {
                    font-size: 16px;
                    line-height: 60px;
                    color: @blkTab;

                    .accordion-animate {
                        float: right;
                        height: 24px;
                        width: 24px;
                        margin-top: 18px;
                        overflow: hidden;
                        text-decoration: none;
                        text-align: center;
                        font-weight: 300;
                        font-size: 40px;
                        line-height: 16px;
                        outline: 0 none;

                        &.collapsed{
                            line-height: 20px;
                        }

                        span {
                            height: 100%;
                            display: block;
                        }

                        .expand-icon,
                        &.collapsed .collapse-icon {
                            display: none;
                        }

                        &.collapsed .expand-icon {
                            display: block;
                        }
                    }

                    strong {
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }

            .panel-body {
                padding-top: 27px;

                table {
                    width: 100%;
                    font-size: 16px;
                    line-height: 26px;
                    color: @greyLight;
                    border-collapse: separate;

                    colgroup {
                        width: 50%;
                    }

                    thead td {
                        padding-bottom: 32px;
                    }

                    tbody {
                        font-weight: 600;

                        td, th {
                            border-top: 1px dotted @greyLight;
                            font-weight: 600;
                            padding-top: 16px;
                            padding-bottom: 16px;
                        }

                        a.download {
                            font-weight: 400;
                            padding-bottom: 18px;
                            margin-top: 20px;
                        }
                    }

                    tfoot {
                        text-align: center;

                        td {
                            padding-bottom: 15px;
                            border-top: 1px dotted @greyLight;

                            .datasheet-download {
                                margin-top: 30px;
                            }
                        }
                    }
                }

                + .accordion-item {
                    border-radius: 0;
                    margin-top: 0;
                    margin-bottom: 1px;
                }
            }
        }
    }

    // Accordion dettaglio prodotti END



    // Modale scarica scheda tecnica START

    .datasheet-download-modal {
        .modal-header {
            border: 0 none;

            .close {
                width: 12px;
                margin-left: 5px;
            }

            .modal-title {
                font-weight: @baseBoldFontWeight;
                font-size: @baseFontSize;
                text-indent: 17px;
                color: @blkTab;

                strong {
                    text-transform: uppercase;
                }
            }
        }

        .modal-body {
            .dropdown {
                button {
                    width: 100%;
                    border: 1px solid @greyLight;
                    border-radius: 0;
                    text-align: left;
                }

                .caret {
                    position: absolute;
                    right: 10px;
                    top: 40%;
                }

                ul.dropdown-menu {
                    width: 100%;

                    li,
                    li a {
                        height: auto;
                        min-width: 100%;
                        margin-bottom: 0;
                        position: static;
                        text-align: left;
                    }
                }
            }
        }

        .modal-footer {
            text-align: center;
            border: 0 none;

            button {
                width: 100%;
                border-radius: 0;
            }
        }
    }

    // Modale scarica scheda tecnica END


    // Listing a blocchi orizzontali + Dettaglio prodotti END



    // Settori START

    section.business {
        color: @greyDark;

        ul li {
            height: 290px;
        }

        .carousel-container + div {
            margin-top: 54px;

            + p {
                clear: both;
            }

            p {
                padding-top: 76px;
            }
        }
	div.email{
		.text {
		    width: auto;
		}
	}

        .text {
            font-size: 16px;
            margin-bottom: 20px;
            h1 {
              height: auto;
              background-image: none;
              width: 100%;
              line-height: 1.1;
              margin-bottom: 0;
              overflow: visible;
              display: block;
            }
            .title {
              display: block;
              font-weight: 600;
              font-size: 21px;
              line-height: 1.1;
              margin-bottom: 12px;
              color: @greyDarkest;
            }
            .lead {
              font-size: 18px;
              line-height: 1.1;
              margin-bottom: 12px;
            }
            &.presentazione {
                clear: both;
            }

            &:first-child {
                padding-bottom: 0;
                border: 0 none;
                margin-bottom: 20px;
            }

            ul, ol {
              margin-top: 20px;
              margin-bottom: 20px;
              li {
                height: auto;
                line-height: 22px;
                margin-top: 15px;
                margin-bottom: 0;
                position: static;
                text-align: left;
                list-style-position: inside;
                &:first-child {
                    margin-top: 0;
                }
              }
            }
            ul {
              li {
                list-style-type: disc;
              }
            }
            ol {
              li {
                list-style-type: decimal;
                display: list-item;
              }
            }

            .img-container {
              width: 100%;
              display: block;
              margin: 0 auto;
              padding: 0;
              text-align: center;
              img {
                height: 100%;
              }
              .img-title {
                font-weight: bold;
              }
              p {
                margin: 10px auto;
                font-size: 13px;
                line-height: 1.2;
                + ul, + ul.list-inline, + ol, + ol.list-inline {
                  margin-top: -10px;
                  margin-bottom: 0;
                  line-height: 1;
                }
              }
              ul, ol {
                margin-top: 0;
                li {
                  text-align: center;
                  font-size: 13px;
                  line-height: 1.2;
                  margin-top: 0;
                }
              }
              ul.list-inline {
                li {
                  &:before {
                    content: "•";
                    padding-right: 0.25em;
                    font-size: 20px;
                    line-height: 1;
                    display: inline-block;
                    vertical-align: text-bottom;
                  }
                }
              }
              ol.list-inline {
                counter-reset: LIST-ITEMS;
                li {
                  display: inline-block;;
                  list-style-type: decimal;
                  &:before {
                    content: counter( LIST-ITEMS ) ".";
                    counter-increment: LIST-ITEMS;
                    padding-right: 0.25em;
                  }
                }
              }
              &.text-left {
                text-align: left;
                ul, ol {
                  li {
                    text-align: left;
                  }
                }
              }
              &.text-right {
                text-align: right;
                ul, ol {
                  li {
                    text-align: right;
                  }
                }
              }
              &.float-left {
                float: left;
                width: 50%;
                padding-right: 10px;
                padding-bottom: 10px;
                img {
                  width: 100%;
                  height: auto;
                }
              }
              &.float-right {
                float: right;
                width: 50%;
                padding-left: 10px;
                padding-bottom: 10px;
                img {
                  width: 100%;
                  height: auto;
                }
              }
            }

        }

        table {
            margin-top: 20px;
            margin-bottom: 20px;

            td, th {
                border: 1px solid #999999;
                padding: 6px 18px;
            }
        }

        &.level-1 {
            padding-top: 60px;
        }

        &.level-2 {
            float: none;
            position: static;
            width: auto;

            nav + & {
                width: 75%;
                float: left;
            }

            text {
                img {
                    max-width: 50%;
                    float: left;
                    margin: 30px 20px 30px 0;

                    + p {
                        margin-top: 30px;
                    }
                }
            }

            // Integrazione parte di E-one
            section.content-listing.products {
                float: none;
                width: auto;
                margin-right: -15px;
                margin-left: -15px;

                > ul.row li {
                    height: auto;
                }

                section.product-family ul li {
                    height: auto;

                    img {
                        margin-right: 15px;
                        max-width: 85px;
                        max-height: none;
                    }

                    h3, h3 a {
                        text-transform: uppercase;
                    }

                    p {
                        font-size: 16px;
                        margin-top: 8px;
                        color: @greyDark;
                    }
                .wrap h3 {
				    text-transform: none;
				}
                }
            }
        }
    }

// Integrazione parte di E-one
section.content-listing.products.level-2 {

    ul.row li {
            height: auto;
		    display: inline-block;
		    float: none;
		    vertical-align: text-top;
		    margin-left: -1.5px;
		    margin-right: -1.5px;
    }
}


section.content-listing .text ul li, .text ul li {
    text-align: left;
    list-style-position: inside;
    list-style-type: disc;
    height: auto;
    margin-top: 15px;
}

    section.related-prod.product-family {
    > h2,
    > h1{
            padding: 0;
            border: 0 none;
        }

        .row {
            margin-top: 35px;

            img {
                float: left;
                max-width: 10%;
                margin-right: 15px;
            }

            h3, h3 a {
                font-size: 20px;
                color: @blkTab;
                text-transform: uppercase;
            }

            p {
                font-size: 16px;
                margin-top: 8px;
            }
        }
    }

    // Settori END



    // News START

    .text-intro {
        margin: 30px auto 50px;
        max-width: 52%;
        text-align: center;

    h2,h1 {
            font-size: 32px;
            color: @blkTab;
            margin-bottom: 14px;
        }

        p {
            font-size: 18px;
            color: @greyLight;
            line-height: 28px;
        }

        em {
            display: block;
            font-style: normal;
            font-weight: @baseBoldFontWeight;
            font-size: 12px;
            text-transform: uppercase;
            color: #4B84AB;
            margin-bottom: 10px;
        }

        address {
            margin-top: 30px;
            font-size: 18px;
            font-weight: @baseBoldFontWeight;
            color: @greyDark;
        }
    }

    .news {
        ul.highlights li {
            height: auto;

            article {
                text-align: left;
            }
        }
    }

    .news-detail {
        .text-intro {
            max-width: 70%;
            margin-bottom: 0;
        }

        article.event-review {
            max-width: 70%;
            padding-top: 10px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            .text {
                text-align: left;
                font-size: 18px;
                line-height: 30px;
                color: @greyDark;
            }

            img {
                display: block;
                margin: 20px auto;
                max-width: 100%;
            }
        }
    }

    // News END



    // Contact Us (pagina) START

    section.content-listing.contact-us {
        &.level-2 {
            padding-left: 60px;
            padding-right: 60px;
        }

        .text-intro {
            max-width: 72.5%;
        }

        ul {
            padding-left: 15px;

            li {
                height: 359px;

                .wrap {
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                }

                img {
                    max-height: 100%;
                }

                .text {
                    position: absolute;
                    left: 0;
                    right: 15px;
                    bottom: 0;
                    height: 50%;
                    padding: 20% 5% 5%;
                    border: 1px solid #D1D1D1;
                    background-color: @wh;
                    margin-bottom: 0;

                h2, h1 {
                        font-size: 14px;
                        text-transform: uppercase;
                        color: @totalBlk;
                    }

                    p {
                        color: @greyDark;
                    }

                    &:hover {
                        background-color: transparent;
                        border-color: transparent;

                        h2, p {
                            color: @wh;
                        }
                    }
                }
            }

            &.row > li {
                padding-left: 0;
            }
        }
        
        &.level-3 {
         	padding-left: 60px;
            padding-right: 60px;
 
            .text-intro {
                margin-top: 0;

                .contact-division {
                    display: block;
                    position: relative;
                    left: 0;
                    top: 0;
                    margin: -66px auto 30px;
                }
            }
		}

        &.level-2 {
            .text-intro {
                margin-top: 0;

                .contact-division {
                    display: block;
                    position: relative;
                    left: 0;
                    top: 0;
                    margin: -66px auto 30px;
                }
            }

            ul {
                li {
                    height: auto;
                    border: 0 none;
                    text-align: left;

                    h3.country {
                        span {
                            display: block;
                            height: 185px;
                            margin-top: 20px;
                            background: url("@{imgPath}/italy.png") no-repeat;
                            background-size: 100% auto;
                        }

                        &.africa span {
                            background-image: url("@{imgPath}/africa.png");
                        }

                        &.asia span {
                            background-image: url("@{imgPath}/asia.png");
                        }

                        &.europa span {
                            background-image: url("@{imgPath}/europe.png");
                        }

                        + ul li {
                            margin-bottom: 40px;
                        }
                    }

                    ul li {
                        min-height: 200px;
                        padding-right: 7px;
                        padding-left: 7px;

                        &.col-no-offset-left {
                            clear: both;
                        }
                    }
                }

                &.row {
                    padding-left: 0;

                    > li {
                        overflow: hidden;
                        padding-top: 40px;
                        padding-bottom: 30px;
                        border-bottom: 1px solid @greyLight;
                        margin-bottom: 0;

                        &:first-child {
                            padding-top: 0;
                        }

                        h3 {
                            color: @blkTab;
                            font-size: 26px;
                            font-weight: 300;

                            .icon-wrapper {
                                position: absolute;
                                top: 0;
                                right: 0;
                                display: none;
                                height: 56px;
                                width: 56px;
                                cursor: pointer;

                                .icon {
                                    width: 16px;
                                    height: 10px;
                                    margin: 22px 0 0 22px;
                                    background: url("@{spriteContactsPath}") no-repeat -3px -308px;
                                }
                            }

                            &.active .icon-wrapper .icon{
                                background-position: -27px -308px;
                            }
                        }

                        ul {
                            padding-top: 6px;

                            li {
                                h4 {
                                    color: @blkTab;
                                    font-size: 18px;
                                    margin-bottom: 5px;

                                    + .content-wrapper {
                                        margin-top: 0;
                                    }
                                }

                                .content-wrapper {
                                    margin-top: 40px;

                                    span:first-child {
                                        font-weight: 700;
                                        color: @greyLight;
                                    }

                                    .contacts {
                                        padding-top: 14px;
                                        border-top: 1px dotted @greyLight;
                                        margin-top: 14px;
                                        color: @greyDark;

                                        p {
                                            min-height: 20px;
                                            margin-top: 6px;

                                            .icon {
                                                display: inline-block;
                                                height: 20px;
                                                width: 27px;
                                                vertical-align: top;
                                                background: url("@{spriteContactsPath2}") no-repeat -146px -221px;
                                            }

                                            &.mobile .icon {
                                                background-position: -142px -242px;
                                            }

                                            &.email .icon {
                                                background-position: -146px -260px;
                                            }

                                            &.working-hours .icon {
                                                background-position: -146px -277px;
                                            }

                                            &.manager .icon {
                                                background-position: -146px -297px;
                                            }
                                            
                                            &.address .icon {
                                                background-position: -186px -221px;
                                            }
                                            
                                            &.site .icon {
                                                background-position: -184.6px -245.5px;
                                            }

                                            span, a {
                                                color: @totalBlk;
                                                font-weight: 700;
                                                vertical-align: top;
                                            }

                                            a {
                                                text-decoration: underline;
                                            }

                                            &:first-child {
                                                margin-top: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Contact Us (pagina) END
//Search result (pagina)
section.content-listing.search-result {
  &.level-2 {
    padding-left: 60px;
    padding-right: 60px;
  }
  ul {
    padding-left: 15px;
    .text, .text:first-child {
      text-align: left;
      border-bottom: none;
      color: @greyDarkest;
      margin-bottom: 0;
            h2,h1 {
        font-size: 14px;
        text-transform: uppercase;
      }
      p {
        color: @greyDark;
      }
    }
  }

  li div.row {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dotted @greyLight;
  }
}

  //Search result (pagina) END


    // Pagine d'errore START

    .error-page {
        text-align: center;
        color: @blkTab;

        .icon {
            height: 74px;
            width: 80px;
            margin: 50px auto 30px;
            background-position: 2px -83px;
        }

    h2,h1 {
            font-weight: 400;
            font-size: 32px;
        }

        p {
            font-weight: 300;
            font-size: 20px;
            margin: 30px 0 8px;
        }

        a {
            font-weight: 600;
            font-size: 20px;
            color: @blkTab;
        }
    }

    // Pagine d'errore END



// Content END



// Banners START

section.banner {
    position: relative;
    overflow: hidden;

    &.backgroundSize {
        height: 200px;
        background-position: center;
        background-size: cover;
    }

    &.productsLandingBanner {
        height: 257px;

        h2,h1 {
            top: 26%;
        }
    }

    h2,h1 {
        width: 84%;
        position: absolute;
        left: 8%;
        top: 39%;
        font-size: 40px;
        color: @wh;
        text-align: center;
    }

    img {
        display: block;
        height: 100%;
        margin: 0 auto;
    }
}

    // banner Contacts START

    section.banner-contacts {
        text-align: center;
        padding: 40px;
        background-position: center;
        background-size: cover;

        .icon {
            width: 56px;
            height: 78px;
            margin: 0 auto;
        }

    h2, h1 {
            position: static;
            width: auto;
            margin: 30px 0;
            font-weight: 300;
            font-size: 32px;
            color: @wh;
        }

        &.num-verde {
            .icon {
                width: 73px;
                background: url("@{spriteContactsPath}") no-repeat -35px -214px;
            }

            .btn-ylw {
                padding: 10px 72px;
                cursor: auto;
            }

            a.btn-ylw {
                display: none;
                cursor: pointer;
            }
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }

    // banner Contacts END

// Banners END


#cookie-bar {
    display: none;
    min-height: 79px;
    padding: 20px 63px 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #F2E7B2;
    color: @blkTab;
    font-weight: 300;
    font-size: 18px;
    z-index: 10;

    .btn-ylw {
        float: right;
        text-transform: none;
        padding-right: 14px;
        padding-left: 14px;
        margin-left: 13px;
    }

    .text {
        display: inline-block;
        max-width: 82%;
        padding-top: 8px;

        a {
            font-weight: 700;
            color: @blkTab;
        }
    }
}
// Cookie Bar END



// Footer START
footer {
    position: relative;
    color: @greyLight;
    background-color: #1A1A1A;

    .logo {
        height: 92px;
        font-size: 16px;
        line-height: 92px;
        color: @wh;
        padding-left: 75px;
        background: url('@{imgPath}/logo-footer.png') no-repeat 15px center;
    }

    .main {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: @dloadBlk;

        > .col:first-child {
            padding-right: 45px;
        }

        .row.middle {
            margin: 40px 0;
        }
    }

    nav ul li {
        &.odd {
            clear: both;
        }

        &.col {
            margin-bottom: 33px;
        }

        h4 {
            width: 90%;
            text-transform: uppercase;
            font-weight: 400;
            font-size: @baseFontSize;
            color: @ylw;
            margin-bottom: 14px;
        }

        ul {
            padding-top: 14px;
            border-top: 1px solid @greyLight;

            li a,
            li a:hover {
                color: @wh;
                line-height: 28px;
            }
        }
    }
}


// Footer END


// TODO: temporary css -> convert in less

// Search START
.form-search-for-category .select2 {
    font-size: 16px;
}
.form-search-for-category .select2-container--default .select2-selection--single {
    color: #d1d1d1!important;
    border-radius: 0px!important;
    line-height: 58px!important;
    height: 60px;
}
.form-search-for-category .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 58px!important;
    padding-left: 20px;
    color: #666666;
}
.form-search-for-category .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 17px;
    right: 22px;
}

#select2-product-category-results.select2-results__options{
	max-height:none;
}

#select2-product-category-results .select2-results__option[aria-selected=true] {
	background-color:white;
	font-weight:bold;
	/*  se hai l'immagine puoi aggiungere questo:
		padding-left:40px;
		background:url(../img/spunta_select.png) no-repeat left center;
	*/
}

#select2-product-category-results .select2-results__option--highlighted[aria-selected]{
	background-color:#5897fb;
}

#select2-product-category-results .select2-results__option[aria-selected]{
	padding:2px 6px;
}

// Search END

// GPL tool START

.gplTool .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.gplTool .form-group form > div {
    margin-bottom: 10px;
}
div#gplToolMap > div {
    background-color: #a3ccff !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a3ccff+44,fafcfd+61 */
background: #a3ccff; /* Old browsers */
background: -moz-linear-gradient(top,  #a3ccff 44%, #fafcfd 61%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a3ccff 44%,#fafcfd 61%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a3ccff 44%,#fafcfd 61%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3ccff', endColorstr='#fafcfd',GradientType=0 ); /* IE6-9 */

}
@media (max-width: 768px) {
    .gplTool .form-group .col-xs-12 {
        width: 100%;
    }
}

@media (max-width: 390px) {
	body .gplTool .customInfoWindow {
	    width: 300px;
	    max-width: calc( 100% - 20px);
	    left: 10px;
	    overflow: hidden;
	}
}

@media (max-width: 1024px) {
	nav.content-nav-tabs.col.col-md-3.col-sm-12 {
	    padding-bottom: 30px;
	}
}


.gplTool label.radio-inline {
    padding-left: 0;
    padding-top: 19px;
    font-size:16px;
}
.gplTool .btn-cerca {
    background-color:#999;
    font-size:18px;
    color:#fff;
    border-radius:0px;
    height:60px;
    width: 100%;
}
.gplTool #gplToolMap {
    width: 100%;
    height: 500px;
    margin-top: 10px;
}
.gplTool #gplToolMap {
    width: 100%;
    height: 500px;
}
.gplTool #mapContainer {
    position: relative;
    width: 100%;
}
.gplTool .customInfoWindow{
    width: 300px;
    position: absolute;
    display: none;
    top: 100px;
    left: 35px;
    background: #fff;
    padding: 20px;
}
.gplTool .icon_marker.point{
    padding-top: 0;
    font-size: 35px;
    line-height: 35px;
}
.gplTool .icon_marker{
    width: 32px;
    height: 46px;
    background: url('@{imgPath}/marker.png');
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 15px;
}
.gplTool .icon_marker_big{
    width: 40px;
    height: 58px;
    background: url('@{imgPath}/marker_big.png');
    text-align: center;
    padding-top: 10px;
}
.gplTool .results .header{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}
.gplTool .container.results {
    border-bottom: 1px dotted #999999;
    padding-right: 30px;
    padding-left: 30px;
}
.gplTool .results .result{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    border-top: 1px dotted #999999;
}
.gplTool .select2 {
    font-size: 16px;
}
.gplTool .select2-container--default .select2-selection--single {
    color: #d1d1d1!important;
    border-radius: 0px!important;
    line-height: 58px!important;
    height: 60px;
}
.gplTool .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 58px!important;
    padding-left: 20px;
    color: #666666;
}
.gplTool .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 17px;
    right: 5px;
}

// GPL tool END

// GPL contact START

.gplcontact-form .select2-container--default .select2-selection--single {
    height: 46px !important;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.gplcontact-form .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 85% !important;
}
.gplcontact-form .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 26px !important;
}
.gplcontact-form .select2-container--default .select2-selection--single {
    border: 1px solid #CCC !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

section.business .gplcontact-form ul li {
    height: auto;
}

// GPL contact END

// Other temporary css

section.avail-products .panel-group {
    margin-bottom: 0px;
}

section.content-listing .athos {
    border-top: 1px solid #e4e4e4;
    padding-top: 30px;
}

section.content-listing .athos .col-md-4 {
	padding-right: 0px;
}

section.content-listing .athos .text:first-child {
	padding: 0px;
	padding-bottom: 30px;
    border-bottom: 0px;
    margin-bottom: 0px;
}
section.avail-products .accordion-item .panel-body table thead td {
    border: 0;
}
body{
    section.content-listing.contact-us {
        ul {
            li {
                .text {
                    -webkit-transition: all 400ms ease-in-out;
                    -moz-transition: all 400ms ease-in-out;
                    -ms-transition: all 400ms ease-in-out;
                    -o-transition: all 400ms ease-in-out;
                    transition: all 400ms ease-in-out;
                    min-height: 50%;
                    padding: 69px 20px 20px;
                    height: auto;
                    &:hover {
                        background-color: transparent;
                        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.65) 100%);
                        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.65) 100%);
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.65) 100%);
                        border-top: 0;
                        border-top-color: #D1D1D1;
                        .contact-division{
                            top: -68px;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 355px)  and (max-width: 425px){
  #carousel-highlights {
    .item {
      background-position: 100%;
      min-height: 170px;
      
      &:before {
        content: none;
      }
      .carousel-caption {
        position: initial;
        top: auto;
        left: auto;
        right: auto;
        padding: 20px;
        .content {
          height: 100%;
          overflow: hidden;
        }
      }
    }
  }
  section.business {
    .text {
      .img-container {
        img {
          height: auto;
          width: calc( 100% );
        }
        &.float-left, &.float-right {
          float: none;
          clear: both;
          display: block;
          width: 100%;
          padding: 10px 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
  #carousel-highlights {
    background-color: #f1f1f1;
    .carousel-indicators {
      left: 0;
      bottom: 0;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      line-height: 40px;
      background-color: #f1f1f1;
      position: relative;
      li {
        margin: 0 3px;
      }
    }
    .item {
      background-position: 100%;
      min-height: 190px;
      .carousel-caption {
          // max-height: 80%;
          // left: 20px;
          // top: 18px;
          right: 0%;
          // padding: 0;
          // text-align: left;
          // text-shadow: none;
                h2,h1 {
              font-size: 24px;
              color: @greyDarkest;
              margin: 10px 0 15px;
          }
          .content {
            font-size: 14px;
            color: @greyDark;
            margin-bottom: 20px;
            height: 100%;
            min-height: 20px;
            max-height: 40px;
          }
        }
    }
  }

	section.banner-athos {
	    text-align: center;
    	background-position: center;
    	background-size: cover;
	}
}

@media only screen and (max-width: 354px){
 #carousel-highlights {
    .item {
      background-position: 100%;
      min-height: 170px;
      
      &:before {
        content: none;
      }
      .carousel-caption {
        position: initial;
        top: auto;
        left: auto;
        right: auto;
        padding: 20px;
        .content {
          height: 100%;
          overflow: hidden;
        }
      }
    }
  }
  section.business {
    .text {
      .img-container {
        img {
          height: auto;
          width: calc( 100% );
        }
        &.float-left, &.float-right {
          float: none;
          clear: both;
          display: block;
          width: 100%;
          padding: 10px 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
	section.banner-athos {
		float:right;
	}
}
@import "responsive.less";
