// Paths
@imgPath: '../bundles/app/img';
@spriteMainPath: '../bundles/app/img/sprite-main.png';
@spriteContactsPath: '../bundles/app/img/sprite-contacts.png';
@spriteContactsPath2: '../bundles/app/img/sprite-contacts2.png';
@iconBarilePath: '../bundles/app/img/barile.png';
@iconContactPath: '../bundles/app/img/contact.png';
@iconInsideSalesPath: '../bundles/app/img/inside_sales.png';
@iconSalesManagerPath: '../bundles/app/img/sales_manager.png';
@iconTechnicalServicePath: '../bundles/app/img/technical_service.png';