// Variables

@import "paths.less";
@import "variables.less";


@media (max-width: 1024px) {
    .container {
        width: 976px;
    }

    .no-before:before,
    .no-after:after,
    .col-sm-0 {
        display: none;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-12 {
        width: 100%;
        float: none;
        padding-right: 0;
        padding-left: 0;

        .highlights &:first-child {
            margin-bottom: 20px;
        }

        article.highlight {
            .img-overlay {
                display: block;
            }

            > .text {
                max-width: 90%;
                position: absolute;
                left: 20px;
                bottom: 20px;
                z-index: 1;

                h2, h2 a {
                    color: @wh;
                }

                p {
                    display: none;
                    color: @wh;
                    border-top-color: @wh;
                    border-bottom-width: 0;

                    &.when {
                        display: block;
                        padding: 20px 0 0;
                        margin: 20px 0 0;
                    }
                }
            }
        }
    }

    #carousel-main,
    #carousel-main-alt {
        .carousel-caption h2 span {
            font-size: 38px;
        }
    }

    #prod-search .tab-content .tab-pane .row.input-row form {
        select,
        .dropdown {
            width: 38.5%;
        }
    }

    .text-intro {
        max-width: 100%;
    }

    .news-detail {
        .text-intro,
        article.event-review {
            max-width: 100%;
        }
    }

    section.content-listing.contact-us {
        .text-intro {
            max-width: 100%;
        }

        ul li {
            height: 328px;
        }
    }

    nav + section.business.level-2  {
        float: none;
        width: auto;
    }

    #cookie-bar {
        padding-right: 24px;
        padding-left: 24px;
        font-size: 16px;
    }
}


@media (max-device-width: 1024px) {
    section.banner-contacts.num-verde .btn-ylw {
        display: none;
    }

    section.banner-contacts.num-verde a.btn-ylw {
        display: inline-block;
        white-space: nowrap;
    }

    section.content-listing.contact-us ul li .text:hover {
        background-color: @wh;
        border-color: #D1D1D1;

        h2, p {
            color: @totalBlk;
        }
    }
}

// Header animation
@media (min-width: 769px) {
    section.carousel-container.fixed {
        top: 96px;

        #carousel-main,
        #carousel-main-alt {
            &, & .item {
                height: 545px;
            }
        }
    }

    header {
        -webkit-transition: all 350ms ease-in;
        -moz-transition: all 350ms ease-in;
        -ms-transition: all 350ms ease-in;
        -o-transition: all 350ms ease-in;
        transition: all 350ms ease-in;

        &.shifted {
            -ms-transform: translate3d(0, -45px, 0);
            -webkit-transform: translate3d(0, -45px, 0);
            transform: translate3d(0, -45px, 0);
        }
    }
}


@media (max-width: 768px) {
    body {
        padding-top: 60px !important;
    }

    header {
        .upper,
        .lower,
        h1 a span,
        h5.logoh1 a span,
        nav.main {
            display: none;
        }

        .middle {
            height: 60px;
        }

        nav.main-mobile-visible {
            display: block;

            ul li ul li {
                border-width: 0;
            }
        }
    }

    h1, h5.logoh1 {
        width: 180px;
        height: 100%;
        display: block;
        background-size: 100% auto;

        a {
            width: 100%;
            height: 100%;
            padding: 0;
        }
    }

    #show-mobile-menu{
        display: block;
    }

    .container {
        width: 724px;
    }

    .col {
        float: left;
    }

    .col-sm-6 {
        width: 50%;
    }

    div.email .text,
    div.email .textmail{
        width: 58%;
    }

    section.related-prod.product-family .row {
        img {
            max-width: 32%;
        }

        h3, p {
            font-size: @baseFontSize;
        }
    }

    #carousel-main,
    #carousel-main-alt {
        .carousel-caption {
            top: 5%;
            h2{
                span {
                    font-size: 36px;
                }
            }
        }
    }

    #carousel-main-alt {
        background-position: center;
        background-size: auto;

        .carousel-caption {
            width: 96%;
            top: 26%;
            text-align: center;
        }
    }

    #prod-search .tab-content .tab-pane .row:first-child a {
        display: none;
    }

    .contact-division {
        left: 39%;
    }

    section.content-listing.contact-us.level-2 {
        padding-right: 45px;
        padding-left: 45px;

        ul.officers {
            .col-xs-12 {
                width: 100%;
                float: none;
            }

            .col-xs-6 {
                width: 50%;
            }

            > li {
                border-bottom-width: 0;

                h3 {
                    min-height: 55px;
                    padding: 17px 60px 17px 20px;
                    border: 1px solid #D1D1D1;
                    color: @greyDark;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    position: relative;
                    background-color: #F1F1F1;

                    .icon-wrapper {
                        display: block;
                    }
                }

                ul {
                    display: none;
                    padding: 37px 0 0;

                    &.visible {
                        display: block;
                    }

                    li {
                        min-height: 180px;

                        .content-wrapper .contacts p {
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    #readinglist {
        right: -60px;
    }
}


@media (min-width: 768px) {
    .highlights .col-md-6 article.highlight {
        background-image: none !important;
    }
}

@media (max-width:1024px){
  
  section.content-listing.contact-us ul.row > li,
  section.content-listing.products > .row .col {
    width: 100%;
  }
  #prod-search .tab-content .tab-pane .row.input-row form select.col-xs-12,
  #prod-search .tab-content .tab-pane .row.input-row form .dropdown.col-xs-12,
  #prod-search .tab-content .tab-pane .row.input-row form input[type="submit"] {
    float: none;
    margin: 10px 0 0;
    background-position: -218px 21px;
    min-width: 100%;
    max-width: 100%;
  }
}


@media (max-width: 767px) {
    section.content-listing.contact-us ul.row > li,
    section.content-listing.products > .row .col {
        width: 100%;
    }
    #prod-search .tab-content .tab-pane .row.input-row form {
        select.col-xs-12,
        .dropdown.col-xs-12,
        input[type="submit"] {
        	min-width: 100%;
        	max-width: 100%;
            float: none;
            margin: 10px 0 0;
            background-position: -218px 21px;

            &:first-child {
                margin: 0;
            }
        }
    }

    #carousel-main-alt {
        background-size: 90% auto;
    }

    section.content-listing.contact-us ul li .text p {
        display: none;
    }

    .contact-division {
        .level-1 & {
            height: 74px;
            width: 74px;
            top: -36px;
            left: 50%;
            margin-left: -37px;
            .icon {
                background-position: -22px top;
                background-size: 230px auto;
                width: 55px;
                height: 52px;
                margin-top: 6px;
            }
        }

        .level-1 .aviazione & .icon {
            width: 52px;
            background-position: -70px 5px;
            background-size: 215px auto;
            margin-top: 7px;
        }

        .level-1 .agricoltura & .icon {
            height: 46px;
            margin-top: 11px;
            background-position: -22px -52px;
        }

        .level-1 .bitumi & .icon {
            height: 50px;
            width: 61px;
            background-position: -76px -50px;
        }

        .level-1 .grassi & .icon {
            width: 46px;
            height: 55px;
            margin-top: 5px;
            background-position: -23px -97px;
        }

        .level-1 .carburanti & .icon {
            position: static;
            width: 47px;
            background-position: -80px -94px;
            background-size: 220px auto;
        }

        .level-1 .additivi & .icon {
            background-position: -138px -100px;
        }

        .level-1 .gpl & .icon {
            background-position: -142px -47px;
        }
    }

    .highlights {
        background-size: cover;
        background-position: center;

        .col-no-offset-left {
            article {
                height: 260px;

                img {
                    display: none;
                }
            }
        }
    }

    div.email {
        padding: 45px 28px 20px;
        overflow: visible;
        text-align: center;

        .icon-container {
            width: 60px;
            height: 60px;
            left: 50%;
            top: -30px;
            margin-left: -30px;

            .icon {
                margin-top: 17px;
            }
        }

        .text, .textmail {
            display: block;
            width: auto;
            padding: 0;
            text-align: center;
            font-size: @baseFontSize;
        }

        .btn-ylw {
            float: none;
            margin-right: auto;
            margin-left: auto;
        }

        .business & {
            margin-top: 50px;
        }
    }
}


@media (max-width: 690px) {
    section.highlights .col-xs-12 {
        &, ul.articles li {
            float: none;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        article.highlight .img-overlay {
            display: block;
        }
    }
}


@media (max-width: 320px) {
    .col-xs-0 {
        display: none;
    }

    .col-xs-12,
    .col .col-xs-12 {
        width: 100%;
        float: none;
        padding-right: 0;
        padding-left: 0;
    }

    #carousel-main,
    #carousel-main-alt {
        .carousel-caption h2 span {
            font-size: 28px;
        }
    }

    #prod-search {
        margin-right: -15px;
        margin-left: -15px;

        .tab-content .tab-pane .row {
            &:first-child {
                display: none;
            }

            &.input-row form{
                select,
                .dropdown,
                input[type="submit"] {
                    width: 100%;
                    float: none;
                    margin-top: 10px;
                    margin-right: 0;
                    margin-left: 0;
                }

                .dropdown {
                    padding-left: 15px;
                    padding-right: 15px;
                }

                input[type="submit"] {
                    text-indent: 0;
                    background-position:  -218px 21px;
                }
            }
        }
    }

    #carousel-highlights {
        .carousel-indicators {
            // right: 15px;
        }

        .item .carousel-caption {
            // right: 15px;

            h2 {
                font-size: 22px;
            }

            .btn-ylw {
                width: 100%;
            }
        }
    }

    #carousel-business {
        width: auto;
        float: none;
        margin-right: 0;
    }

    .col-sm-12 article.highlight {
        height: auto;
        background-image: none !important;

        img {
            display: block;
        }

        > .text {
            position: static;
            max-width: 100%;
            min-width: 100%;
            padding-bottom: 30px;

            h2, h2 a {
                color: @blkTab;
            }

            p {
                display: block;
                color: @greyLight;
                border-color: @greyLight;

                &.when {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom-width: 1px;
                    margin: 15px 0;
                }
            }

            .btn-ylw {
                display: block;
            }
        }
    }

    div.email {
        padding: 45px 28px 20px;
        overflow: visible;
        text-align: center;

        .icon-container {
            width: 60px;
            height: 60px;
            left: 50%;
            top: -30px;
            margin-left: -30px;

            .icon {
                margin-top: 17px;
            }
        }

        .text, .textmail {
            display: block;
            width: auto;
            padding: 0;
            text-align: center;
            font-size: @baseFontSize;
        }

        .btn-ylw {
            float: none;
            margin-right: auto;
            margin-left: auto;
        }
    }

    section {
        &.highlights .col-xs-12 article.highlight .img-overlay {
            display: none;
        }

        &.content-listing {
            ul li {
                height: 120px;
            }

            .product-family ul li {
                &,
                &:first-child,
                &:first-child + li {
                    height: auto;
                    padding-top: 30px;
                    border-top: 1px dotted @greyLight;
                    margin-top: 30px;

                    .wrap {
                        padding-top: 0;
                        border-width: 0;

                        img {
                            max-width: 23%;
                        }

                        h3 {
                            font-size: 14px;
                            line-height: 14px;
                        }

                        p {
                            font-size: 12px;
                            line-height: 16px;
                            margin-top: 4px;
                        }
                    }
                }

                &:first-child {
                    border-top-width: 0;
                    padding-top: 0;
                }
            }

            &.contact-us {
                .text-intro {
                    text-align: left;

                    h2 {
                        font-size: 24px;
                    }

                    p, address {
                        font-size: 16px;
                    }
                }

                ul li {
                    height: 178px;
                    margin-bottom: 10px;

                    .text {
                        padding-top: 53px;

                        h2 {
                            margin-top: 0;
                        }
                    }
                }

                &.level-2 {
                    padding-right: 0;
                    padding-left: 0;

                    .text-intro {
                        text-align: center;

                        .contact-division {
                            height: 74px;
                            width: 74px;
                            margin-top: -33px;

                            .icon {
                                background-position: -22px top;
                                background-size: 230px auto;
                                width: 55px;
                                height: 52px;
                                margin-top: 6px;
                            }
                        }

                        &.aviazione .contact-division .icon {
                            width: 52px;
                            background-position: -70px 5px;
                            background-size: 215px auto;
                            margin-top: 7px;
                        }

                        &.agricoltura .contact-division .icon {
                            height: 46px;
                            margin-top: 11px;
                            background-position: -22px -52px;
                        }

                        &.bitumi .contact-division .icon {
                            height: 50px;
                            width: 61px;
                            background-position: -76px -50px;
                        }

                        &.grassi .contact-division .icon {
                            width: 46px;
                            height: 55px;
                            margin-top: 5px;
                            background-position: -23px -97px;
                        }

                        &.carburanti .contact-division .icon {
                            position: static;
                            width: 47px;
                            background-position: -80px -94px;
                            background-size: 220px auto;
                        }

                        &.additivi .contact-division .icon {
                            background-position: -138px -100px;
                        }

                        &.gpl .contact-division .icon {
                            background-position: -142px -47px;
                        }
                    }

                    > .row {
                        margin-right: 0;
                        margin-left: 0;
                    }

                    ul.row {
                        .col-xs-6 {
                            width: 100%;
                            float: none;
                            padding-right: 0;
                            padding-left: 0;
                        }

                        > li ul li {
                            min-height: 100px;
                            margin-bottom: 40px;
                        }

                        &.countries li ul {
                            padding-left: 0;

                            li {
                                padding-right: 0;
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }

        &.product-detail {
            img {
                float: none;
                display: block;
                max-width: 100%;
                margin: 0 auto;
            }
        }

        &.avail-products .accordion-item .panel-body {
            padding-top: 0;
            padding-bottom: 42px;

            table {
                position: relative;
                padding-bottom: 60px;

                &, thead, tfoot, tbody, tr, th, td {
                    display: block;
                    font-size: 14px;
                }

                tfoot {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 77px;

                    tr, td {
                        padding: 0;
                        border: 0 none;

                        .datasheet-download {
                            margin-top: 47px;
                        }
                    }
                }

                tbody td {
                    color: @blkTab;
                    font-weight: 700;
                }

                tr {
                    padding: 20px;
                    border-bottom: 1px dotted @greyLight;

                    th, td {
                        line-height: 20px;
                        border: 0 none;
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }

        &.business {
            ul li > p {
                display: none;
            }

            .carousel-container + div {
                margin-top: 26px;
            }
        }

        &.related-prod.product-family .row {
            h3, h3 a {
                font-size: @baseFontSize;
            }
        }

        &.banner-contacts h2 {
            font-size: 18px;
            margin: 20px 0;
        }
    }

    .contact-division {
        left: 22%;
    }

    #readinglist {
        display: none;
    }

    #cookie-bar {
        font-size: @baseFontSize;
        text-align: center;
        padding: 16px 10px 20px;

        .btn-ylw {
            display: block;
            max-width: 68px;
            float: none;
            margin: 18px auto 0;
        }

        .text {
            display: block;
            max-width: 100%;
            padding: 0;
        }
    }

    footer {
        .logo {
            line-height: 666px;
            margin: 0 auto;
            overflow: hidden;
            padding: 0;
            width: 75px;
        }

        .main {
            .row.middle {
                margin: 0;
            }

            div.col {
                display: block;
                float: none;
                width: 100%;
                padding: 30px 0 0;
            }
        }
    }
}

@media (max-width: 340px) {
    #carousel-main,
    #carousel-main-alt {
        .carousel-caption {
            h2 {
                span {
                    font-size: 32px;
                }
            }
        }
    }
}