// Colors
@greyDarkest: #333333;
@greyDark: #666666;
@greyLight: #666666;
@wh: #FFFFFF;
@ylw: #FED300;
@ylwTabNotActive: #E4BD00;
@ylwTabNotActiveBorder: #F3CA00;
@blkTab: #1D1D1D;
@blkTabNotActive: #725E00;
@totalBlk: #000000;
@dloadBlk: #222222;
@serviziLabelBg: #BF3C3A;
@eventoLabelBg: #4B84AB;
@newsLabelBg: #D68F22;

// Fonts
@baseBoldFontWeight: 700;
@baseFontSize: 14px;