<section class="brochure-download">
   		
   		<h2>{{'brochure_block.documents'|trans | raw}}</h2>

		{% for doc in block.docs %}
		
    		{% if doc.pdfIcon %}

			    <a class="download custom-icon" title="{{ doc.text }}" href="{{ path('sonata_media_download', {'id': doc.pdf.id}) }}">
			        <span><img src="{% path doc.pdfIcon, 'reference' %}" /></span>

			{% else %}

		    <a class="download" title="{{ doc.text }}" href="{{ path('sonata_media_download', {'id': doc.pdf.id}) }}">
		        <span>&nbsp;</span>

			{% endif %}

		        <span>
		            <strong>{{ doc.text }}</strong>
		            <br /> {{ macro.bytesToSize(doc.pdf.size) }}
        		</span>
            </a>
            
            <br>

        {% endfor %}

</section>
