<div class="email col-sm-12">
    <span class="icon-container">
        <span class="icon">&nbsp;</span>
    </span>
    <span class="text">{{ block.text | trans | raw }}</span>
    <a class="btn-ylw" title="" href="mailto:{{ block.email }}">{{ block.email }}</a>
</div>