<div class="text slider">
    <section class="carousel-container">
        <div id="carousel-block-{{ block.id }}" class="carousel slide" data-ride="carousel" style="width: 44%; height: 300px; float: left; margin: 0 20px 38px 0;">
            <ol class="carousel-indicators">
                {% for slider in block.slider %}
                    <li data-target="#carousel-block-{{ block.id }}" data-slide-to="{{ loop.index0 }}" {% if loop.index == 1%}class="active"{% endif %}>&nbsp;</li>
                {% endfor %}
            </ol>

            <!-- Content -->
            <div class="carousel-inner" role="listbox">
                {% for slider in block.slider %}
                    <div class="item {% if loop.index == 1 %}active{% endif %}">
                        {% if slider.link %}
                            <a href="{{ createUrlFromLink(slider.link) }}" {% if slider.link.type|lower == 'external' %}target="_blank"{% endif %}>
                                <img src="{% path slider.image, 'reference' %}" />
                            </a>
                        {% else %}
                            <img src="{% path slider.image, 'reference' %}" />
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <div>
        <p>{{ block.text|raw }}</p>
    </div>
    <div class="clearfix"></div>
</div>
