{% extends '@App/base.html.twig' %}

{% block uppermain %}
	{% if page.bannerImage %}
	<section class="banner backgroundSize" style='background-image: url("{% path page.bannerImage, 'reference' %}")'>
	{% else %}
	<section class="banner backgroundSize" style='background-image: url("{{ asset('bundles/app/img/banner-default.jpg') }}")'>
	{% endif %}
		<div class="contrast">
        	<h1>{{page.title}}</h1>
        </div>
	</section>
{% endblock %}


{% block main %}
	<div id="main-content" class="container">
		<div class="container-fluid">
			<div class="row">
				{% if page.tabs|length > 1 %}
				<nav class="content-nav-tabs col col-md-3 col-sm-12">
                    <ul>
                        <li>
                            <strong>{{ page.title }}</strong>
                            <ul class="page-tabs" role="tablist">
							{% for tab in page.tabs if tab.published %}
							    {% if tab.link is defined and tab.link and tab.link.published %}
                                    <li role="presentation" {% if loop.first %}class="active"{% endif %}>
                                        <a href="{{ createUrlFromLink(tab.link) }}" {% if tab.link.type|lower == 'external' %}target="_blank"{% endif %} aria-controls="tab-{{ tab.slug }}" role="tab" title="{{ tab.title }}">{{ tab.title }}</a>
    								</li>
								{% else %}
                                    <li role="presentation" {% if loop.first %}class="active"{% endif %}>
    									<a href="#tab-{{ tab.slug }}" aria-controls="tab-{{ tab.slug }}" role="tab" data-toggle="tab" title="{{ tab.title }}">{{ tab.title }}</a>
    								</li>								
								{% endif %}
							{% endfor %}
                            </ul>
                        </li>
                    </ul>
				</nav>
				{% endif %}
				<section class="content-listing business level-2 col col-md-9 col-sm-12 container-fluid tab-content {% if page.tabs|length < 2 %}col-md-push-1{% endif %}">
			    {% for tab in page.tabs if tab.published %}
					<div role="tabpanel" class="tab-pane fade {% if loop.first %}in active{% endif %}" id="tab-{{ tab.slug }}">
						{% for block in tab.blocks if block.published %}
			            	{% include block.template with { 'block': block } %}
						{% endfor %}
						<div class="clearfix"></div>
			        </div>
			    {% endfor %}
				</section>
			</div>
		</div>
	</div>

{% endblock %}
