{% extends sonata_block.templates.block_base %}

{% block block %}
    {% set custom_groups = sonata_customization.customGroups %}

    {% for group in groups %}
        {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
        {% for role in group.roles if not display %}
            {% set display = is_granted(role)%}
        {% endfor %}

        {% if display %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ group.label|trans({}, group.label_catalogue) }}</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <tbody>
                            {% for admin in group.items %}
                                {% if admin.hasroute('create') and admin.isGranted('CREATE') or admin.hasroute('list') and admin.isGranted('LIST') %}
                                            <tr>
                                                <td class="sonata-ba-list-label" width="40%">
                                                    {{ admin.label|trans({}, admin.translationdomain) }}
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        {% if admin.hasroute('create') and admin.isGranted('CREATE') %}
                                                            {% if admin.subClasses is empty %}
                                                                <a class="btn btn-link btn-flat" href="{{ admin.generateUrl('create')}}">
                                                                    <i class="fa fa-plus-circle"></i>
                                                                    {% trans from 'SonataAdminBundle' %}link_add{% endtrans %}
                                                                </a>
                                                            {% else %}
                                                                <a class="btn btn-link btn-flat dropdown-toggle" data-toggle="dropdown" href="#">
                                                                    <i class="fa fa-plus-circle"></i>
                                                                    {% trans from 'SonataAdminBundle' %}link_add{% endtrans %}
                                                                    <span class="caret"></span>
                                                                </a>
                                                                <ul class="dropdown-menu">
                                                                    {% for subclass in admin.subclasses|keys %}
                                                                        <li>
                                                                            <a href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">{{ subclass }}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                                            <a class="btn btn-link btn-flat" href="{{ admin.generateUrl('list')}}">
                                                                <i class="glyphicon glyphicon-list"></i>
                                                                {% trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                            </tr>
                                {% endif %}
                            {% endfor %}
                            {% if custom_groups[group.label] is defined %}
                                {% for item in custom_groups[group.label].items %}
                                    {% set item_display = (item.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                                    {% for role in item.roles if not item_display %}
                                        {% set item_display = is_granted(role)%}
                                    {% endfor %}
                                    {% if item_display %}
                                        <tr>
                                            <td class="sonata-ba-list-label" width="40%">
                                                {{ item.label|trans({}, item.label_catalogue|default('messages')) }}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    {% for child in item.items|slice(0, 2) %}
                                                        <a class="btn btn-link btn-flat" href="{{ path(child.route, child.route_params|default({})) }}">
                                                            <i class="{{ child.icon|default('glyphicon glyphicon-list') }}"></i>
                                                            {{ child.label|trans({}, child.label_catalogue|default('messages')) }}
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% set custom_groups = custom_groups|merge({(group.label): {}}) %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for group in custom_groups if group|length > 0 %}
        {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
        {% for role in group.roles if not display %}
            {% set display = is_granted(role)%}
        {% endfor %}

        {% if display %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ group.label|trans({}, group.label_catalogue|default('messages')) }}</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <tbody>
                            {% for item in group.items %}
                                {% set item_display = (item.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                                {% for role in item.roles if not item_display %}
                                    {% set item_display = is_granted(role)%}
                                {% endfor %}
                                {% if item_display %}
                                    <tr>
                                        <td class="sonata-ba-list-label" width="40%">
                                            {{ item.label|trans({}, item.label_catalogue|default('messages')) }}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                {% for child in item.items|slice(0, 2) %}
                                                    <a class="btn btn-link btn-flat" href="{{ path(child.route, child.route_params|default({})) }}">
                                                        <i class="{{ child.icon|default('glyphicon glyphicon-list') }}"></i>
                                                        {{ child.label|trans({}, child.label_catalogue|default('messages')) }}
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
