{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{  parent() }}

    {% stylesheets '@SonataTranslationBundle/Resources/public/css/sonata-translation.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
    		<img src="{{ asset('bundles/app/admin/img/enioil-admin-logo.jpg') }}" style="height: 40px;">
			<span>EniOil Admin</span>
        </a>
    {% endspaceless %}
{% endblock %}

{% block side_bar_nav %}
    {% set custom_groups = sonata_customization.customGroups %}

    {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
        <ul class="sidebar-menu">
            {% for group in admin_pool.dashboardgroups %}
                {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                {% for role in group.roles if not display %}
                    {% set display = is_granted(role) %}
                {% endfor %}

                {# Do not display the group label if no item in group is available #}
                {% set item_count = 0 %}
                {% if display %}
                    {% for admin in group.items if item_count == 0 %}
                        {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                            {% set item_count = item_count+1 %}
                        {% endif %}
                    {% endfor %}
                    {% if custom_groups[group.label] is defined %}
                        {% for item in custom_groups[group.label].items %}
                            {% set item_display = (item.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                            {% for role in item.roles if not item_display %}
                                {% set item_display = is_granted(role)%}
                            {% endfor %}
                            {% if item_display %}
                                {% set item_count = item_count+1 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}

                {% if display and (item_count > 0) %}
                    {% set active = false %}
                    {% for admin in group.items %}
                        {% if admin.hasroute('list') and admin.isGranted('LIST') and app.request.get('_sonata_admin') == admin.code %}
                            {% set active = true %}
                        {% endif %}
                    {% endfor %}
                    {% if custom_groups[group.label] is defined %}
                        {% for item in custom_groups[group.label].items %}
                            {% for child in item.items if app.request.get('_route') == child.route %}
                                {% set active = true %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <li class="treeview{% if active %} active{% endif %}">
                        <a href="#">
                            {% if group.icon|default() %}{{ group.icon|raw }}{% endif %}
                            <span>{{ group.label|trans({}, group.label_catalogue) }}</span>
                            <i class="fa pull-right fa-angle-left"></i>
                        </a>
                        <ul class="treeview-menu{% if active %} active{% endif %}">
                            {% for admin in group.items %}
                                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                    <li{% if app.request.get('_sonata_admin') == admin.code %} class="active"{% endif %}><a href="{{ admin.generateUrl('list')}}"><i class="fa fa-angle-double-right"></i> {{ admin.label|trans({}, admin.translationdomain) }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if custom_groups[group.label] is defined %}
                                {% for item in custom_groups[group.label].items %}
                                    {% set display = (item.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                                    {% for role in item.roles if not display %}
                                        {% set display = is_granted(role) %}
                                    {% endfor %}
                                    {% if display %}
                                        {% set item_active = false %}
                                        {% for child in item.items if app.request.get('_route') == child.route %}
                                            {% set item_active = true %}
                                        {% endfor %}
                                        <li{% if item_active %} class="active"{% endif %}><a href="{{ path(item.items[0].route, item.items[0].route_params|default({})) }}"><i class="fa fa-angle-double-right"></i> {{ item.label|trans({}, item.label_catalogue|default('messages')) }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% set custom_groups = custom_groups|merge({(group.label): {}}) %}
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
            {% for group in custom_groups if group|length > 0 %}
                {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                {% for role in group.roles if not display %}
                    {% set display = is_granted(role) %}
                {% endfor %}

                {% set item_count = 0 %}
                {% if display %}
                    {% for item in group.items %}
                        {% set item_display = (item.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                        {% for role in item.roles if not item_display %}
                            {% set item_display = is_granted(role)%}
                        {% endfor %}
                        {% if item_display %}
                            {% set item_count = item_count+1 %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if display and (item_count > 0) %}
                    {% set active = false %}
                    {% for item in group.items %}
                        {% for child in item.items if app.request.get('_route') == child.route %}
                            {% set active = true %}
                        {% endfor %}
                    {% endfor %}
                    <li class="treeview{% if active %} active{% endif %}">
                        <a href="#">
                            {% if group.icon|default() %}{{ group.icon|raw }}{% endif %}
                            <span>{{ group.label|trans({}, group.label_catalogue|default('messages')) }}</span>
                            <i class="fa pull-right fa-angle-left"></i>
                        </a>
                        <ul class="treeview-menu{% if active %} active{% endif %}">
                            {% for item in group.items %}
                                {% set item_active = false %}
                                {% for child in item.items if app.request.get('_route') == child.route %}
                                    {% set item_active = true %}
                                {% endfor %}
                                <li{% if item_active %} class="active"{% endif %}><a href="{{ path(item.items[0].route, item.items[0].route_params|default({})) }}"><i class="fa fa-angle-double-right"></i> {{ item.label|trans({}, item.label_catalogue|default('messages')) }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock side_bar_nav %}

{% block side_bar_after_nav %}
{% endblock %}

{% block sonata_sidebar_search %}
{% endblock sonata_sidebar_search %}
