{% if admin.isGranted('EDIT', object) %}
    {% if object.tabs|length > 0 %}
    <a href="{{ admin.generateUrl('tabs', { 'id': object.id }) }}" class="btn btn-sm btn-default" title="Edit Tabs">
        <i class="fa fa-th-list"></i>
        Edit Tabs
    </a>
    {% endif %}
{% endif %}
