{% extends base_template %}

{% block breadcrumb %}
<li>
    <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
</li>
<li class="active"><span>Maintenance</span></li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
    .content .alert { margin-left: 0;}
    .select2-container { min-width: 200px; }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.maintenance-form').on("submit", function (event) {
                event.preventDefault();
                $("button[type='submit']").attr('disabled', 'disabled');
                $('.loading').append("<i class='fa fa-large fa-spinner fa-spin'></i>");
                $('.loading').show();
                $('.result').empty();
                $.get(
                    '{{ path('maintenance') }}',
                    { command: $(this).attr('id'), params: {url: $("input[name='url']").val()} },
                    function(data) {
                        $('.loading').empty();
                        $('.result').show();
                        if(data.success) {
                            $('.result').append("<div class='alert alert-success'>" + data.content + "</div>");
                        } else {
                            $('.result').append("<div class='alert alert-danger'>" + data.content + "</div>");
                        }
                    	$("button[type='submit']").removeAttr('disabled');  
                    }
                );
            });
        });
    </script>
{% endblock %}

{% block sonata_admin_content %}
    <div class="result" style='display:none'></div>
      {% for key, command in availableCommands %}
    <div class="box box-primary">
        <div class="box-body">
        			<h2>{{ command.name }}</h2>
            <form class="maintenance-form" id='{{ command.class }}'>
                {% if command.params %}
                    {% if 'url' in command.params|keys %}
		                <input type="text" id="url" name="url" size="80" required value={{ command.params.url }}>
                    {% endif %}
                {% endif %}
                		<button type="submit" class="btn btn-default maintenance">Send</button>
            </form>
            <br>
        	<br>
        		</div>
    		</div>
            {% endfor %}
            <div class='loading' style='display:none'></div>

        <div class="box-body">
    		 {% for type, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <br/>
                    <div class="row">
                        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            {{ flash | raw}}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="box box-primary">
        	<div class="box-body">
    			<h2>Update classifications positions</h2>
    			<p>Use the file downloaded from AreaClassificationRow or from ProductClassificationRow</p>
                <form action="{{ path('maintenance_update_classification') }}" method="post" enctype="multipart/form-data" >
                   	<select size="1" name="fileType">
	                   	<option value="pcr" >ProductClassificationRow</option>
	                   	<option value="acr" >AreaClassificationRow</option>
                   	</select> <br /> <br />
                   	<input type="file" name="csvFile" /> <br /> <br />
                   	<input type="submit" class="btn btn-default maintenance" value="Send" />
   				</form>
        </div>
    </div>
{% endblock %}
