{% extends base_template %}

{% block title %}
    {{ 'Edit Tabs "%name%"'|trans({'%name%': admin.toString(object)|truncate(25) }) }}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{% endblock %}

{% block form %}
{% if object.tabs|length > 0 %}
    {{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object, 'locale_switcher_route': 'tabs' }) }}

	{{ form_start(form) }}
	{% if form.vars.errors|length > 0 %}
		<div class="sonata-ba-form-error">
			{{ form_errors(form) }}
		</div>
	{% endif %}
	<div class="row">
		<div class="col-xs-12">
			{{ form_rest(form) }}
		</div>
	</div>

    <div class="sonata-ba-form-actions well well-small form-actions">
        <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
        <button type="submit" class="btn btn-success" name="btn_update_and_tabs"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
        <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
    {% endif %}
    </div>
	{{ form_end(form) }}
{% else %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ "Please add at least one Tab first"|trans }}
    </div>
{% endif %}
{% endblock form %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/infiniteform/js/collections.js') }}"></script>
	<script type="text/javascript">
		jQuery(function () {
	        jQuery('[data-form-widget=collection]').each(function () {
	            coll = new window.infinite.Collection(this, jQuery(this).siblings('.btn-group').find('[data-prototype]'), {'keepScripts': true});
                var nestedSelector = coll.options.itemSelector;
                for (var i = 0; i < coll.$collection.parents(coll.options.itemSelector).length; i++) {
                    nestedSelector += ' ' + coll.options.itemSelector;
                }
                coll.internalCount = coll.$collection.find(coll.options.itemSelector).not(nestedSelector + ' ' + coll.options.itemSelector).length;
            });
            // Remove collapsible row
            jQuery('[data-form-widget=collection]').on('infinite_collection_remove', function(event) {
                id = jQuery(event.target).find('[data-toggle="collapse"]').data('target');
                jQuery(id).remove();
            });
            // Handle iCheck, select2, pretty errors, default sort value etc
            jQuery('[data-form-widget=collection]').on('infinite_collection_add', function(event) {
                Admin.shared_setup(event.$row);
                event.$row.find("input.sortable-position").val(jQuery(this).find("tr.item").length + 1);
            });
            // Toggle show/hide button
            jQuery(".block-config.collapse").on('shown.bs.collapse', function() {
                button = jQuery("[data-target=#" + jQuery(this).prop('id') + "]");
                button.html('<i class="fa fa-minus"></i>&nbsp;{{ 'Hide'|trans }}');
            });
            jQuery(".block-config.collapse").on('hidden.bs.collapse', function() {
                button = jQuery("[data-target=#" + jQuery(this).prop('id') + "]");
                button.html('<i class="fa fa-plus"></i>&nbsp;{{ 'Show'|trans }}');
            });
            // Sorting
            jQuery('[data-form-widget=collection] tbody.items').sortable({
                axis: 'y',
                opacity: 0.6,
                items: '> tr.item',
                handle: '.sorting-grip',
                placeholder: 'ui-state-highlight',
                start: function(event, ui) {
                    hideBlockConfigs(jQuery(this));
                    jQuery(this).sortable("refreshPositions");
                },
                stop: function(event, ui) {
                    sortBlockConfigs(jQuery(this));
                    showBlockConfigs(jQuery(this));
                }
            });
	    });

        // Sorting helpers
        function hideBlockConfigs(table) {
            table.find(".block-config.collapse").css('display', 'none');
        }
        function showBlockConfigs(table) {
            table.find(".block-config.collapse").attr('style', '');
        }
        function sortBlockConfigs(table) {
            table.find("tr.item").each(function(index, element) {
                $this = jQuery(element);
                target = jQuery($this.find("[data-toggle='collapse']").data("target"));
                textareaId = target.find('textarea').attr('id');
                if (typeof textareaId != 'undefined') {
                    editorInstance = CKEDITOR.instances[textareaId];
                    editorInstance.destroy();
                    CKEDITOR.remove(textareaId);
                }
                target.insertAfter(element);
                if (typeof textareaId != 'undefined') {
                    CKEDITOR.replace(textareaId);
                }
                input = $this.find('input.sortable-position');
                input.val(index + 1);
            });
        }
	</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# Improved readability #}
    <style type="text/css">
        .table-bordered>tbody>tr.collapse>td, .table-bordered>tbody>tr.collapsing>td { border-bottom-color: #ccc; background-color: #f4f4f4; }
        .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
            border: 1px solid #ddd;
        }
        .table-bordered {
            border: 1px solid #ddd;
        }
    </style>
{% endblock %}

{% block infinite_form_polycollection_widget %}
{% spaceless %}
    {% set attr = attr|merge({
        'data-form-widget': 'collection',
    }) %}
    {% if disabled %}
    {% set attr = attr|merge({
        'data-disabled': 1
    }) %}
    {% endif %}

	<table class="collection table table table-bordered table-striped" {{ block('widget_container_attributes') }}>
	    <thead>
	    	<tr>
				<th>Type</th>
				<th>Published</th>
				<th>Actions</th>
			</tr>
		</thead>
	    <tbody class="items">
	        {{- block('form_rows') -}}
		</tbody>
	</table>
    {% if prototypes is defined %}
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Add <span class="caret"></span>
		</button>
  		<ul class="dropdown-menu">
		{% for key, prototype in prototypes %}
        	<li><a class="dropdown-item" data-prototype="{{ form_row(prototype) | escape }}"><i class="fa fa-plus"></i> Add {{ key }}</a></li>
		{% endfor %}
		</ul>
	</div>
    {% endif %}
{% endspaceless %}
{% endblock infinite_form_polycollection_widget %}

{% block block_email_type_row %}
{% spaceless %}
<tr class="item line">
    {% set line = form.vars.value %}
    <td class="thincontrol">
        {% if form._type is defined %}{{ form_widget(form._type) }}{% endif %}
        <a class="remove_item btn btn-danger" href="#"><i class="icon-minus icon-white"></i></a>
    </td>
    <td class="{% if form.text is invalid %} control-group error{% endif %}">
        {{ form_widget(form.text, { 'attr': { 'class': 'fullwidth', placeholder: 'Text' } }) }}
    </td>
    <td class="{% if form.email is invalid %} control-group error{% endif %}">
        {{ form_widget(form.email, { 'attr': { 'class': 'fullwidth', placeholder: 'Email' } }) }}
    </td>
</tr>
{% endspaceless %}
{% endblock block_email_type_row %}

{% block block_text_type_row %}
{% spaceless %}
<tr class="item line">
    {% set line = form.vars.value %}
    <td class="thincontrol">
        {% if form._type is defined %}{{ form_widget(form._type) }}{% endif %}
        <a class="remove_item btn btn-danger" href="#"><i class="icon-minus icon-white"></i></a>
    </td>
    <td class="{% if form.text is invalid %} control-group error{% endif %}">
        {{ form_widget(form.text, { 'attr': { 'class': 'fullwidth', placeholder: 'Text' } }) }}
    </td>
</tr>
{% endspaceless %}
{% endblock block_text_type_row %}
