{% extends 'SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig' %}

{% block _page_tabs_type_tabs_entry_row %}
{% spaceless %}
<div class="box box-success">
    <div class="box-header">
        <h4 class="box-title">
            Tab "{{ form.vars.value.title }}"
        </h4>
    </div>
    <div class="box-body">
        <div class="sonata-ba-collapsed-fields">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        </div>
    </div>
</div>
{% endspaceless %}
{% endblock _page_tabs_type_tabs_entry_row %}

{% block infinite_form_polycollection_widget %}
{% spaceless %}
    {% set attr = attr|merge({
        'data-form-widget': 'collection',
        'class': 'collection table table table-bordered',
    }) %}
    {% if disabled %}
    {% set attr = attr|merge({
        'data-disabled': 1
    }) %}
    {% endif %}

	<table {{ block('widget_container_attributes') }}>
	    <thead>
	    	<tr>
				<th>Type</th>
				<th>Published</th>
				<th>Actions</th>
			</tr>
		</thead>
	    <tbody class="items">
	        {{- block('form_rows') -}}
		</tbody>
	</table>
    {% if prototypes is defined %}
	<div class="btn-group">
		<button type="button" class="btn btn-success btn-sm sonata-ba-action dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-plus-circle"></i>&nbsp;{{ 'link_add'|trans({}, 'SonataAdminBundle') }} <span class="caret"></span>
		</button>
  		<ul class="dropdown-menu">
		{% for key, prototype in prototypes %}
        	<li><a class="dropdown-item" data-prototype="{{ form_row(prototype) | escape }}">{{ key|split('\\')|last|replace({'Type': ''}) }}</a></li>
		{% endfor %}
		</ul>
	</div>
    {% endif %}
{% endspaceless %}
{% endblock infinite_form_polycollection_widget %}

{% block common_block_type_row %}
{% spaceless %}
<tr class="item">
    <td>
        {% if form._type is defined %}{{ form_widget(form._type) }}{{ form._type.vars.value|split('\\')|last|replace({'Type': ''}) }}{% endif %}
    </td>
    <td {% if form.published is invalid %}class="control-group error"{% endif %}>
        {{ form_widget(form.published) }}
    </td>
    <td>
        <span class="btn-group">
            <a class="btn btn-info btn-sm" data-toggle="collapse" data-target="#collapse-{{ form.vars.id }}"><i class="fa fa-minus"></i>&nbsp;{{ 'Hide'|trans }}</a>
            <a class="btn btn-default btn-sm sorting-grip" title="Drag &amp; Drop to sort"><i class="glyphicon glyphicon-sort"></i>&nbsp;{{ 'Sort'|trans }}</a>
            <a class="remove_item btn btn-danger btn-sm" ><i class="fa fa-minus-circle"></i>&nbsp;{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
        </span>
        {{ form_widget(form.position) }}
    </td>
</tr>
{% endspaceless %}
{% endblock common_block_type_row %}

{% block block_email_type_row %}
{% spaceless %}
{{ block('common_block_type_row') }}
<tr id="collapse-{{ form.vars.id }}" class="block-config collapse in">
    <td colspan=3>
        <div>
            {{ form_row(form.text) }}
            {{ form_row(form.email) }}
        </div>
    </td>
</tr>
{% endspaceless %}
{% endblock block_email_type_row %}

{% block block_text_type_row %}
{% spaceless %}
{{ block('common_block_type_row') }}
<tr id="collapse-{{ form.vars.id }}" class="block-config collapse in">
    <td colspan=3>
        <div>
            {{ form_row(form.text) }}
        </div>
    </td>
</tr>
{% endspaceless %}
{% endblock block_text_type_row %}

{% block block_brochure_type_row %}
{% spaceless %}
{{ block('common_block_type_row') }}
<tr id="collapse-{{ form.vars.id }}" class="block-config collapse in">
    <td colspan=3>
        <div>
            {{ form_row(form.docs) }}
        </div>
    </td>
</tr>
{% endspaceless %}
{% endblock %}

{% block block_slider_type_row %}
{% spaceless %}
{{ block('common_block_type_row') }}
<tr id="collapse-{{ form.vars.id }}" class="block-config collapse in">
    <td colspan=3>
        <div>
            {{ form_row(form.text) }}
            {{ form_row(form.slider) }}
        </div>
    </td>
</tr>
{% endspaceless %}
{% endblock %}
