<p> A user contacted enioil throught the gpl contact form. These are the info he submitted: </p>

<strong>Name</strong>: {{ name }} <br>
<strong>Email</strong>: {{ email }} <br>
<strong>Phone</strong>: {{ phone }} <br>
<strong>City</strong>: {{ city }} <br>
<strong>Province</strong>: {{ province }} <br>
<strong>Offer type</strong>: {{ ('gplcontact.' ~ (offerType)) |trans}} <br>
<strong>Message</strong>: {{ message }} <br>
<strong>Privacy accepted</strong>: {{ privacyAccepted }} <br>

