Found <strong>{{ products|length }}</strong> products without product classification row.<br><br>
{% for product in products %}
     <strong>Name</strong> : {{ product.title }} - <strong>Code</strong> : {{ product.code }} <br>
{% endfor %}