{% import _self as full_menu %}

<div class="products-menu">

    <div class="link back">
        <span class="icon">&nbsp;</span>

        <a title="" href="">Torna indietro</a>
    </div>
                                                
	<div class="link">
		<a title="" href="{{path('area_list') }}">{{'area_menu.go_to_products' | trans }}</a>
	</div>

    <ul>
        {{ full_menu.menu_links(classificationBranch, 1, startLevel, startLevel + depth -1) }}
    </ul>

</div>


{% macro menu_links(classificationBranch, level, startLevel, endLevel) %}
    {% for door in classificationBranch.doors %}
    
        {% if door.hasDedicatedPage == false %}
            {{ _self.menu_links(door, level+1, startLevel, endLevel) }}
        
        {% elseif level< startLevel %}
            {{ _self.menu_links(door, level+1, startLevel, endLevel) }}
        
        {% elseif level <= endLevel %}
            <li>
            
            	{% if level == 1 %}
                    <div>
                    	<a href="{{path('area_detail', { slug: door.slug }) }}">{{'area_menu.go_to'|trans | raw}} {{ door.lastStep.title }}</a>
    		            <span class="icon">&nbsp;</span>
                    </div>
                {% endif %}
                
            	<div>
                    <a href="{{path('area_detail', { slug: door.slug }) }}" {% if door.active %} class="active" {% endif %} >{{ door.lastStep.title }}</a>
                    <span class="icon">&nbsp;</span>
                </div>    
                   
                    {% if door.doors %}
                        <ul>
                            {{ _self.menu_links(door, level+1, startLevel, endLevel) }}
                        </ul>
                    {% endif %}
               
            </li>
            
        {% endif %}        
    {% endfor %}
{% endmacro %}
				