<section class="content-listing products level-4 col col-md-9 col-sm-12 container-fluid">

	<section class="avail-products accordions">
		
		{% set count = 0 %}  
        {% for door in classificationBranch.doors %}
        	{% if door.lastStep.code != "EMPTY" %}
                {% set count = count + 1  %}
            {% endif %}
        {% endfor %}
        {% if count > 0 %}
        	<h2>{{'product.available_products' | trans }}</h2>
        {% endif %}
        {% if count == 0 %}
        	<h2>{{'product.product_empty' | trans }}</h2>
        {% endif %}
		

		<div class="panel-group" role="tablist" aria-multiselectable="true">
		{% for door in classificationBranch.doors %}
             {{ include('AppBundle:frontend/area:area_accordion.html.twig', { 'product': door.lastStep, 'active':false }) }}
        {% endfor %}

		</div>
		
		{% include "AppBundle:frontend/partial:athos.html.twig" %}
				
	</section>

</section>