<section class="content-listing products level-2 col col-md-9 col-sm-12 container-fluid">

	<ul class="row">
		{% set count = 0 %}  
	    {% for door in classificationBranch.doors %}
			{% if door.lastStep.code != "EMPTY" %}
				{% set count = count + 1  %}
    			<li class="col col-md-4 col-sm-6">
                    <div class="overlay-wrapper">
                        <span class="overlay">&nbsp;</span>
                        <span class="overlay icon">&nbsp;</span>
                        {% if door.lastStep.previewImage %}
                            <img alt="" title="" src="{% path door.lastStep.previewImage, 'reference' %}" />  
                        {% else %}   
                           <img alt="" title="" src="{{ asset('bundles/app/img/news-preview.jpg') }}" />
                        {% endif %}
                    </div>
        
                    <h2>{{ door.lastStep.title}}</h2>
        
    			    <a class="link-to-content" title="{{door.lastStep.title}}" href="{{path('area_detail', { slug: door.slug }) }}">&nbsp;</a>
            	</li>
			{% endif %}
		{% endfor %} 
		{% if count == 0 %}
        	<li class="col col-md-4 col-sm-6">
                 <div class="overlay-wrapper">
                    <span class="overlay">&nbsp;</span>
                    <span class="overlay icon">&nbsp;</span>
                    <img alt="" title="" src="{{ asset('bundles/app/img/news-preview.jpg') }}" />
                </div>
        		<h2>{{ 'product.product_empty' | trans }}</h2>
            </li>
        {% endif %}       				

	</ul>
</section>

