<section class="content-listing products level-4 col col-md-9 col-sm-12 container-fluid">

	<section class="avail-products accordions">
		
		{% if classificationBranch.lastStep.code != "EMPTY" %}
    		<div class="panel-group" role="tablist" aria-multiselectable="true">
                 {{ include('AppBundle:frontend/area:area_accordion.html.twig', { 'product': classificationBranch.lastStep, 'active':true }) }}
    
    		</div>
    	{% else %}
    		
    		    <section class="product-family motori container-fluid">
                    
                  
                     	<ul class="row">
                     	   
                            	<li class="col col-md-6 col-sm-6 col-xs-12">
                                     <div class="wrap">
                            			<h3>{{ 'product.product_empty' | trans }}</h3>
                            		 </div>
                                </li>
                            
                        </ul>

               </section> 
    		
		{% endif %}
    		
		
		{% include "AppBundle:frontend/partial:athos.html.twig" %}
				
	</section>

</section>