{% if classificationBranch.isSingleProduct %}
    {{ include('AppBundle:frontend/area:area_lev5_single_detail.html.twig', { 'classificationBranch': classificationBranch }) }}
{% else %}
    {{ include('AppBundle:frontend/area:area_lev5_detail.html.twig', { 'classificationBranch': classificationBranch }) }}
{% endif %}
