{% if product.code != "EMPTY" %}
    <div class="panel panel-default accordion-item">
    	<div id="heading-{{product.code}}" class="panel-heading {% if active %} active {% endif %}" role="tab">
    		<h3 class="panel-title">
    			<a title="" class="accordion-animate collapsed" role="button" data-toggle="collapse" href="#collapse-{{product.code}}" aria-expanded="false" aria-controls="collapse-{{product.code}}">
    				{% if active %} 
    				{% else %}
    					<span class="expand-icon">+</span>
    				{% endif %}
    				<span class="collapse-icon">-</span>
    			</a>
    
    			<strong>{{product.title}}</strong>
    		</h3>
    	</div>
    
    	<div id="collapse-{{product.code}}" class="panel-collapse collapse {% if active %} in {% endif %}" role="tabpanel" aria-labelledby="heading-{{product.code}}">
    		<div class="panel-body">
    			<table>
    				<colgroup span="2"></colgroup>
    
    				{% if product.fromAlis or product.fromEpic %} 
    
                       {% if product.description %} 
        				<thead>
        					<tr>
        						<td colspan="2">
        								{{product.description | trans | raw}}
        						</td>
        					</tr>
        				</thead>
        				{% endif %} 
        
        
        				<tbody>
        				   {% if product.code %} 
            					<tr>
            						<th>{{'product.product_code' | trans }}</th>
            						<td>{{product.code}}</td>
            					</tr>
        					{% endif %} 
        
                            {% if product.title %} 
            					<tr>
            						<th>{{'product.product_name' | trans }}</th>
            						<td>{{product.title}}</td>
            					</tr>
        					{% endif %} 
        
                            {% if product.gradient %} 
            					<tr>
            						<th>{{'product.product_gradient' | trans }}</th>
            						<td>{{product.gradient}}</td>
            					</tr>
        					{% endif %} 
        
                            {% if product.specifications %} 
            					<tr>
            						<th>{{'product.product_specifications' | trans }}</th>
            						<td>{{product.specifications}}</td>
            					</tr>
        					{% endif %} 
        					
        					{% if product.pdf %} 
        						<tr>
        							<td colspan="1">
                                        <a class="download" title="" href="{{ path('tech_file_download', { fileid: product.getTechFileDownloadId }) }}" >
                                            <span>&nbsp;</span>
        
                                            <span>
                                                <strong>{{'product.brochure_pdf' | trans }}</strong> 
                                                <br /> pdf 
                                            </span>
                                    	</a>
        							</td>
        							<td colspan="1">
        							{% if 'product.language' | trans in app.request.pathinfo %}
        								{% if 'product.language' | trans in app.request.pathinfo and (product.code|first|upper == "E" or product.code|slice(0, 2)|upper == "0E") %}
                                            {{'product.apac.athos.search_button1'|trans | raw}}
                                    	{% else %}
                                    		{{'product.apac.athos.search_button2'|trans | raw}}
                                    	{% endif %}
                                	{% endif %}
        							</td>
        						</tr>
    						{% endif %}    					
        
        				</tbody>	
        				
        			{% else %} 	
        			
        			    <thead>
        					<tr>
        						<td colspan="2">
        								{{'product.product_details_not_available' | trans | raw}}
        						</td>
        					</tr>
        				</thead>				
    				
    				{% endif %} 	
    
    
    			</table>
    		</div>
    	</div>
    </div>
{% endif %}