<section class="content-listing products level-3 col col-md-9 col-sm-12 container-fluid">
                        
   {% for subClassificationBranch in classificationBranch.doors %}
    
        <section class="product-family motori container-fluid">
        
        {% if not subClassificationBranch.isLastStepEmpty %}
        	<h2>{{ subClassificationBranch.lastStep.title }}</h2>
        	<div class="text">
                {{ subClassificationBranch.lastStep.description | raw }}
            </div>
        {% else %}
        	<h2>{{ classificationBranch.lastStep.title }}</h2>
        	<div class="text">
                {{ classificationBranch.lastStep.description | raw  }}
            </div>
        {% endif %}
         	<ul class="row">    
                {% set count = 0 %}      		
                {% for door in subClassificationBranch.doors %}
                    {% if door.lastStep.title != "EMPTY" %}
                    	{% set count = count + 1  %}
                        <li class="col col-md-6 col-sm-6 col-xs-12">
                            <div class="wrap">
                            	
                                {% if door.lastStep.thumbImage %}
                                    <img alt="" title="" src="{% path door.lastStep.thumbImage, 'reference' %}" />  
                                {% else %}   
                                {% endif %}
                                
                                <h3>{{door.lastStep.title }}</h3>
    
                                <p>{{door.lastStep.shortDescription | striptags() | truncate(145, true) | raw   }} </p>
    
                                <a href="{{path('area_detail', { slug: door.slug }) }}" title="{{door.lastStep.title}}" class="link-to-content">&nbsp;</a>
    
                            </div>
                        </li>
                    {% endif %}                            	
                {% endfor %} 
                {% if count == 0 %}
                	<li class="col col-md-6 col-sm-6 col-xs-12">
                    	<div class="wrap">
                			<h3>{{ 'product.product_empty' | trans }}</h3>
                		</div>
                    </li>
                {% endif %}    
            </ul>

    	</section> 
    
   {% endfor %} 
    
</section>
