{% form_theme form 'AppBundle:frontend/area:form_concessionarytool.html.twig' %}
<div class="text">
	{{ ('concessionarytool.intro' ~ title) | trans | raw }} 
	<br /><br />
	{# <a class="btn-ylw" title="Maggiori informazioni" href="#">{{ 'gpltool.more_info' | trans }}</a> #}
</div>
<hr />
<div class="gplTool">
	<div class="form-group"></div>
	<div id="mapContainer">
		<div id="gplToolMap"></div>
		{% for office in offices %}
		<div id="customInfoWindow{{ office.id }}" class="customInfoWindow">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Chiudi" onclick="javascript: GplTool.resetZoom()">
				<span aria-hidden="true">×</span>
			</button>
			<strong>Contatti</strong><br />
			<hr />
			<span class="description description-address">
			{{ office.companyconcessionary.name }}
			<br /> {{ office.address|nl2br }}<br />
			<br />
			</span> 
			
		{% if office.phone %}
			<span class="description description-tel">Telefono: <strong>{{ office.phone }}</strong></span><br />
		{% endif %}
		
		{% if office.fax %}
			<span class="description description-fax">Fax: <strong>{{ office.fax }}</strong></span><br />
		{% endif %}
		
		{% if office.email %}
			<span class="description description-mail">E-mail: <strong>{{ office.email }}</strong></span><br /> <br />
		{% endif %}
		
{# 					<a class="btn-ylw"#}
{# 				href="https://www.google.it/maps/dir//{{ office.lat }},{{ office.lng }}"#}
{# 				role="button" target="_blank">{{'gpltool.process_path'|trans}}</a>#}
		</div>
		{% endfor %}
	</div>
	{% if found %}
	<div class="container results">
		<div class="row">
			<div class="header">
				<strong>{{'gpltool.results_found'|trans}}: <span style="color: red;">{{
						offices|length }}</span></strong>
			</div>
		</div>
		<div class="row">
			{% for office in offices %}
			<div class="col-md-6 result">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<h3 class="icon_marker_big"
								onclick="javascript: GplTool.showOffice({{ office.id }});">{{
								loop.index }}</h3>
						</div>
						<div class="col-md-10">
							<div>
								<strong>{{ office.company.name }}</strong>
							</div>
							{{ office.address ~ ' - ' ~ office.cap ~ ' - ' ~ office.city ~ '
							(' ~ office.province.shortName ~ ')' }}
						</div>
					</div>
				</div>
			</div>
			{% if loop.last and loop.index % 2 != 0 %}
			<div class="col-md-6 result hidden-xs hidden-sm"></div>
			{% endif %} {% if loop.index % 2 == 0 %}
			<div class="clearfix visible-md-block visible-lg-block"></div>
			{% endif %} {% endfor %}
		</div>
	</div>
	{% elseif form.vars.submitted and form.vars.valid %}
	<div class="container results">
		<div class="row">
			<div class="header">
				<strong>Concessionari trovati: <span style="color: red;">0</span></strong>
			</div>
		</div>
	</div>
	{% endif %}
</div>

{{ ('concessionarytool.list' ~ title) | trans | raw }} 
{# {{render(controller('AppBundle:Area:gplContact',{})) }} #}

<script type="text/javascript">
    var GplTool = GplTool || {
        map: null,
        submitted: {% if form.vars.submitted %}true{% else %}false{% endif %},
        markers: {},
        infowindows: {},
        init: function() {
            this.map = new google.maps.Map(document.getElementById('gplToolMap'), {
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDefaultUI: true,
                zoomControl: true,
                streetViewControl: true,
            });

        {% for office in offices %}
            this.markers.office_{{ office.id }} = new RichMarker({
                position: new google.maps.LatLng({{ office.lat }}, {{ office.lng }}),
                map: GplTool.map,
                shadow: 'none',
                content: '{% if found %}<div class="icon_marker">{{ loop.index }}</div>{% else %}<div class="icon_marker point">•</div>{% endif %}'
            });

            this.markers.office_{{ office.id }}.addListener('click', function() {
                GplTool.showOffice({{ office.id }});
            });
        {% endfor %}

            this.resetZoom();

        {% if offices|length == 1 %}
            this.showOffice({{ offices|first.id }});
        {% endif %}
        },
        resetZoom: function() {
            this.closeAllCustomInfoWindow();
            var bounds = new google.maps.LatLngBounds();
            for (key in this.markers) {
                bounds.extend(this.markers[key].getPosition());
            }
            this.map.fitBounds(bounds);
        },
        showOffice: function(id) {
            this.closeAllCustomInfoWindow();
            $('#customInfoWindow' + id).show();
            this.map.setCenter(this.markers['office_' + id].position);
            this.map.setZoom(5);
        },
        closeAllCustomInfoWindow: function(){
            {% for office in offices %}
                $('#customInfoWindow{{ office.id }}').hide();
            {% endfor %}
        }
    }
</script>

