{% extends 'form_div_layout.html.twig' %}

{%- block radio_row -%}
    <div class="col-sm-3 col-xs-6">
        <label class="radio-inline" for="{{form.vars.id}}">{{ form_widget(form, {attr: {class: 'icheck'}}) }}&nbsp;{{form.vars.label|trans}}</label>
    </div>
{%- endblock radio_row -%}

{% block form_row %}
{% spaceless %}
    {{ form_label(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
{% endspaceless %}
{% endblock form_row %}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
        {{- form_row(child) -}}
    {% endfor -%}
{%- endblock choice_widget_expanded -%}
