<div class="gplcontact-form-wrapper">
   <div class="text">
      <h2>{{ 'gplcontact.insertData' | trans | raw }}</h2>
   </div>
   <div class="hidden" id="labels" >
   		<div class="hidden" id="labelProvince">{{ 'gplcontact.province' | trans | raw }}</div>
   		<div class="hidden" id="labelSentIncorrectly">{{ 'gplcontact.sentincorrectly' | trans | raw }}</div>
   </div> 
   <form id="gplcontact-form" class="gplcontact-form" role="form" role="form" action="{{ path('post_gplcontacts', {}) }}">
      <div class="row">
         <div class="form-group col-md-12">
            <input type="text" class="form-control input-lg" id="name" placeholder="{{ 'gplcontact.name' | trans | raw }}" required data-error="{{ 'gplcontact.fieldCannotBeEmpty' | trans | raw }}">
            <div class="help-block with-errors"></div>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="form-group col-md-6">
            <input type="email" class="form-control input-lg" id="email" placeholder="{{ 'gplcontact.email' | trans | raw }}" required data-error="{{ 'gplcontact.insertValidMail' | trans | raw }}" >
            <div class="help-block with-errors"></div>
         </div>
         <div class="form-group col-md-6">
            <input type="text" class="form-control input-lg" id="phone" placeholder="{{ 'gplcontact.phone' | trans | raw }}" required data-error="{{ 'gplcontact.fieldCannotBeEmpty' | trans | raw }}">
            <div class="help-block with-errors"></div>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="form-group col-md-9">
            <input type="text" class="form-control input-lg" id="city" placeholder="{{ 'gplcontact.city' | trans | raw }}">
            <div class="help-block with-errors"></div>
         </div>
         <div class="form-group col-md-3">
            <select class="form-control input-lg select2" id="province" style="width: 100%;">
            	<option></option>
               {% for province in provinces %}
               <option>{{ province.name }}</option>
               {% endfor %}
            </select>
         </div>
      </div>
      <br>
      <br>
      <div class="row">
         <div class="col-md-12">
            <h3>{{ 'gplcontact.offerType' | trans | raw }}</h3>
         </div>
      </div>
      <br>
      <div class="form-group row">
         <div class="col-md-4">
            <div class="radio input-lg">
               <label>
               <input type="radio" name="offerType" id="offerType" value="homeSmallTanks" required data-error="{{ 'gplcontact.fieldCannotBeEmpty' | trans | raw }}">
               {{ 'gplcontact.homeSmallTanks' | trans | raw }}
               </label>
            </div>
         </div>
         <div class="col-md-4">
            <div class="radio input-lg">
               <label>
               <input type="radio" name="offerType" id="offerType" value="factorySmallTanks" required data-error="{{ 'gplcontact.fieldCannotBeEmpty' | trans | raw }}">
               {{ 'gplcontact.factorySmallTanks' | trans | raw }}
               </label>
            </div>
         </div>
         <div class="col-md-4">
            <div class="radio input-lg">
               <label>
               <input type="radio" name="offerType" id="offerType" value="barrells" required data-error="{{ 'gplcontact.fieldCannotBeEmpty' | trans | raw }}">
               {{ 'gplcontact.barrells' | trans | raw }}
               </label>
            </div>
         </div>
         <div class="col-md-12 help-block with-errors"></div>
      </div>
      <br>    
      <div class="row">
         <div class="col-md-12">
            <h3>{{ 'gplcontact.message' | trans | raw }}</h3>
         </div>
      </div>
      <br>
      <div class="form-group row">
         <div class="col-md-12">
            <textarea class="form-control input-lg" rows="3" id="message" placeholder="{{ 'gplcontact.insertText' | trans | raw }}" required data-error="{{ 'gplcontact.fieldCannotBeEmpty' | trans | raw }}"></textarea>
            <div class="help-block with-errors"></div>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="form-group col-md-12">
            <div class="radio input-lg">
               <label>
               <input type="radio" name="privacyAccepted" id="privacyAccepted" value="true" required data-error="{{ 'gplcontact.mustAcceptPrivacy' | trans | raw }}">
               {{ 'gplcontact.readAndAcceptPrivacy' | trans | raw }}
               </label>
            </div>
            <div class="help-block with-errors"></div>
         </div>
      </div>
      <br> 
      <div class="row">
         <div class="col-md-12">
            <button type="submit" class="btn-ylw" id="btnSubmit">{{ 'gplcontact.contactus' | trans | raw }}</button>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div id="msgSubmit" class="h3 hidden"></div>
         </div>
      </div>
   </form>
</div>      
