{% extends '@App/base.html.twig' %}

{% block uppermain %}
	{% if classificationBranch.bannerImage %}
	<section class="banner backgroundSize" style='background-image: url("{% path classificationBranch.bannerImage, 'reference' %}")'>
	{% else %}
	<section class="banner backgroundSize" style='background-image: url("{{ asset('bundles/app/img/banner-default.jpg') }}")'>
	{% endif %}
		<div class="contrast">        	
        	{% if classificationBranch.lastStep.title != "EMPTY" %}
                    <h1>{{classificationBranch.lastStep.title}}</h1>
            {% else %}
            		<h1>{{'product.product_empty' | trans }}</h1>
            {% endif %}
        </div>
	</section>
{% endblock %}


{% block main %}
	<div id="main-content" class="container">
		<div class="container-fluid">
			<div class="row">
			    {% if classificationBranch.lastStep.tabs|length > 0 %}
				<nav class="content-nav-tabs col col-md-3 col-sm-12">
                    <ul>
                        <li>
                            <strong>{{ classificationBranch.lastStep.title }}</strong>
                            <ul class="page-tabs" role="tablist">
							{% for tab in classificationBranch.lastStep.tabs if tab.published %}
							    {% if tab.link is defined and tab.link and tab.link.published%}
                                    <li role="presentation" {% if loop.first %}class="active"{% endif %}>
                                        <a href="{{ createUrlFromLink(tab.link) }}" {% if tab.link.type|lower == 'external' %}target="_blank"{% endif %} aria-controls="tab-{{ tab.slug }}" role="tab" title="{{ tab.title }}">{{ tab.title }}</a>
    								</li>
								{% else %}
                                    <li role="presentation" {% if loop.first %}class="active"{% endif %}>
    									<a href="#tab-{{ tab.slug }}" aria-controls="tab-{{ tab.slug }}" role="tab" data-toggle="tab" title="{{ tab.title }}">{{ tab.title }}</a>
    								</li>								
								{% endif %}
							{% endfor %}
							
							{% if classificationBranch.lastStep.fromAlis is not defined %}
    							{% if classificationBranch.lastStep.includeGplToolSection %}
    								<li role="presentation" >
    									<a href="#store-locator-tab" aria-controls="store-locator-tab" role="tab" data-toggle="tab" title="Store Locator">{{'gpltool.search'|trans}}</a>
    								</li>
    							{% endif %}
    							{% if classificationBranch.lastStep.includeConcessionaryToolSection %}
    								<li role="presentation" >
    									<a href="#store-locator-tab" aria-controls="store-locator-tab" role="tab" data-toggle="tab" title="Store Locator">{{ ('concessionarytool.dovesiamo' ~ classificationBranch.lastStep.title) | trans | raw}}</a>
    								</li>
    							{% endif %}
							{% endif %}
                            </ul>
                        </li>
                    </ul>
				</nav>
				{% endif %}
				<section class="content-listing business level-2 col col-md-9 col-sm-12 container-fluid tab-content {% if classificationBranch.lastStep.tabs|length < 2 %}col-md-push-1{% endif %}">
    			    {% for tab in classificationBranch.lastStep.tabs if tab.published %}
    					<div role="tabpanel" class="tab-pane fade {% if loop.first %}in active{% endif %}" id="tab-{{ tab.slug }}">
    			            {% for block in tab.blocks if block.published %}
    		            	    {% include block.template with { 'block': block } %}
    						{% endfor %}
    						<div class="clearfix"></div>
    			        </div>
    			    {% endfor %}
					{% if classificationBranch.lastStep.fromAlis is not defined %}
				        {% if classificationBranch.lastStep.includeGplToolSection %}
        					<div role="tabpanel" class="tab-pane fade" id="store-locator-tab">
        						{{ render(controller('AppBundle:Area:gplTool')) }}
        						<div class="clearfix"></div>
        					</div>
    				    {% endif %}

    				    {% if classificationBranch.lastStep.includeConcessionaryToolSection %}
        					<div role="tabpanel" class="tab-pane fade" id="store-locator-tab">
        						{{ render(controller('AppBundle:Area:concessionaryTool', {'title': classificationBranch.lastStep.title} )) }}
        						<div class="clearfix"></div>
        					</div>
    				    {% endif %}
					{% endif %}
					
					{% if classificationBranch.lastStep.fromAlis is not defined and classificationBranch.lastStep.includeProductSection %}
						<hr>
						{% include classificationBranch.productTemplate with { 'classificationBranch': classificationBranch } %}
					{% endif %}
				</section>

                {% if classificationBranch.lastStep.fromAlis is defined %}
                    {% include classificationBranch.productTemplate with { 'classificationBranch': classificationBranch } %}
                {% endif %}

			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{% if classificationBranch.lastStep.fromAlis is not defined %}
		{% if classificationBranch.lastStep.includeGplToolSection %}
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}"></script>
			<script type="text/javascript" src="{{ asset('js/richmarker.js') }}"></script>
			<script type="text/javascript">
				jQuery(function(){
					jQuery('a[href="#store-locator-tab"]').on('shown.bs.tab', function (e) {
						GplTool.init();
						jQuery('.gplTool input.icheck').iCheck({
							checkboxClass: 'icheckbox_minimal-grey',
							radioClass: 'iradio_minimal-grey'
						});
						jQuery('.gplTool select.select2').select2({
							placeholder: '{{ 'gpltool.choose_location'|trans }}'
						});

					});
					if (GplTool.submitted) {
						jQuery('a[href="#store-locator-tab"]').click();
					}
				});
			</script>
		{% endif %}
		{% if classificationBranch.lastStep.includeConcessionaryToolSection %}
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}"></script>
			<script type="text/javascript" src="{{ asset('js/richmarkerconcessionari.js') }}"></script>
			<script type="text/javascript">
				jQuery(function(){
					jQuery('a[href="#store-locator-tab"]').on('shown.bs.tab', function (e) {
						GplTool.init();
						jQuery('.gplTool input.icheck').iCheck({
							checkboxClass: 'icheckbox_minimal-grey',
							radioClass: 'iradio_minimal-grey'
						});
						jQuery('.gplTool select.select2').select2({
							placeholder: '{{ 'gpltool.choose_location'|trans }}'
						});

					});
					if (GplTool.submitted) {
						jQuery('a[href="#store-locator-tab"]').click();
					}
				});
			</script>
		{% endif %}
	{% endif %}
{% endblock %}
