{% extends '@App/base.html.twig' %}

{% block uppermain %}
    <section class="banner">
    	<div class="contrast">
            <h1>{{page.title}}</h1>
            {% if page.bannerImage %}
                <img alt="" title="" src="{% path page.bannerImage, 'reference' %}" />
            {% else %}
                <img alt="" title="" src="{{ asset('bundles/app/img/banner-default.jpg') }}" />
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block main %}
	
	<style>
        ul li .row a:hover h3 {
          color: #ffd328;
          text-decoration: underline;
        }
        ul li .row a {
          text-decoration: none;
        }
        section.content-listing.search-result.level-2 {
          padding-left: 5%;
          padding-right: 5%;
        }
        #prod-search  { margin-top: 0; }
        .nav.nav-tabs { display: none; }
    </style>	
	
    <div id="main-content" class="container">
        {{ render(controller('AppBundle:SearchProduct:search',{'tab': tab})) }}
        <section class="level-2 content-listing search-result">
            <div class="text-intro" style="max-width: 100%;">
                <h1 style="width: auto;"><span style="color: #0885AE">{{ resultsCount }}</span> {{ 'search_product.result-for-search' | trans | raw }} &ldquo;{{ searchString }}&rdquo;</h1>
            </div>
            <ul class="row">
                {% for result in results %}
                    <li class="col-sm-12">
                        <div class="row">
                            {% if result.image %}
                            <div class="col col-sm-2">

                                    <img alt="" title="" height="96" src="{% path result.image, 'reference' %}" />
                            </div>
                            {% endif %}
                            <div class="col-sm-12 text" style="padding: 0;">
                            	<a href="{{ path('product_list', { }) }}{{ result.uri }}">
                    				<h3>{{ result.title }}</h3>
                    				<p style="color: darkgray;">{{ app.request.getSchemeAndHttpHost() }}{{ path('product_list', { }) }}{{ result.uri }}</p>
                    			</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </section>
    </div>

{% endblock %}

