{% extends '@App/base.html.twig' %}

{% block uppermain %}
    <section class="banner">
    	<div class="contrast">
            <h1>{{page.title}}</h1>
            {% if page.bannerImage %}
                <img alt="" title="" src="{% path page.bannerImage, 'reference' %}" />
            {% else %}
                <img alt="" title="" src="{{ asset('bundles/app/img/banner-default.jpg') }}" />
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block main %}

    <div id="main-content" class="container">
        {{ render(controller('AppBundle:SearchProduct:search',{'tab': tab})) }}
        <section class="level-2 content-listing search-result">
            <div class="text-intro">
                <h1><span style="color: #0885AE">{{ resultsCount }}</span> {{ 'search_product.result-for-search' | trans | raw }} &ldquo;{{ searchString }}&rdquo;</h1>
            </div>
            <ul class="row">
                {% for result in results %}
                    <li class="col-sm-12">
                        <div class="row">
                            {% if result.image %}
                            <div class="col col-sm-2">

                                    <img alt="" title="" height="96" src="{% path result.image, 'reference' %}" />
                            </div>
                            {% endif %}
                            <div class="col-sm-10 text">
                                <h3>{{ result.title }}<a href=" {{ path('product_list', { }) }}{{ result.uri }}"> {{ 'search_product.link_label' | trans | raw }}</a></h3>
                                <p> {{ result.abstract }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </section>
    </div>

{% endblock %}

