<div class="athos row">
	<div class="col-sm-7 col-md-8">
		<div class="text">
		{{'athos.search_text'|trans | raw}}
		</div>
	</div>
	<div class="col-sm-5 col-md-4">
		<section class="banner-athos">
			{{'athos.search_button'|trans | raw}}
		</section>
	</div>
</div>