{% if breadcrumb is defined and breadcrumb.items is defined%}

    <ol class="row lower breadcrumb">
    
        {% for item in breadcrumb.items %}
                {% if loop.last %}
                	<li class="active">
                		{% if item.title != "EMPTY" %}
                	        {{ item.title }}
                	    {% else %}
                	    	{{ 'product.product_empty' | trans }}
                	    {% endif %}
                	</li>
                {% else %}
                	<li><a title="{{ item.title }}" href="{{ item.url }}">{{ item.title }}</a></li>                	
                {% endif %}
        {% endfor %}

    </ol>

{% endif%}