<p id="cookie-bar">
    <span class="text">
        {{'cookie_bar.intro'|trans | raw}}
        <a title="Cookie Policy" href="{{'cookie_bar.href'|trans | raw}}">{{'cookie_bar.click_here'|trans | raw}}</a>.
    </span>

    <span class="btn-ylw">{{'cookie_bar.close'|trans | raw}}</span>
</p>


