<div class="modal full fade" id="countryModal" tabindex="-1" role="dialog" aria-labelledby="countryModalSelection" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content countries">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="sr-only">close</span>X</button>
        <div class="container-fluid">
          <h4 class="modal-title" id="countryModalSelection">Select your Country</h4>
        </div>
      </div>

      <div class="modal-body">
        <div class="container-fluid">

          <div class="block-grid-xs-2 block-grid-sm-4 block-grid-md-5 block-grid-lg-6">
          
			<div>
              <h5>
				{% image '@AppBundle/Resources/countryModal/img/blank.gif' output='/img/blank.gif' %}
				  <img class="flag flag-it" src="{{ asset_url }}" alt="Italia"/>
				{% endimage %}
			  </h5>
              <ul class="list-unstyled">
                <li><a href="{{ path('homepage', { 'locale': 'it_IT' }) }}" title="">Italiano</a></li>
                <li><a href="{{ path('homepage', { 'locale': 'en_GB' }) }}" title="">English</a></li>
              </ul>
            </div>
            
            <div>
              <h5>
				{% image '@AppBundle/Resources/countryModal/img/blank.gif' output='/img/blank.gif' %}
				  <img class="flag flag-be" src="{{ asset_url }}" alt="Benelux"/>
				{% endimage %}
			  </h5>
              <ul class="list-unstyled">
                <li><a href="{{ path('homepage', { 'locale': 'nl_BX' }) }}" title="">Nederlands</a></li>
                <li><a href="{{ path('homepage', { 'locale': 'fr_BX' }) }}" title="">Français</a></li>
                <li><a href="{{ path('homepage', { 'locale': 'en_BX' }) }}" title="">English</a></li>
              </ul>
            </div>
            
            <div>
              <h5>
			    {% image '@AppBundle/Resources/countryModal/img/blank.gif' output='/img/blank.gif' %}
				  <img class="flag flag-de" src="{{ asset_url }}" alt="Germany"/>
			    {% endimage %}
			  </h5>
              <ul class="list-unstyled">
                <li><a href="{{ path('homepage', { 'locale': 'de_DE' }) }}" title="">Deutsch</a></li>
                <li><a href="{{ path('homepage', { 'locale': 'en_DE' }) }}" title="">English</a></li>
              </ul>
            </div>
            
            <div>
              <h5>
				{% image '@AppBundle/Resources/countryModal/img/blank.gif' output='/img/blank.gif' %}
				  <img class="flag flag-es" src="{{ asset_url }}" alt="Iberia"/>
				{% endimage %}
			  </h5>
              <ul class="list-unstyled">
                <li><a href="{{ path('homepage', { 'locale': 'es_ES' }) }}" title="">Español</a></li>
              </ul>
            </div>
            
            <div>
              <h5>
				{% image '@AppBundle/Resources/countryModal/img/blank.gif' output='/img/blank.gif' %}
				  <img class="flag flag-lu" src="{{ asset_url }}" alt="Benelux"/>
				{% endimage %}
			  </h5>
              <ul class="list-unstyled">
                <li><a href="{{ path('homepage', { 'locale': 'fr_BX' }) }}" title="">Français</a></li>
                <li><a href="{{ path('homepage', { 'locale': 'en_BX' }) }}" title="">English</a></li>
              </ul>
            </div>
            
            <div>
              <h5>
				{% image '@AppBundle/Resources/countryModal/img/blank.gif' output='/img/blank.gif' %}
				  <img class="flag flag-ie" src="{{ asset_url }}" alt="Benelux"/>
				{% endimage %}
			  </h5>
              <ul class="list-unstyled">
                <li><a href="{{ path('homepage', { 'locale': 'en_BX' }) }}" title="">English</a></li>
              </ul>
            </div>
            
            <div>
              <h5>
				{% image '@AppBundle/Resources/countryModal/img/blank.gif' output='/img/blank.gif' %}
				  <img class="flag flag-is" src="{{ asset_url }}" alt="Benelux"/>
				{% endimage %}
			  </h5>
              <ul class="list-unstyled">
                <li><a href="{{ path('homepage', { 'locale': 'en_BX' }) }}" title="">English</a></li>
              </ul>
            </div>

            <div>
              <h5>
				{% image '@AppBundle/Resources/countryModal/img/blank.gif' output='/img/blank.gif' %}
				  <img class="flag flag-nl" src="{{ asset_url }}" alt="Benelux"/>
				{% endimage %}
			  </h5>
              <ul class="list-unstyled">
                <li><a href="{{ path('homepage', { 'locale': 'nl_BX' }) }}" title="">Nederlands</a></li>
                <li><a href="{{ path('homepage', { 'locale': 'en_BX' }) }}" title="">English</a></li>
              </ul>
            </div>
            
            <div>
              <h5>
				{% image '@AppBundle/Resources/countryModal/img/blank.gif' output='/img/blank.gif' %}
				  <img class="flag flag-pt" src="{{ asset_url }}" alt="Iberia"/>
				{% endimage %}
			  </h5>
              <ul class="list-unstyled">
                <li><a href="{{ path('homepage', { 'locale': 'pt_PT' }) }}" title="">Português</a></li>
              </ul>
            </div>
            
            <div>
              <h5>
				{% image '@AppBundle/Resources/countryModal/img/blank.gif' output='/img/blank.gif' %}
				  <img class="flag flag-gb" src="{{ asset_url }}" alt="Benelux"/>
				{% endimage %}
			  </h5>
              <ul class="list-unstyled">
                <li><a href="{{ path('homepage', { 'locale': 'en_BX' }) }}" title="">English</a></li>
              </ul>
            </div>
            
            <div>
              <h5>
				{% image '@AppBundle/Resources/countryModal/img/blank.gif' output='/img/blank.gif' %}
				  <img class="flag flag-apac" src="{{ asset_url }}" alt="Apac"/>
				{% endimage %}
			  </h5>
              <ul class="list-unstyled">
                <li><a href="{{ path('homepage', { 'locale': 'en_APAC' }) }}" title="">English</a></li>
              </ul>
            </div>
            
            

            <!--div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-gb" alt="United Kingdom" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">English (UK)</a></li>
              </ul>
            </div>

            <div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-ie" alt="Ireland" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">English</a></li>
              </ul>
            </div>

            <div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-no" alt="Norway" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">Norsk</a></li>
                <li><a href="#" title="">English</a></li>
              </ul>
            </div>

            <div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-se" alt="Sweden" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">Svenska</a></li>
                <li><a href="#" title="">English</a></li>
              </ul>
            </div>

            <div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-dk" alt="Denmark" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">Dansk</a></li>
                <li><a href="#" title="">English</a></li>
              </ul>
            </div>

            <div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-fi" alt="Finland" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">Suomi</a></li>
                <li><a href="#" title="">English</a></li>
              </ul>
            </div>

            <div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-at" alt="Austria" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">Deutsh</a></li>
                <li><a href="#" title="">English</a></li>
              </ul>
            </div>

            <div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-es" alt="Spain" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">Español</a></li>
                <li><a href="#" title="">English</a></li>
              </ul>
            </div>

            <div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-fr" alt="France" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">Français</a></li>
                <li><a href="#" title="">English</a></li>
              </ul>
            </div>

            <div class="wrap-svizzera">
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-ch" alt="Svizzera" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">English</a></li>
                <li><a href="#" title="">Italiano</a></li>
                <li><a href="#" title="">Français</a></li>
                <li><a href="#" title="">Deutsch</a></li>
              </ul>
            </div>

            <div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-cn" alt="China" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">中文</a></li>
                <li><a href="#" title="">English</a></li>
              </ul>
            </div>

            <div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-us" alt="United States" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">Español</a></li>
                <li><a href="#" title="">English</a></li>
              </ul>
            </div>

            <div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-ec" alt="Ecuador" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">English (US)</a></li>
              </ul>
            </div>


            <div>
              <h5><img src="assets/images/flags/blank.gif" class="flag flag-ru" alt="Russian Federation" /></h5>
              <ul class="list-unstyled">
                <li><a href="#" title="">Pусский</a></li>
                <li><a href="#" title="">English</a></li>
              </ul>
            </div-->



          </div>

        </div>
      </div>

    </div>
  </div>
</div>