{# {% if  app.getRequest().getLocale() == 'de_DE' or app.getRequest().getLocale() == 'en_DE' %}#}

<section id="lubricantDataSheet-search" class="tabs-disabled">

    <!-- Tab panes -->
    <div class="tab-content container-fluid">
        <section role="tabpanel" class="tab-pane active">
            <div class="row input-row">
                <form class="form-search-for-category" action="{{ url }}" method="get">
                    <div class="form-group col col-md-1 col-xs-12">
                        <!-- serve come spazio -->
                    </div>

                    <div class="form-group col col-md-4 col-xs-12">
                        <span class="iconBarile"> {{ title }}</span>
                    </div>

                    <input type="submit" value="{{ 'search_product.search' | trans | raw }}"
                           id='link-search-lube-datasheet'/>

                </form>
            </div>
        </section>

    </div>
</section>

{#{% endif %}#}