<footer>

    <div class="container">
        <div class="logo">{{'footer.powered'|trans | raw}}</div>
    </div>
    
    <div class="main clearfix">
        <div class="container">
            <div class="col col-md-8 col-sm-12 col-xs-12">
                <p class="row upper">
    				{{'footer.company.intro' |trans | raw}}
                </p>
    
                <div class="row middle no-before no-after">
                    <div class="col col-md-5 col-sm-4 col-xs-12 col-no-offset-left">
                        {{'footer.company.block1'|trans | raw}}
                    </div>
    
                    <div class="col col-md-7 col-sm-4 col-xs-12 col-no-offset-right">
                         {{'footer.company.block2'|trans | raw}}
                    </div>
                </div>
    
                <div class="row lower">
                    <div class="col col-md-5 col-sm-0 col-no-offset-left">
                        {{'footer.company.block3'|trans | raw}}
                    </div>
    
                    <div class="col col-md-7 col-sm-4 col-no-offset-right">
                        {{'footer.company.block4'|trans | raw}}
                    </div>
                </div>
            </div>
    
            <nav class="col col-md-4 col-sm-0">
                <ul>
                    <li class="col col-md-6 odd">
                        {{ render(controller('AppBundle:Menu:footer1Menu',{})) }}  
                    </li>
    
                    <li class="col col-md-6 even">
                         {{ render(controller('AppBundle:Menu:footer3Menu',{})) }}  
                    </li>
    
                    <li class="col col-md-6 odd">
                         {{ render(controller('AppBundle:Menu:footer2Menu',{})) }}  
                    </li>
    
                    <li class="col col-md-6 even">
                        {{ render(controller('AppBundle:Menu:footerSitesMenu',{})) }}  
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</footer>