<h4>{{ menu.label }}</h4>

<div class="dropdown dropup other-sites">
    <button class="btn btn-default dropdown-toggle" type="button" id="other-sites-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    	{{'footer.select'|trans}}<span class="caret">&nbsp;</span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="other-sites-dropdown-button">
        {% for item in menu.items %}
        	<li>
            	<a title="{{ item.title }}" href="{{ item.url }}" {% if item.type == 'External' %} target="_blank" {% endif %}>
            	{{ item.title }}
            	</a>
        	</li>
        {% endfor %}
    </ul>
</div>

