<h4>{{ menu.label }}</h4>
<ul>
    {% for item in menu.items %}
    	<li><a title="{{ item.title }}" href="{{ item.url }}" {% if item.type == 'External' %} target="_blank" {% endif %}>{{ item.title }}</a></li>
    {% endfor %}
</ul>