<nav class="main">
	<ul>
    {% for item in menu.items %}
    	{% if item.format == 'PRODUCT_MENU' %}
    	    <li>
        		<span class="products-menu-toggle" title="" href="#">{{ item.title }}</span>    
        	    {{ render(controller('AppBundle:Product:menu', {'type': 'header', 'root': null, 'startLevel': 1, 'depth':2, 'activeClassificationBranch': null})) }}
    	    </li>      
   		{% else %}	 
    		<li><a title="{{ item.title }}" href="{{ item.url }}" {% if item.type == 'External' %} target="_blank" {% endif %}>{{ item.title }}</a></li>
    	{% endif %}
    {% endfor %}
	</ul>
</nav>
