<div class="row middle">

	<span id="show-mobile-menu" class="icon">&nbsp;</span>
	<div class="mobile-language-select">
		{% include "AppBundle:frontend/partial:lang_switcher.html.twig" %}
	</div>
    <h5 class="logoh1">
        <a title="" href="{{path('homepage')}}">
            <span>{{'header.jingle'|trans | raw}}</span>
        </a>
        eni oil products
    </h5>

    {{ render(controller('AppBundle:Menu:header2Menu',{})) }}  
    
    {{ render(controller('AppBundle:Menu:headerMobileMenu',{})) }}  
    
</div>


