<div id="country-select">
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="country-select-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			{{ menu.label }} <span class="caret">&nbsp;</span>
		</button>

		<ul class="dropdown-menu" aria-labelledby="country-select-dropdown-button">
			{% for item in menu.items %}
            	<li>
                    {% if  item.url %}
            		<a title="{{ item.title }}" href="{{ item.url }}" {% if item.type == 'External' %} target="_blank" {% endif %}>
            	    {{ item.title }}
            		</a>
                    {% else %}
                        <span> {{ item.title }} </span>
                    {% endif %}
            	</li>
            {% endfor %}
		</ul>
	</div>
</div>