{% for item in menu.items %}
	<li><a title="{{ item.title }}" href="{{ item.url }}" {% if item.format starts with 'CLASS_' %} class="{{ item.format | replace({'CLASS_': ""}) }}" {% endif %} {% if item.type == 'External' %} target="_blank" {% endif %}>{{ item.title }}</a></li>
{% endfor %}