<div class="col col-md-6 col-sm-6 col-xs-12 col-no-offset-left">

    {% set highlightedPost = highlightedPosts.0 %}
    
    {% if highlightedPost.previewImage %}
    <article class="highlight" style="background-image: url('{% path highlightedPost.previewImage, 'reference' %}')"> 
    {% else %}
    <article class="highlight" style="background-image: url('{{ asset('bundles/app/img/news-preview.jpg') }}')"> 
    {% endif %}
        <em class="tipo-highlight {{(highlightedPost.type|lower)}}">{{ ('post.' ~ (highlightedPost.type|lower)) |trans}}</em>
        <a class="imagelink" href="{{ path('post_detail', { slug: highlightedPost.slug }) }}">
        {% if highlightedPost.previewImage %}
            <img alt="{{ highlightedPost.title }}" title="{{ highlightedPost.title }}" src="{% path highlightedPost.previewImage, 'reference' %}" />  
        {% else %}
            <img alt="" title="" src="{{ asset('bundles/app/img/news-preview.jpg') }}" />
        {% endif %}
        </a>
        <div class="text">
            <h2><a title="{{ 'post.hp.go_to_news' | trans | raw}}" href="{{ path('post_detail', { slug: highlightedPost.slug }) }}">{{ highlightedPost.title }}</a></h2>

            <p class="when">{{ highlightedPost.subtitle}}</p>

            {{ highlightedPost.abstract | raw}}

            <a class="btn-ylw" title="{{ 'post.hp.go_to_news' | trans | raw}}" href="{{ path('post_detail', { slug: highlightedPost.slug }) }}">{{ 'post.hp.go_to_news' | trans | raw}}</a>
        </div>

        <span class="img-overlay">&nbsp;</span>
    </article>

</div>


<div class="col col-md-6 col-sm-6 col-xs-12 col-no-offset-right">
    {% if highlightedPosts.1 and highlightedPosts.1.highlight%}
        {% set highlightedPost = highlightedPosts.1 %}

        {% if highlightedPost.previewImage %}
        <article class="highlight" style="background-image: url('{% path highlightedPost.previewImage, 'reference' %}')"> 
        {% else %}
        <article class="highlight" style="background-image: url('{{ asset('bundles/app/img/news-preview.jpg') }}')"> 
        {% endif %}
            <em class="tipo-highlight {{(highlightedPost.type|lower)}}">{{ ('post.' ~ (highlightedPost.type|lower)) |trans}}</em>
            <a class="imagelink" href="{{ path('post_detail', { slug: highlightedPost.slug }) }}">
            {% if highlightedPost.previewImage %}
                <img alt="{{ highlightedPost.title }}" title="{{ highlightedPost.title }}" src="{% path highlightedPost.previewImage, 'reference' %}" />  
            {% else %}
                <img alt="" title="" src="{{ asset('bundles/app/img/news-preview.jpg') }}" />
            {% endif %}
            </a>
            <div class="text">
                <h2><a title="{{ 'post.hp.go_to_news' | trans | raw}}" href="{{ path('post_detail', { slug: highlightedPost.slug }) }}">{{ highlightedPost.title }}</a></h2>
    
                <p class="when">{{ highlightedPost.subtitle}}</p>
    
                {{ highlightedPost.abstract | raw}}
    
                <a class="btn-ylw" title="{{ 'post.hp.go_to_news' | trans | raw}}" href="{{ path('post_detail', { slug: highlightedPost.slug }) }}">{{ 'post.hp.go_to_news' | trans | raw}}</a>
            </div>
    
            <span class="img-overlay">&nbsp;</span>
        </article>


    {% else %}
        <ul class="articles">
            {% for post in otherPosts %}
                <li>
                    <article>
                        <em class="tipo-highlight {{(post.type|lower)}}">{{ ('post.' ~ (post.type|lower)) |trans}}</em>

                        <h2><a title="{{ 'post.hp.go_to_news' | trans | raw}}" href="{{ path('post_detail', { slug: post.slug }) }}">{{ post.title }}</a></h2>

                        <p class="when">{{ post.subtitle}}</p>
                    </article>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>