{% set backgroundImage = '' %}
{% for slide in slider %}
    {% if slide.image %} 
        {% set backgroundImage = slide.image %}   
    {% endif %}
{% endfor %}
	  
<section class="carousel-container blocked-background fixed">
    <div id="carousel-main-alt" class="carousel slide" data-ride="carousel" style="background-image: url('{% path backgroundImage, 'reference' %}')" >
        <!-- Nav Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-main-alt" data-slide-to="0" class="active">&nbsp;</li>
            <li data-target="#carousel-main-alt" data-slide-to="1">&nbsp;</li>
        </ol>

        <!-- Content -->
        <div class="carousel-inner" role="listbox">
            {% for slide in slider %}
            
                <div class="item {% if loop.first%} active {% endif %}">
                        <div class="carousel-caption">
                            <h2>
                                <span>{{ slide.firstLine | trans | raw }}</span>
                                <span>{{ slide.secondLine | trans | raw }}</span>
                            </h2>
                        </div>
                    </div>
            {% endfor %}
            </div>

        </div>
    </div>
</section>
