<section class="carousel-container fixed">
    <div id="carousel-main" class="carousel slide" data-ride="carousel">
        <!-- Nav Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-main" data-slide-to="0" class="active">&nbsp;</li>
            <li data-target="#carousel-main" data-slide-to="1">&nbsp;</li>
        </ol>

        <!-- Content -->
        <div class="carousel-inner" role="listbox">
            {% for slide in slider %}
            
                <div class="item {% if loop.first%} active {% endif %}" {% if slide.image %} style="background-image: url('{% path slide.image, 'reference' %}')"{% endif %}>
                        <div class="carousel-caption">
                            <h2>
                                <span>{{ slide.firstLine | trans | raw }}</span>
                                <span>{{ slide.secondLine | trans | raw }}</span>
                            </h2>
                        </div>
                    </div>
            {% endfor %}
            </div>

        </div>
</section>
