{% if language_switcher_type == 'none'%}
 
{% else %}
	<li id="language-select">
        <a href="#" data-toggle="modal" data-target="#countryModal" title="">
			{% image '@AppBundle/Resources/countryModal/img/mondo.svg'
				output='/img/mondo.svg' %}
				<img class="lang-world" src="{{ asset_url }}" alt="choose you language"/>
			{% endimage %}
		</a>
    </li>
{% endif %}	

