<div class="carousel-container">
    <div id="carousel-highlights" class="carousel slide" data-ride="carousel">

        <!-- Content -->
        <div class="carousel-inner" role="listbox">
            {% for item in slider %}
                {% if loop.first%}
                	{% if item.slide.image %}
                		<div class="item backgroundSize active" style='background-image: url("{% path item.slide.image, 'reference' %}")'>
					{% else %}                
                    	<div class="item active">
                    {% endif %}
                {% else %}
                    {% if item.slide.image %}
                    	<div class="item backgroundSize" style='background-image: url("{% path item.slide.image, 'reference' %}")'>
                    {% else %}                
                    	<div class="item">
                    {% endif %}
                {% endif %}
                        <div class="carousel-caption">
                            <em class="tipo-highlight services">{{ item.slide.badge | trans | raw }}</em>
                            <h2>{{ item.slide.firstLine | trans | raw }}</h2>
                            <p class="content">{{ item.slide.secondLine | trans | raw }}</p>
                            {% if item.link %}
                                {% if item.link.external %}
                                    <a class="btn-ylw" title="{{ item.link.title }}" href="{{ item.link.url }}" target="_blank">{{ item.link.label | trans | raw }}</a>
                                {% else %}
                                    <a class="btn-ylw" title="{{ item.link.title }}" href="{{ item.link.url }}" >{{ item.link.label | trans | raw }}</a>
                                {% endif %}
                            {% endif %}
                            {% if item.link2 %}
                            	<br><br>
                                {% if item.link2.external %}                                	
                                    <a class="btn-ylw" title="{{ item.link2.title }}" href="{{ item.link2.url }}" target="_blank">{{ item.link2.label | trans | raw }}</a>
                                {% else %}
                                    <a class="btn-ylw" title="{{ item.link2.title }}" href="{{ item.link2.url }}" >{{ item.link2.label | trans | raw }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
            {% endfor %}
        </div>
        
        <!-- Nav Indicators -->
        <ol class="carousel-indicators">
            {% for item in slider %}
                {% if loop.first%}
                    <li data-target="#carousel-highlights" data-slide-to="{{loop.index0}}" class="active"></li>
                {% else %}
                    <li data-target="#carousel-highlights" data-slide-to="{{loop.index0}}"></li>
                {% endif %}
            {% endfor %}
        </ol>

    </div>
</div>