<nav class="main-mobile">
    <ul>
        {% for item in menu.items %}
            {% if item.format == 'PRODUCT_MENU' %}
            	<li>
            		<a class="products-menu-toggle" title="" href="#">{{ item.title }} <span class="icon">&nbsp;</span></a>    
            	    {{ render(controller('AppBundle:Product:menu', {'type': 'mobile', 'root': null, 'startLevel': 1, 'depth':2, 'activeClassificationBranch': null})) }}
    	   		</li>  
            {% else %}	 
        		<li><a title="{{ item.title }}" href="{{ item.url }}" {% if item.format starts with 'CLASS_' %} class="{{ item.format | replace({'CLASS_': ""}) }}" {% endif %}>{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}

        <li>
             {{'header_mobile.visit_eni'|trans | raw}}
        </li>
    </ul>
</nav>


