<section id="prod-search" class="tabs">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="col col-md-6 col-xs-6 {%  if tab == null or tab == 'category-tab-activator' %} active {% endif %}" id="category-tab-activator">
            <a href="#category" aria-controls="category" role="tab" data-toggle="tab">{{ 'search_product.search_for_category' | trans | raw}}</a>
        </li>
        <li role="presentation" class="col col-md-6 col-xs-6 {%  if tab == 'code-tab-activator' %} active {% endif %} "  id="code-tab-activator">
            <a href="#code" aria-controls="category" role="tab" data-toggle="tab">{{ 'search_product.search_by_product_code' | trans | raw}}</a>
        </li>

	</ul>

	<!-- Tab panes -->
	<div class="tab-content container-fluid">
		<section role="tabpanel" class="tab-pane {%  if tab == null or tab == 'category-tab-activator' %} active {% endif %} category" id="category">
            <div class="row">
                {{ 'search_product.search_for_category_title' | trans | raw}}
                
                <a href="{{ path('product_list', { }) }}" title="">{{ 'search_product.go_to_products_page' | trans | raw}}</a>
            </div>

            <div class="row input-row">
                <form class="form-search-for-category">
                    <div class="form-group col col-md-5 col-xs-12">
                        <select id="product-category" style="width: 100%;">
                            <option value='' selected="selected">{{ 'search_product.select_a_category' | trans | raw}}</option>
							{% for category in categories %}
								<option value="{{ category.id }}">{{ category.title }}</option>
							{% endfor %}
                        </select>
					</div>
					<div class="form-group col col-md-5 col-xs-12">
                        <select disabled id="product-filters" style="width: 100%;">
                            <option value='' selected="selected">{{ 'search_product.use_a_filter' | trans | raw}}</option>
                        </select>
					</div>
                    <input disabled type="submit" value="{{ 'search_product.search' | trans | raw}}" id='search-product' />

                </form>
            </div>
		</section>

		<section role="tabpanel" class="tab-pane  {%  if tab == 'code-tab-activator' %} active {% endif %} code" id="code">
            <div class="row">
                {{ 'search_product.search_by_product_code_title' | trans | raw}}

                <a href="{{ path('product_list', { }) }}" title="">{{ 'search_product.go_to_products_page' | trans | raw}}</a>
            </div>

            <div class="row input-row">
                <form data-action="{{ path('search', { productName:  '' } ) }}" id="search-by-code">
                    <div class="form-group">
                        <input type="text" name="productCode" list="productNames" autocomplete="off" class="col col-md-5 col-xs-12" id="product-code"/>
						<datalist id="productNames">
	                        {% for productName in productsNames %}
	                            {% for key,value in productName %}
									<option value="{{ value }}">
								{% endfor %}
							{% endfor %}
                        </datalist>
						
                        <input  type="submit" class="col col-md-5 col-xs-12" value="{{ 'search_product.search' | trans | raw}}" id='search-product-code' />
                    </div>
                </form>
            </div>
		</section>
	</div>
</section>
<script type="text/javascript">
	var SearchProduct = SearchProduct || {
		categories: { },
		filters: { }
	}

	SearchProduct.categories = {
		{% for category in categories %}
			{{ category.id }}: { 'href': '{{ path('product_detail', { 'slug': url_service.getDynamicSlugFromBranch(category) }) }}'}{% if not loop.last %},{% endif %}
		{% endfor %}
	}

	SearchProduct.filters = {
		{% for key, values in filters %}
			{{ key }}: {
				{% for filter in values %}
					{{ filter.id }}: { 'label': '{{ filter.title }}', 'href': '{{ path('product_detail', { 'slug': url_service.getDynamicSlugFromBranch([categories[key],filter]) }) }}' }{% if not loop.last %},{% endif %}
				{% endfor %}
			}{% if not loop.last %},{% endif %}
		{% endfor %}
	}
</script>

