
<section class="banner banner-contacts col-xs-0" style='background-image: url("{{ asset('bundles/app/img/banner-contacts.jpg') }}")'>
   	<div class="contrast">
        <span class="icon">&nbsp;</span>
        <h1>{{ 'undermain.message' | trans | raw }}</h1>
        {% if slug is defined and slug != '' %}
            <a class="btn-ylw" title="{{ 'undermain.calltoaction' | trans | raw }}" href="{{ path('contact_detail', { slug: slug }) }}">{{ 'undermain.calltoaction' | trans | raw }}</a>
        {% else %}
            <a class="btn-ylw" title="{{ 'undermain.calltoaction' | trans | raw }}" href="{{ path('contact_list') }}">{{ 'undermain.calltoaction' | trans | raw }}</a>
        {% endif %}
    </div>
</section>