{% extends '@App/base.html.twig' %}

{% block main %}

<div id="main-content" class="container">
    <section class="content-listing news level-1 container-fluid">
        <div class="text-intro">
            <h1>{{page.title}}</h1>
    		
            {{'post.list.intro' | trans | raw }}

        </div>
    
        <ul class="row preview-list highlights">
        
            {% for post in posts %}
			
    			<li class="col col-md-3 col-sm-6 col-xs-12">
                    <article class="highlight">
                        
                        <em class="tipo-highlight {{(post.type|lower)}}">{{ ('post.' ~ (post.type|lower)) |trans}}</em>
                        <a class="imagelink" href="{{ path('post_detail', { slug: post.slug }) }}">
                        {% if post.previewImage %}
                        	<img alt="{{ post.title }}" title="{{ post.title }}" src="{% path post.previewImage, 'reference' %}" />   
                        {% else %}   
                           <img alt="" title="" src="{{ asset('bundles/app/img/news-preview.jpg') }}" />   
                        {% endif %}
                        </a>
                        <a class="imagelink" href="{{ path('post_detail', { slug: post.slug }) }}">
                        <h2>{{ post.title }}</h2>
                        </a>
                        <p class="when">{{ post.subtitle}}</p>
        
                        {{ post.abstract | raw}}

                    </article>
                </li>
    
            {% endfor %}
    
        </ul>
    </section>
</div>

{% endblock %}

