{% extends '@App/base.html.twig' %}

{% block main %}

<div id="main-content" class="container">
	<div class="news level-2 news-detail container-fluid">
		<div class="text-intro">
            <em>{{ ('post.' ~ (post.type|lower)) |trans}}</em>

            <h1>{{ post.title }}</h1>

            <p class="when">{{ post.referenceDate | format_date('dd MMMM y, HH:mm', app.request.getLocale(), null) }}</p>            
            
		</div>

		<article class="row event-review">
            <div class="text">
                {{ post.abstract | raw}}
            </div>

            {% if post.detailImage %}
               <img alt="{{ post.title }}" title="{{ post.title }}" src="{% path post.detailImage, 'reference' %}" />  
            {% endif %}
            
            <div class="text">
                {{ post.main | raw}}
            </div>
            
            <p class="back-to-top">
            	<span class="icon">&nbsp;</span>
                {{'page.back_to_top'|trans | raw}}
            </p>

		</article>
	</div>
</div>

{% endblock %}







