
.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}

.has-feedback label.sr-only~.form-control-feedback{top:0}

.sr-only{position:absolute;width:.1rem;height:.1rem;padding:0;margin:-.1rem;overflow:hidden;clip:rect(0,0,0,0);border:0}

.alert-dismissable .close,.alert-dismissible .close{position:relative;top:-2px;right:-21px;color:inherit}
.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}

.fade{opacity:0;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;-moz-transition:opacity .15s linear;transition:opacity .15s linear}
.fade.in{opacity:1}
.flag
.embed-responsive,.modal,.modal-open,.progress{overflow:hidden}

.modal-title,.popover,.tooltip{line-height:1.42857}
.popover,.text-hide,.tooltip{text-shadow:none}
.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.5;filter:alpha(opacity=50)}
button.close{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}
.modal{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;-webkit-overflow-scrolling:touch;outline:0}
.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before{display:table;content:" "}
.modal.fade .modal-dialog{-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);-moz-transform:translate(0,-25%);transform:translate(0,-25%);-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;-moz-transition:transform .3s ease-out,-moz-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out,-moz-transform .3s ease-out,-o-transform .3s ease-out}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);-moz-transform:translate(0,0);transform:translate(0,0)}
.centered-elm,.centered-elm.top-centered{-moz-transform:translate(0,-50%);-o-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-webkit-transform:translate(0,-50%)}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-dialog{position:relative;width:auto;margin:10px}
.modal-content{position:relative;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,.2);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);-moz-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);-moz-background-clip:padding-box;background-clip:padding-box;outline:0}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}
.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}
.modal-header{padding:15px;border-bottom:1px solid #e5e5e5}
.modal-header .close{margin-top:-2px}
.modal-title{margin:0}
.modal-body{position:relative;padding:15px}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);-moz-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}
.modal-sm{width:300px}
}
@media (min-width:992px){.modal-lg{width:900px}
}

.container,.container-fluid{margin-right:auto;margin-left:auto}
.table,address{margin-bottom:20px}
blockquote .small,blockquote footer,blockquote small{display:block;font-size:80%;line-height:1.42857;color:#777}
.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before{display:table;content:" "}
blockquote .small:before,blockquote footer:before,blockquote small:before{content:'\2014 \00A0'}
.blockquote-reverse,blockquote.pull-right{padding-right:15px;padding-left:0;border-right:5px solid #eee;border-left:0;text-align:right}
.container,.container-fluid{padding:10px}
.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-right:-10px;margin-left:-10px}
@media (min-width:768px){
	.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-right:0;margin-left:0}
	.navbar-fixed-bottom,.navbar-fixed-top,.navbar-static-top{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
	.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{margin-left:-10px}
}

.container-fluid{max-width:1440px}

@media (min-width:768px){
	#wrapper{padding-top:130px}
	.container-fluid{padding:15px}
}

.list-inline,.list-unstyled{padding-left:0;list-style:none}
#social-share:after,.box-container:after,.clearfix:after,.container-fluid:after,.container:after,.dropdown-menu>li>a,.form-horizontal .form-group:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.panel-body:after,.row:after,.section-no-sidebar .box .cont:after,.section-no-sidebar .catalogue-abstract:after,.section-no-sidebar .product-abstract:after,.section-no-sidebar .promotions-list:after,.section-no-sidebar:after,.section-with-sidebar .box .cont:after,.section-with-sidebar .catalogue-abstract:after,.section-with-sidebar .product-abstract:after,.section-with-sidebar .promotions-list:after,.section-with-sidebar:after,[class*=block-grid-]:after{clear:both}

.flag{display:inline-block;width:64px;height:64px;background:url('../bundles/app/img/flags.png') no-repeat}
.flag.flag-ad{background-position:-64px 0}
.flag.flag-ae{background-position:-128px 0}
.flag.flag-af{background-position:-192px 0}
.flag.flag-ag{background-position:-256px 0}
.flag.flag-ai{background-position:-320px 0}
.flag.flag-al{background-position:-384px 0}
.flag.flag-am{background-position:-448px 0}
.flag.flag-an{background-position:-512px 0}
.flag.flag-ao{background-position:-576px 0}
.flag.flag-ar{background-position:-640px 0}
.flag.flag-as{background-position:-704px 0}
.flag.flag-at{background-position:-768px 0}
.flag.flag-au{background-position:-832px 0}
.flag.flag-aw{background-position:-896px 0}
.flag.flag-ax{background-position:-960px 0}
.flag.flag-az{background-position:0 -64px}
.flag.flag-ba{background-position:-64px -64px}
.flag.flag-bb{background-position:-128px -64px}
.flag.flag-bd{background-position:-192px -64px}
.flag.flag-be{background-position:-256px -64px}
.flag.flag-bf{background-position:-320px -64px}
.flag.flag-bg{background-position:-384px -64px}
.flag.flag-bh{background-position:-448px -64px}
.flag.flag-bi{background-position:-512px -64px}
.flag.flag-bj{background-position:-576px -64px}
.flag.flag-bl{background-position:-640px -64px}
.flag.flag-bm{background-position:-704px -64px}
.flag.flag-bn{background-position:-768px -64px}
.flag.flag-bo{background-position:-832px -64px}
.flag.flag-br{background-position:-896px -64px}
.flag.flag-bs{background-position:-960px -64px}
.flag.flag-bt{background-position:0 -128px}
.flag.flag-bw{background-position:-64px -128px}
.flag.flag-by{background-position:-128px -128px}
.flag.flag-bz{background-position:-192px -128px}
.flag.flag-ca{background-position:-256px -128px}
.flag.flag-cd{background-position:-320px -128px}
.flag.flag-cf{background-position:-384px -128px}
.flag.flag-cg{background-position:-448px -128px}
.flag.flag-ch{background-position:-512px -128px}
.flag.flag-ci{background-position:-576px -128px}
.flag.flag-ck{background-position:-640px -128px}
.flag.flag-cl{background-position:-704px -128px}
.flag.flag-cm{background-position:-768px -128px}
.flag.flag-cn{background-position:-832px -128px}
.flag.flag-co{background-position:-896px -128px}
.flag.flag-cr{background-position:-960px -128px}
.flag.flag-cu{background-position:0 -192px}
.flag.flag-cv{background-position:-64px -192px}
.flag.flag-cw{background-position:-128px -192px}
.flag.flag-cy{background-position:-192px -192px}
.flag.flag-cz{background-position:-256px -192px}
.flag.flag-de{background-position:-320px -192px}
.flag.flag-dj{background-position:-384px -192px}
.flag.flag-dk{background-position:-448px -192px}
.flag.flag-dm{background-position:-512px -192px}
.flag.flag-do{background-position:-576px -192px}
.flag.flag-dz{background-position:-640px -192px}
.flag.flag-ec{background-position:-704px -192px}
.flag.flag-ee{background-position:-768px -192px}
.flag.flag-eg{background-position:-832px -192px}
.flag.flag-eh{background-position:-896px -192px}
.flag.flag-er{background-position:-960px -192px}
.flag.flag-es{background-position:0 -256px}
.flag.flag-et{background-position:-64px -256px}
.flag.flag-eu{background-position:-128px -256px}
.flag.flag-fi{background-position:-192px -256px}
.flag.flag-fj{background-position:-256px -256px}
.flag.flag-fk{background-position:-320px -256px}
.flag.flag-fm{background-position:-384px -256px}
.flag.flag-fo{background-position:-448px -256px}
.flag.flag-fr{background-position:-512px -256px}
.flag.flag-ga{background-position:-576px -256px}
.flag.flag-gb{background-position:-640px -256px}
.flag.flag-gd{background-position:-704px -256px}
.flag.flag-ge{background-position:-768px -256px}
.flag.flag-gg{background-position:-832px -256px}
.flag.flag-gh{background-position:-896px -256px}
.flag.flag-gi{background-position:-960px -256px}
.flag.flag-gl{background-position:0 -320px}
.flag.flag-gm{background-position:-64px -320px}
.flag.flag-gn{background-position:-128px -320px}
.flag.flag-gq{background-position:-192px -320px}
.flag.flag-gr{background-position:-256px -320px}
.flag.flag-gs{background-position:-320px -320px}
.flag.flag-gt{background-position:-384px -320px}
.flag.flag-gu{background-position:-448px -320px}
.flag.flag-gw{background-position:-512px -320px}
.flag.flag-gy{background-position:-576px -320px}
.flag.flag-hk{background-position:-640px -320px}
.flag.flag-hn{background-position:-704px -320px}
.flag.flag-hr{background-position:-768px -320px}
.flag.flag-ht{background-position:-832px -320px}
.flag.flag-hu{background-position:-896px -320px}
.flag.flag-ic{background-position:-960px -320px}
.flag.flag-id{background-position:0 -384px}
.flag.flag-ie{background-position:-64px -384px}
.flag.flag-il{background-position:-128px -384px}
.flag.flag-im{background-position:-192px -384px}
.flag.flag-in{background-position:-256px -384px}
.flag.flag-iq{background-position:-320px -384px}
.flag.flag-ir{background-position:-384px -384px}
.flag.flag-is{background-position:-448px -384px}
.flag.flag-it{background-position:-512px -384px}
.flag.flag-je{background-position:-576px -384px}
.flag.flag-jm{background-position:-640px -384px}
.flag.flag-jo{background-position:-704px -384px}
.flag.flag-jp{background-position:-768px -384px}
.flag.flag-ke{background-position:-832px -384px}
.flag.flag-kg{background-position:-896px -384px}
.flag.flag-kh{background-position:-960px -384px}
.flag.flag-ki{background-position:0 -448px}
.flag.flag-km{background-position:-64px -448px}
.flag.flag-kn{background-position:-128px -448px}
.flag.flag-kp{background-position:-192px -448px}
.flag.flag-kr{background-position:-256px -448px}
.flag.flag-kw{background-position:-320px -448px}
.flag.flag-ky{background-position:-384px -448px}
.flag.flag-kz{background-position:-448px -448px}
.flag.flag-la{background-position:-512px -448px}
.flag.flag-lb{background-position:-576px -448px}
.flag.flag-lc{background-position:-640px -448px}
.flag.flag-li{background-position:-704px -448px}
.flag.flag-lk{background-position:-768px -448px}
.flag.flag-lr{background-position:-832px -448px}
.flag.flag-ls{background-position:-896px -448px}
.flag.flag-lt{background-position:-960px -448px}
.flag.flag-lu{background-position:0 -512px}
.flag.flag-lv{background-position:-64px -512px}
.flag.flag-ly{background-position:-128px -512px}
.flag.flag-ma{background-position:-192px -512px}
.flag.flag-mc{background-position:-256px -512px}
.flag.flag-md{background-position:-320px -512px}
.flag.flag-me{background-position:-384px -512px}
.flag.flag-mf{background-position:-448px -512px}
.flag.flag-mg{background-position:-512px -512px}
.flag.flag-mh{background-position:-576px -512px}
.flag.flag-mk{background-position:-640px -512px}
.flag.flag-ml{background-position:-704px -512px}
.flag.flag-mm{background-position:-768px -512px}
.flag.flag-mn{background-position:-832px -512px}
.flag.flag-mo{background-position:-896px -512px}
.flag.flag-mp{background-position:-960px -512px}
.flag.flag-mq{background-position:0 -576px}
.flag.flag-mr{background-position:-64px -576px}
.flag.flag-ms{background-position:-128px -576px}
.flag.flag-mt{background-position:-192px -576px}
.flag.flag-mu{background-position:-256px -576px}
.flag.flag-mv{background-position:-320px -576px}
.flag.flag-mw{background-position:-384px -576px}
.flag.flag-mx{background-position:-448px -576px}
.flag.flag-my{background-position:-512px -576px}
.flag.flag-mz{background-position:-576px -576px}
.flag.flag-na{background-position:-640px -576px}
.flag.flag-nc{background-position:-704px -576px}
.flag.flag-ne{background-position:-768px -576px}
.flag.flag-nf{background-position:-832px -576px}
.flag.flag-ng{background-position:-896px -576px}
.flag.flag-ni{background-position:-960px -576px}
.flag.flag-nl{background-position:0 -640px}
.flag.flag-no{background-position:-64px -640px}
.flag.flag-np{background-position:-128px -640px}
.flag.flag-nr{background-position:-192px -640px}
.flag.flag-nu{background-position:-256px -640px}
.flag.flag-nz{background-position:-320px -640px}
.flag.flag-om{background-position:-384px -640px}
.flag.flag-pa{background-position:-448px -640px}
.flag.flag-pe{background-position:-512px -640px}
.flag.flag-pf{background-position:-576px -640px}
.flag.flag-pg{background-position:-640px -640px}
.flag.flag-ph{background-position:-704px -640px}
.flag.flag-pk{background-position:-768px -640px}
.flag.flag-pl{background-position:-832px -640px}
.flag.flag-pn{background-position:-896px -640px}
.flag.flag-pr{background-position:-960px -640px}
.flag.flag-ps{background-position:0 -704px}
.flag.flag-pt{background-position:-64px -704px}
.flag.flag-pw{background-position:-128px -704px}
.flag.flag-py{background-position:-192px -704px}
.flag.flag-qa{background-position:-256px -704px}
.flag.flag-ro{background-position:-320px -704px}
.flag.flag-rs{background-position:-384px -704px}
.flag.flag-ru{background-position:-448px -704px}
.flag.flag-rw{background-position:-512px -704px}
.flag.flag-sa{background-position:-576px -704px}
.flag.flag-sb{background-position:-640px -704px}
.flag.flag-sc{background-position:-704px -704px}
.flag.flag-sd{background-position:-768px -704px}
.flag.flag-se{background-position:-832px -704px}
.flag.flag-sg{background-position:-896px -704px}
.flag.flag-sh{background-position:-960px -704px}
.flag.flag-si{background-position:0 -768px}
.flag.flag-sk{background-position:-64px -768px}
.flag.flag-sl{background-position:-128px -768px}
.flag.flag-sm{background-position:-192px -768px}
.flag.flag-sn{background-position:-256px -768px}
.flag.flag-so{background-position:-320px -768px}
.flag.flag-sr{background-position:-384px -768px}
.flag.flag-ss{background-position:-448px -768px}
.flag.flag-st{background-position:-512px -768px}
.flag.flag-sv{background-position:-576px -768px}
.flag.flag-sy{background-position:-640px -768px}
.flag.flag-sz{background-position:-704px -768px}
.flag.flag-tc{background-position:-768px -768px}
.flag.flag-td{background-position:-832px -768px}
.flag.flag-tf{background-position:-896px -768px}
.flag.flag-tg{background-position:-960px -768px}
.flag.flag-th{background-position:0 -832px}
.flag.flag-tj{background-position:-64px -832px}
.flag.flag-tk{background-position:-128px -832px}
.flag.flag-tl{background-position:-192px -832px}
.flag.flag-tm{background-position:-256px -832px}
.flag.flag-tn{background-position:-320px -832px}
.flag.flag-to{background-position:-384px -832px}
.flag.flag-tr{background-position:-448px -832px}
.flag.flag-tt{background-position:-512px -832px}
.flag.flag-tv{background-position:-576px -832px}
.flag.flag-tw{background-position:-640px -832px}
.flag.flag-tz{background-position:-704px -832px}
.flag.flag-ua{background-position:-768px -832px}
.flag.flag-ug{background-position:-832px -832px}
.flag.flag-us{background-position:-896px -832px}
.flag.flag-uy{background-position:-960px -832px}
.flag.flag-uz{background-position:0 -896px}
.flag.flag-va{background-position:-64px -896px}
.flag.flag-vc{background-position:-128px -896px}
.flag.flag-ve{background-position:-192px -896px}
.flag.flag-vg{background-position:-256px -896px}
.flag.flag-vi{background-position:-320px -896px}
.flag.flag-vn{background-position:-384px -896px}
.flag.flag-vu{background-position:-448px -896px}
.flag.flag-wf{background-position:-512px -896px}
.flag.flag-ws{background-position:-576px -896px}
.flag.flag-ye{background-position:-640px -896px}
.flag.flag-yt{background-position:-704px -896px}
.flag.flag-za{background-position:-768px -896px}
.flag.flag-zm{background-position:-832px -896px}
.flag.flag-zw{background-position:-896px -896px}
.flag.flag-apac{background-position:-960px -896px}

[class*=block-grid-]{display:block;margin:-15px;padding:0 .9375rem}
[class*=block-grid-]:after,[class*=block-grid-]:before{content:" ";display:table}
[class*=block-grid-]>*{display:inline;padding:15px;height:auto;float:left;list-style:none}
.block-grid-xs-1>*{width:100%}
.block-grid-xs-1>:nth-of-type(n){clear:none}
.block-grid-xs-1>:nth-of-type(1n+1){clear:both}
.block-grid-xs-2>*{width:50%}
.block-grid-xs-2>:nth-of-type(n){clear:none}
.block-grid-xs-2>:nth-of-type(2n+1){clear:both}
.block-grid-xs-3>*{width:33.333333333333336%}
.block-grid-xs-3>:nth-of-type(n){clear:none}
.block-grid-xs-3>:nth-of-type(3n+1){clear:both}
.block-grid-xs-4>*{width:25%}
.block-grid-xs-4>:nth-of-type(n){clear:none}
.block-grid-xs-4>:nth-of-type(4n+1){clear:both}
.block-grid-xs-5>*{width:20%}
.block-grid-xs-5>:nth-of-type(n){clear:none}
.block-grid-xs-5>:nth-of-type(5n+1){clear:both}
.block-grid-xs-6>*{width:16.666666666666668%}
.block-grid-xs-6>:nth-of-type(n){clear:none}
.block-grid-xs-6>:nth-of-type(6n+1){clear:both}
.block-grid-xs-7>*{width:14.285714285714286%}
.block-grid-xs-7>:nth-of-type(n){clear:none}
.block-grid-xs-7>:nth-of-type(7n+1){clear:both}
.block-grid-xs-8>*{width:12.5%}
.block-grid-xs-8>:nth-of-type(n){clear:none}
.block-grid-xs-8>:nth-of-type(8n+1){clear:both}
.block-grid-xs-9>*{width:11.11111111111111%}
.block-grid-xs-9>:nth-of-type(n){clear:none}
.block-grid-xs-9>:nth-of-type(9n+1){clear:both}
.block-grid-xs-10>*{width:10%}
.block-grid-xs-10>:nth-of-type(n){clear:none}
.block-grid-xs-10>:nth-of-type(10n+1){clear:both}
.block-grid-xs-11>*{width:9.090909090909092%}
.block-grid-xs-11>:nth-of-type(n){clear:none}
.block-grid-xs-11>:nth-of-type(11n+1){clear:both}
.block-grid-xs-12>*{width:8.333333333333334%}
.block-grid-xs-12>:nth-of-type(n){clear:none}
.block-grid-xs-12>:nth-of-type(12n+1){clear:both}
@media (min-width:768px){.block-grid-sm-1>*{width:100%}
.block-grid-sm-1>:nth-of-type(n){clear:none}
.block-grid-sm-1>:nth-of-type(1n+1){clear:both}
.block-grid-sm-2>*{width:50%}
.block-grid-sm-2>:nth-of-type(n){clear:none}
.block-grid-sm-2>:nth-of-type(2n+1){clear:both}
.block-grid-sm-3>*{width:33.333333333333336%}
.block-grid-sm-3>:nth-of-type(n){clear:none}
.block-grid-sm-3>:nth-of-type(3n+1){clear:both}
.block-grid-sm-4>*{width:25%}
.block-grid-sm-4>:nth-of-type(n){clear:none}
.block-grid-sm-4>:nth-of-type(4n+1){clear:both}
.block-grid-sm-5>*{width:20%}
.block-grid-sm-5>:nth-of-type(n){clear:none}
.block-grid-sm-5>:nth-of-type(5n+1){clear:both}
.block-grid-sm-6>*{width:16.666666666666668%}
.block-grid-sm-6>:nth-of-type(n){clear:none}
.block-grid-sm-6>:nth-of-type(6n+1){clear:both}
.block-grid-sm-7>*{width:14.285714285714286%}
.block-grid-sm-7>:nth-of-type(n){clear:none}
.block-grid-sm-7>:nth-of-type(7n+1){clear:both}
.block-grid-sm-8>*{width:12.5%}
.block-grid-sm-8>:nth-of-type(n){clear:none}
.block-grid-sm-8>:nth-of-type(8n+1){clear:both}
.block-grid-sm-9>*{width:11.11111111111111%}
.block-grid-sm-9>:nth-of-type(n){clear:none}
.block-grid-sm-9>:nth-of-type(9n+1){clear:both}
.block-grid-sm-10>*{width:10%}
.block-grid-sm-10>:nth-of-type(n){clear:none}
.block-grid-sm-10>:nth-of-type(10n+1){clear:both}
.block-grid-sm-11>*{width:9.090909090909092%}
.block-grid-sm-11>:nth-of-type(n){clear:none}
.block-grid-sm-11>:nth-of-type(11n+1){clear:both}
.block-grid-sm-12>*{width:8.333333333333334%}
.block-grid-sm-12>:nth-of-type(n){clear:none}
.block-grid-sm-12>:nth-of-type(12n+1){clear:both}
}
@media (min-width:992px){.block-grid-md-1>*{width:100%}
.block-grid-md-1>:nth-of-type(n){clear:none}
.block-grid-md-1>:nth-of-type(1n+1){clear:both}
.block-grid-md-2>*{width:50%}
.block-grid-md-2>:nth-of-type(n){clear:none}
.block-grid-md-2>:nth-of-type(2n+1){clear:both}
.block-grid-md-3>*{width:33.333333333333336%}
.block-grid-md-3>:nth-of-type(n){clear:none}
.block-grid-md-3>:nth-of-type(3n+1){clear:both}
.block-grid-md-4>*{width:25%}
.block-grid-md-4>:nth-of-type(n){clear:none}
.block-grid-md-4>:nth-of-type(4n+1){clear:both}
.block-grid-md-5>*{width:20%}
.block-grid-md-5>:nth-of-type(n){clear:none}
.block-grid-md-5>:nth-of-type(5n+1){clear:both}
.block-grid-md-6>*{width:16.666666666666668%}
.block-grid-md-6>:nth-of-type(n){clear:none}
.block-grid-md-6>:nth-of-type(6n+1){clear:both}
.block-grid-md-7>*{width:14.285714285714286%}
.block-grid-md-7>:nth-of-type(n){clear:none}
.block-grid-md-7>:nth-of-type(7n+1){clear:both}
.block-grid-md-8>*{width:12.5%}
.block-grid-md-8>:nth-of-type(n){clear:none}
.block-grid-md-8>:nth-of-type(8n+1){clear:both}
.block-grid-md-9>*{width:11.11111111111111%}
.block-grid-md-9>:nth-of-type(n){clear:none}
.block-grid-md-9>:nth-of-type(9n+1){clear:both}
.block-grid-md-10>*{width:10%}
.block-grid-md-10>:nth-of-type(n){clear:none}
.block-grid-md-10>:nth-of-type(10n+1){clear:both}
.block-grid-md-11>*{width:9.090909090909092%}
.block-grid-md-11>:nth-of-type(n){clear:none}
.block-grid-md-11>:nth-of-type(11n+1){clear:both}
.block-grid-md-12>*{width:8.333333333333334%}
.block-grid-md-12>:nth-of-type(n){clear:none}
.block-grid-md-12>:nth-of-type(12n+1){clear:both}
}
@media (min-width:1200px){.block-grid-lg-1>*{width:100%}
.block-grid-lg-1>:nth-of-type(n){clear:none}
.block-grid-lg-1>:nth-of-type(1n+1){clear:both}
.block-grid-lg-2>*{width:50%}
.block-grid-lg-2>:nth-of-type(n){clear:none}
.block-grid-lg-2>:nth-of-type(2n+1){clear:both}
.block-grid-lg-3>*{width:33.333333333333336%}
.block-grid-lg-3>:nth-of-type(n){clear:none}
.block-grid-lg-3>:nth-of-type(3n+1){clear:both}
.block-grid-lg-4>*{width:25%}
.block-grid-lg-4>:nth-of-type(n){clear:none}
.block-grid-lg-4>:nth-of-type(4n+1){clear:both}
.block-grid-lg-5>*{width:20%}
.block-grid-lg-5>:nth-of-type(n){clear:none}
.block-grid-lg-5>:nth-of-type(5n+1){clear:both}
.block-grid-lg-6>*{width:16.666666666666668%}
.block-grid-lg-6>:nth-of-type(n){clear:none}
.block-grid-lg-6>:nth-of-type(6n+1){clear:both}
.block-grid-lg-7>*{width:14.285714285714286%}
.block-grid-lg-7>:nth-of-type(n){clear:none}
.block-grid-lg-7>:nth-of-type(7n+1){clear:both}
.block-grid-lg-8>*{width:12.5%}
.block-grid-lg-8>:nth-of-type(n){clear:none}
.block-grid-lg-8>:nth-of-type(8n+1){clear:both}
.block-grid-lg-9>*{width:11.11111111111111%}
.block-grid-lg-9>:nth-of-type(n){clear:none}
.block-grid-lg-9>:nth-of-type(9n+1){clear:both}
.block-grid-lg-10>*{width:10%}
.block-grid-lg-10>:nth-of-type(n){clear:none}
.block-grid-lg-10>:nth-of-type(10n+1){clear:both}
.block-grid-lg-11>*{width:9.090909090909092%}
.block-grid-lg-11>:nth-of-type(n){clear:none}
.block-grid-lg-11>:nth-of-type(11n+1){clear:both}
.block-grid-lg-12>*{width:8.333333333333334%}
.block-grid-lg-12>:nth-of-type(n){clear:none}
.block-grid-lg-12>:nth-of-type(12n+1){clear:both}
}

#language-select a:focus{outline: none;}
.lang-world{width:41px;height:26px;margin:0 5px;outline: none;}
.mobile-language-select{display:none;}
.modal.full .modal-dialog,.modal.full:before{display:inline-block;height:100%;vertical-align:middle}
.modal.full{padding:0!important;text-align:center}
.modal.full:before{content:'';margin-right:-4px}
.modal.full .close{opacity:1;filter:alpha(opacity=100);font-size:3rem;font-weight:500}
.modal.full .modal-dialog{width:100%;text-align:left;margin:0}
.modal.full .modal-dialog .modal-content{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border:0;min-height:450px}
.modal.full .modal-dialog .modal-content.countries{background-image:url('../bundles/app/img/europa_trasparente.jpg');background-repeat:no-repeat;background-position:50%;-moz-background-size:cover;background-size:cover}
.modal.full .modal-dialog .modal-content.countries .modal-header{border:0}.modal.full .modal-dialog .modal-content.countries .modal-body{background:0 0;font-size:2rem;padding:0;width:100%}
.modal.full .modal-dialog .modal-content.countries .modal-body [class*=block-grid-]{padding-right:1.5rem;padding-left:1.5rem;margin:0}
.modal.full .modal-dialog .modal-content.countries .modal-body [class*=block-grid-]>:nth-of-type(n){padding-top:0;padding-bottom:0}
.modal.full .modal-dialog .modal-content.countries .modal-body ul li{display:block;font-size:1.6rem;font-weight:600;margin-bottom:1.5rem;white-space:nowrap}
.modal.full .modal-dialog .modal-content.countries .modal-body ul li a{color:#333}
.modal.full .modal-dialog .modal-content .modal-header{padding:3rem 15px 15px;border-bottom:0}
.modal.full .modal-dialog .modal-content .modal-header .modal-title{font-family:EniTabBold,sans-serif;padding-bottom:3rem;border-bottom:solid 2px #aaa;font-size:3rem;line-height:normal}

@media (max-width:768px){
	.mobile-language-select{
		float: right;
	    display: block;
	    margin-top: 20px;
	    margin-right: 8px;
	    display: block;
	}
}

@media (min-width:768px){
	.modal.full .modal-dialog{height:auto;width:85%}
	.modal.full .modal-dialog .modal-content.countries .modal-body{padding:0 45px 15px;font-size:3rem;height:auto}
	.modal.full .modal-dialog .modal-content.countries .modal-body [class*=block-grid-]{padding:0;margin:-15px}
	.modal.full .modal-dialog .modal-content.countries .modal-body ul li{font-size:1.4rem;margin-bottom:1rem}
	.modal.full .modal-dialog .modal-content.countries .modal-body ul li:last-child{margin-bottom:0}
	.modal.full .modal-dialog .modal-content .modal-header{padding:3rem 30px 15px}
}

@media (min-width:992px){
	.modal.full .modal-dialog .modal-content .container{width:100%}
	.modal.full .modal-dialog .modal-content.countries .modal-body .flags{margin-bottom:.5rem}
}