{% extends '@App/base.html.twig' %}

{% block uppermain %}
	{% if page.bannerImage %}
	<section class="banner backgroundSize productsLandingBanner" style='background-image: url("{% path page.bannerImage, 'reference' %}")'>
	{% else %} 
	<section class="banner backgroundSize productsLandingBanner" style='background-image: url("{{ asset('bundles/app/img/banner-default.jpg') }}")'>
	{% endif %}
		<div class="contrast">
        	{% if page.title != "EMPTY" %}
                    <h1>{{page.title}}</h1>
            {% else %}
            		<h1>{{'product.product_empty' | trans }}</h1>
            {% endif %}
        </div>
	</section>
{% endblock %}

{% block main %}

<div id="main-content" class="container">

   {{ render(controller('AppBundle:SearchProduct:search',{})) }}  

	<section class="content-listing products level-1 container-fluid">
	    <ul class="row">
	    
	    {% for classificationBranch in classificationBranches %}
	    
			<li class="col col-md-3 col-sm-6">
			    <div class="overlay-wrapper">
					<span class="overlay">&nbsp;</span>
					<span class="overlay icon">&nbsp;</span>
					{% if classificationBranch.lastStep.previewImage %}
					   	<img alt="{{ classificationBranch.lastStep.title}}" title="{{ classificationBranch.lastStep.title}}" src="{% path classificationBranch.lastStep.previewImage, 'reference' %}" />  
					{% else %}
					    <img alt="" title="" src="{{ asset('bundles/app/img/prod-preview.jpg') }}" />   
	                {% endif %}
			    </div>
		
			    <h2>{{classificationBranch.lastStep.title}}</h2>
		
			    <a class="link-to-content" title="{{classificationBranch.lastStep.title}}" href="{{path('product_detail', { slug: classificationBranch.lastStep.slug }) }}">&nbsp;</a>
			</li>
		
		{% endfor %}
		
	    </ul>
	</section>
		
    {{ render(controller('AppBundle:Germania:dataSheetBanner')) }}  
	{{ render(controller('AppBundle:Benelux:dataSheetBanner')) }}
	{{ render(controller('AppBundle:Apac:dataSheetBanner')) }}
	{{ render(controller('AppBundle:Iberia:dataSheetBanner')) }}  
  	
</div>

{% endblock %}

