{% extends '@App/base.html.twig' %}

{% block uppermain %}
	{% if classificationBranch.lastStep.bannerImage %}
	<section class="banner backgroundSize" style='background-image: url("{% path classificationBranch.lastStep.bannerImage, 'reference' %}")'>
	{% else %} 
	<section class="banner backgroundSize" style='background-image: url("{{ asset('bundles/app/img/banner-default.jpg') }}")'>
	{% endif %}
		<div class="contrast">
        	{% if classificationBranch.lastStep.title != "EMPTY" %}
                    <h1>{{classificationBranch.lastStep.title}}</h1>
            {% else %}
            		<h1>{{'product.product_empty' | trans }}</h1>
            {% endif %}
        </div>  
	</section>
{% endblock %}

{% block main %}

    <div id="main-content" class="container">
    	<div class="container-fluid">
    		<div class="row">
    		
                {{ render(controller('AppBundle:Product:menu', {'type': 'left', 'root': null, 'startLevel': 1, 'depth':1, 'activeClassificationBranch': classificationBranch})) }}  
    
    			<section class="content-listing products level-2 col col-md-9 col-sm-12 container-fluid tab-content ">
    				<div role="tabpanel" id="tab-presentazione" class="tab-pane fade active in">
        				{% if classificationBranch.lastStep.description %}
            				<div class="text">
            					{{ classificationBranch.lastStep.description | raw}}
            				</div>   
            			{% else %}	
    						<br><br>        								
        				{% endif %}
    				</div>
    				
    				{% if classificationBranch.lastStep.includeConcessionaryToolSection %}
    					<div role="tabpanel" class="tab-pane fade" id="store-locator-tab">
    						{{ render(controller('AppBundle:Area:concessionaryTool', {'title': classificationBranch.lastStep.title} )) }}
    						<div class="clearfix"></div>
    					</div>
    					
    					<hr>
    					<br>
				    {% endif %}
    				
    				<ul class="row">
    					{% set count = 0 %}  
                	    {% for door in classificationBranch.doors %}
                			{% if door.lastStep.code != "EMPTY" %}
                            	{% set count = count + 1  %}
                    			<li class="col col-md-4 col-sm-6">
                                    <div class="overlay-wrapper">
                                        <span class="overlay">&nbsp;</span>
                                        <span class="overlay icon">&nbsp;</span>
                                        {% if door.lastStep.previewImage %}
                                            <img alt="{{ door.lastStep.title}}" title="{{ door.lastStep.title}}" src="{% path door.lastStep.previewImage, 'reference' %}" />  
                                        {% else %}   
                                           <img alt="" title="" src="{{ asset('bundles/app/img/news-preview.jpg') }}" />
                                        {% endif %}
                                    </div>
                        
                                    <h2>{{ door.lastStep.title}}</h2>
                        
                    			    <a class="link-to-content" title="{{door.lastStep.title}}" href="{{path('product_detail', { slug: door.slug }) }}">&nbsp;</a>
                            	</li>
                		    {% endif %}
                		{% endfor %}    				
					    {% if count == 0 %}
                        	<li class="col col-md-4 col-sm-6">
                        	 	<div class="overlay-wrapper">
                                    <span class="overlay">&nbsp;</span>
                                    <span class="overlay icon">&nbsp;</span>
                                    <img alt="" title="" src="{{ asset('bundles/app/img/news-preview.jpg') }}" />
                                </div>
                        		<h2>{{ 'product.product_empty' | trans }}</h2>
                            </li>
                        {% endif %}    
    				</ul>


					{% set brochure = classificationBranch.lastStep.brochure(app.request.getLocale()) %}
					{% set brochureIcon = classificationBranch.lastStep.brochureIcon(app.request.getLocale()) %}

					{% if brochure %}
						<section class="brochure-download">
							<h2>{{'product.download_brochure' | trans }}</h2>

				    		{% if brochureIcon %}

							    <a class="download custom-icon" title="{{ brochure.name }}" href="{{ path('sonata_media_download', {'id': brochure|sonata_urlsafeid}) }}">
							        <span><img src="{% path brochureIcon, 'reference' %}" /></span>

							{% else %}

							    <a class="download" title="{{  brochure.name }}" href="{{ path('sonata_media_download', {'id': brochure|sonata_urlsafeid}) }}">
							        <span>&nbsp;</span>

							{% endif %}

									<span>
	                    				<strong>{{ brochure.name }}</strong>
	                    				<br /> {{ macro.bytesToSize(brochure.size) }}
	                				</span>

								</a>
						</section>
					{% endif %}

    			</section>
    		</div>
    	</div>
    </div>
    
    
{% endblock %}    


{% block javascripts %}
    {{ parent() }}
	{% if classificationBranch.lastStep.includeConcessionaryToolSection %}
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}"></script>
		<script type="text/javascript" src="{{ asset('js/richmarkerconcessionari.js') }}"></script>
		<script type="text/javascript">
			jQuery(function(){
				jQuery("nav.content-nav-sidebar ul").eq(0).append('<li role="presentation"><a href="#store-locator-tab" aria-controls="store-locator-tab" role="tab" data-toggle="tab" title="Store Locator">{{ ('concessionarytool.dovesiamo' ~ classificationBranch.lastStep.title) | trans | raw}}</a></li>');
				
				jQuery('a[href="#store-locator-tab"]').on('shown.bs.tab', function (e) {
					GplTool.init();
					jQuery('.gplTool input.icheck').iCheck({
						checkboxClass: 'icheckbox_minimal-grey',
						radioClass: 'iradio_minimal-grey'
					});
					jQuery('.gplTool select.select2').select2({
						placeholder: '{{ 'gpltool.choose_location'|trans }}'
					});

				});
				if (GplTool.submitted) {
					jQuery('a[href="#store-locator-tab"]').click();
				}
			});
		</script>
	{% endif %}
{% endblock %}