<section class="content-listing products level-4 col col-md-9 col-sm-12 container-fluid">
	
	{% if classificationBranch.lastStep.description and classificationBranch.lastStep.detailImage %}
	
    	<section class="product-detail">
    	
            {% if classificationBranch.lastStep.detailImage %}
                <img alt="{{classificationBranch.lastStep.title}}" title="{{classificationBranch.lastStep.title}}" src="{% path classificationBranch.lastStep.detailImage, 'reference' %}" />  
            {% endif %}
    		
    		<div class="text">
    				{{classificationBranch.lastStep.description | raw}}
    		</div>	
    
    	</section>

	{% elseif classificationBranch.lastStep.description %}	

    		<div class="text">
    				{{classificationBranch.lastStep.description | raw}}
    		</div>	
    		
  	{% else %}	
  		<br><br>	
    {% endif %}

    
    {% set brochure = classificationBranch.lastStep.brochure(app.request.getLocale()) %}
    {% set brochureIcon = classificationBranch.lastStep.brochureIcon(app.request.getLocale()) %}

    {% if brochure %}
		<section class="brochure-download">
            <h2>{{'product.download_brochure' | trans }}</h2>

    		{% if brochureIcon %}

			    <a class="download custom-icon" title="{{ brochure.name }}" href="{{ path('sonata_media_download', {'id': brochure|sonata_urlsafeid}) }}">
			        <span><img src="{% path brochureIcon, 'reference' %}" /></span>

			{% else %}

			    <a class="download" title="{{  brochure.name }}" href="{{ path('sonata_media_download', {'id': brochure|sonata_urlsafeid}) }}">
                <span>&nbsp;</span>

			{% endif %}

                <span>
                    <strong>{{ brochure.name }}</strong> 
                    <br /> {{ macro.bytesToSize(brochure.size) }}
                </span>

            </a>
		</section>
	{% endif %}

	<section class="avail-products accordions">
 
        {% set count = 0 %}  
        {% for door in classificationBranch.doors %}
        	{% if door.lastStep.code != "EMPTY" %}
                {% set count = count + 1  %}
            {% endif %}
        {% endfor %}
        {% if count > 0 %}
        	<h2>{{'product.available_products' | trans }}</h2>
        {% endif %}
        {% if count == 0 %}
        	<h2>{{'product.product_empty' | trans }}</h2>
        {% endif %}
        
		<div class="panel-group" role="tablist" aria-multiselectable="true">
		{% for door in classificationBranch.doors %}
                 {{ include('AppBundle:frontend/product:product_accordion.html.twig', { 'product': door.lastStep, 'active':false }) }}            
        {% endfor %}
		</div>
		
		{% include "AppBundle:frontend/partial:athos.html.twig" %}

	</section>

</section>