{% extends '@App/base.html.twig' %}

{% block uppermain %}
	{% if classificationBranch.bannerImage %}
	<section class="banner backgroundSize" style='background-image: url("{% path classificationBranch.bannerImage, 'reference' %}")'>
	{% else %} 
	<section class="banner backgroundSize" style='background-image: url("{{ asset('bundles/app/img/banner-default.jpg') }}")'>
	{% endif %}
		<div class="contrast">
    		{% if classificationBranch.lastStep.code != "EMPTY" %}
                    <h1>{{classificationBranch.lastStep.title}}</h1>
            {% else %}
            		<h1>{{'product.product_empty' | trans }}</h1>
            {% endif %}
        	
        </div>
	</section>
{% endblock %}

{% block main %}

	<div id="main-content" class="container">
		<div class="container-fluid">
			<div class="row">

				{% if classificationBranch.menuStart %}
	                {{ render(controller('AppBundle:Product:menu', {'type': 'left', 'root': null, 'startLevel': classificationBranch.menuStart, 'depth':classificationBranch.menuDepth, 'activeClassificationBranch': classificationBranch})) }}  
                {% else %}
	                 {{ render(controller('AppBundle:Product:menu', {'type': 'left', 'root': classificationBranch, 'startLevel': 2, 'depth':3, 'activeClassificationBranch': classificationBranch})) }} 
                {% endif %}
				
				{% if classificationBranch.isSingleProduct %}
	                {{ include('AppBundle:frontend/product:product_lev5_single_detail.html.twig', { 'classificationBranch': classificationBranch }) }}
				{% else %}
	                {{ include('AppBundle:frontend/product:product_lev5_detail.html.twig', { 'classificationBranch': classificationBranch }) }}
				{% endif %}
                

			</div>
		</div>
	</div>

    
    
{% endblock %}    
