{% extends '@App/base.html.twig' %}

{% block uppermain %}
	{% if classificationBranch.bannerImage %}
	<section class="banner backgroundSize" style='background-image: url("{% path classificationBranch.bannerImage, 'reference' %}")'>
	{% else %} 
	<section class="banner backgroundSize" style='background-image: url("{{ asset('bundles/app/img/banner-default.jpg') }}")'>
	{% endif %}
		<div class="contrast">
        	{% if classificationBranch.lastStep.title != "EMPTY" %}
                    <h1>{{classificationBranch.lastStep.title}}</h1>
            {% else %}
            		<h1>{{'product.product_empty' | trans }}</h1>
            {% endif %}
        </div>
	</section>
{% endblock %}

{% block main %}

<div id="main-content" class="container">
	<div class="container-fluid">
		<div class="row">

            {{ render(controller('AppBundle:Product:menu', {'type': 'left', 'root': null, 'startLevel': 1, 'depth':2, 'activeClassificationBranch': classificationBranch})) }} 

			<section class="content-listing products level-3 col col-md-9 col-sm-12 container-fluid">
			
			{% set brochure = classificationBranch.lastStep.brochure(app.request.getLocale()) %}
            {% set brochureIcon = classificationBranch.lastStep.brochureIcon(app.request.getLocale()) %}
			
			{% if (classificationBranch.lastStep.description) or (brochure) %}
				<div class="text">
                    {% if classificationBranch.lastStep.description %}
                        {{ classificationBranch.lastStep.description | raw }}
    					<br><br><br><br>
                    {% endif %}
                    
                    {% if brochure %}
                    	
                		<section class="brochure-download" style="padding-bottom: 0; border-bottom: 0; margin-bottom: 0;">
                            <h2>{{'product.download_brochure' | trans }}</h2>
                
                    		{% if brochureIcon %}
                
                			    <a class="download custom-icon" title="{{ brochure.name }}" href="{{ path('sonata_media_download', {'id': brochure|sonata_urlsafeid}) }}">
                			        <span><img src="{% path brochureIcon, 'reference' %}" /></span>
                
                			{% else %}
                
                			    <a class="download" title="{{  brochure.name }}" href="{{ path('sonata_media_download', {'id': brochure|sonata_urlsafeid}) }}">
                                <span>&nbsp;</span>
                
                			{% endif %}
                
                                <span>
                                    <strong>{{ brochure.name }}</strong> 
                                    <br /> {{ macro.bytesToSize(brochure.size) }}
                                </span>
                
                            </a>
                		</section>
                	{% endif %}
                </div>       
            {% endif %}  
                           
               {% for subClassificationBranch in classificationBranch.doors %}
                
                    <section class="product-family motori container-fluid">
                    
                    {% if not subClassificationBranch.isLastStepEmpty %}
                    	<h2>{{ subClassificationBranch.lastStep.title }}</h2>
                    	<div class="text">
                    	    {{ subClassificationBranch.lastStep.description | raw }}
                    	</div>
                    {% else %}
                    	<h2>{{ classificationBranch.lastStep.title }}</h2>
                    	<div class="text">
                    	    {{ classificationBranch.lastStep.description | raw  }}
                    	</div>
                    {% endif %}
                     	<ul class="row">
                     	    {% set count = 0 %}  
                            {% for door in subClassificationBranch.doors %}
                            	{% if door.lastStep.code != "EMPTY" %}
                            	    {% set count = count + 1  %}
                                    <li class="col col-md-6 col-sm-6 col-xs-12">
                                        <div class="wrap">
                                        
                                            {% if door.lastStep.thumbImage %}
                                                <img alt="{{door.lastStep.title}}" title="{{door.lastStep.title}}" src="{% path door.lastStep.thumbImage, 'reference' %}" />  
                                            {% else %}   
                                            {% endif %}                						    
    
                                            <h3>{{door.lastStep.title }}</h3>
    
                                            <p>{{door.lastStep.shortDescription | striptags() | truncate(145, true) | raw   }} </p>
    
                                            <a href="{{path('product_detail', { slug: door.slug }) }}" title="{{door.lastStep.title}}" class="link-to-content">&nbsp;</a>
    
                                        </div>
                                    </li>
                                {% endif %}                             	
                            {% endfor %} 
                            {% if count == 0 %}
                            	<li class="col col-md-6 col-sm-6 col-xs-12">
                                     <div class="wrap">
                            			<h3>{{ 'product.product_empty' | trans }}</h3>
                            		 </div>
                                </li>
                            {% endif %}    
                        </ul>

                	</section> 
                
               {% endfor %} 
                
			</section>
		</div>
	</div>
</div>

    
    
{% endblock %}
