{% import _self as full_menu %}

<div class="products-menu-wrapper products-menu-wrapper-set-height">
    <span class="icon icon-triangle">&nbsp;</span>
	<div class="products-menu">
    
        <div class="link back">
            <span class="icon">&nbsp;</span>
    
            <a title="" href="">{{'product_menu.go_back' | trans }}</a>
        </div>
                                                    
    	<div class="link">
    		<a title="" href="{{path('product_list') }}">{{'product_menu.go_to_products' | trans }}</a>
    	</div>
    
        <ul>
            {{ full_menu.menu_links(classificationBranch, 1, startLevel, startLevel + depth -1) }}
        </ul>
        
    </div>

</div>


{% macro menu_links(classificationBranch, level, startLevel, endLevel) %}
    {% for door in classificationBranch.doors %}
    
        {% if door.hasDedicatedPage == false %}
            {{ _self.menu_links(door, level+1, startLevel, endLevel) }}
        
        {% elseif level< startLevel %}
            {{ _self.menu_links(door, level+1, startLevel, endLevel) }}
        
        {% elseif level <= endLevel %}
            <li>
            
            	{% if level == 1 %}
                    <div>
                    	<a href="{{path('product_detail', { slug: door.slug }) }}">{{'product_menu.go_to'|trans | raw}} {{ door.lastStep.title }}</a>
    		            <span class="icon">&nbsp;</span>
                    </div>
                {% endif %}
                
            	<div>
                    <a href="{{path('product_detail', { slug: door.slug }) }}" {% if door.active %} class="active" {% endif %} >{{ door.lastStep.title }}</a>
                    <span class="icon">&nbsp;</span>
                </div>    
                   
                    {% if door.doors %}
                        <ul>
                            {{ _self.menu_links(door, level+1, startLevel, endLevel) }}
                        </ul>
                    {% endif %}
               
            </li>
            
        {% endif %}        
    {% endfor %}
{% endmacro %}
				