{% import _self as classification_menu %}

<nav class="content-nav-sidebar col col-md-3 col-sm-0 {% if depth == 1 %} menu-level-1 {% endif %}">
    <ul>
        {{ classification_menu.menu_links(classificationBranch, 1, startLevel, startLevel + depth -1) }}
    </ul>
</nav>

{% macro menu_links(classificationBranch, level, startLevel, endLevel) %}
    {% for door in classificationBranch.doors %}
        {% if door.lastStep.code != "EMPTY" %}
            {% if door.isLastStepEmpty %}
                {{ _self.menu_links(door, level+1, startLevel, endLevel) }}
    
            {% elseif door.hasDedicatedPage == false %}
    
                {{ _self.menu_links(door, level+1, startLevel, endLevel) }}
            
            {% elseif level< startLevel %}
                {{ _self.menu_links(door, level+1, startLevel, endLevel) }}
            
            {% elseif level <= endLevel %}
                <li>
                    <a href="{{path('product_detail', { slug: door.slug }) }}" {% if door.active %} class="active" {% endif %} >{{ door.lastStep.title }}</a>
                    {% if door.doors %}
                        <ul {% if door.active %} style="display: block" {% endif %}>
                            {{ _self.menu_links(door, level+1, startLevel, endLevel) }}
                        </ul>
                    {% endif %}
                </li>
            {% endif %} 
        {% endif %}        
    {% endfor %}
{% endmacro %}