{% extends '@App/base.html.twig' %}

{% block uppermain %}
   {{ render(controller('AppBundle:Slider:jumboSlider',{})) }}  	
{% endblock %}



{% block main %}

<div id="main-content" class="container">

   {{ render(controller('AppBundle:SearchProduct:search',{})) }}


    <section class="highlights">
        <div class="col col-md-6 col-sm-12 col-xs-12 col-no-offset-left">
            {{ render(controller('AppBundle:Slider:linkSlider',{})) }}
        </div>

        <div class="col col-md-6 col-sm-12 col-xs-12 col-no-offset-right">
               {{ render(controller('AppBundle:Post:highlightsPosts',{})) }}
        </div>
    </section>
</div>

{% endblock %}









