{% extends '@App/base.html.twig' %}

{% block uppermain %}
	{% if page.bannerImage %}
	<section class="banner backgroundSize" style='background-image: url("{% path page.bannerImage, 'reference' %}")'>
	{% else %} 
	<section class="banner backgroundSize" style='background-image: url("{{ asset('bundles/app/img/banner-default.jpg') }}")'>
	{% endif %}
		<div class="contrast">
        	<h1>{{page.title}}</h1>
        </div>	
	</section>
{% endblock %}

{% block main %}

<div id="main-content" class="container">

	<section class="content-listing products level-1 container-fluid">
	
	    <div class="text-intro">
            {{'businessolution.list.intro' | trans | raw }}
        </div>
	
	    <ul class="row preview-list">
	    
	    {% for businesssolution in businesssolutions %}
	    
			<li class="col col-md-3 col-sm-6">
			    <div class="overlay-wrapper">
					<span class="overlay">&nbsp;</span>
					<span class="overlay icon">&nbsp;</span>
					{% if businesssolution.previewImage %}
					   	<img alt="{{ businesssolution.title}}" title="{{ businesssolution.title}}" src="{% path businesssolution.previewImage, 'reference' %}" />  
					{% else %}
					    <img alt="" title="" src="{{ asset('bundles/app/img/prod-preview.jpg') }}" />   
	                {% endif %}
			    </div>
		
			    <h2>{{ businesssolution.title}}</h2>
				<p>{{ businesssolution.description|trans | raw }}</p>
			    <a class="link-to-content" title="{{businesssolution.title}}" href="{{path('businesssolution_detail', { slug: businesssolution.slug }) }}">&nbsp;</a>
			</li>
		
		{% endfor %}
		
	    </ul>
	</section>
	
	{{ render(controller('AppBundle:Germania:dataSheetBanner')) }}  
	{{ render(controller('AppBundle:Benelux:dataSheetBanner')) }}
	{{ render(controller('AppBundle:Apac:dataSheetBanner')) }}
	{{ render(controller('AppBundle:Iberia:dataSheetBanner')) }}
</div>

{% endblock %}

